<?xml version="1.0" encoding="UTF-8"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<window xmlns:h="http://www.zkoss.org/2005/zk/native"
        xmlns="http://www.zkoss.org/2005/zul" id="rapidDetailPaymentBillAll"
        apply="com.viettel.module.payment.Controller.DetailPaymentBill"
>
    <style src="/Share/css/formstyle.css" />
    <script type="text/javascript" src="/Share/js/UPMSamples.js" />
    <script defer="true">
        toolBar.widget = "rapidDetailPaymentInfoAll";
    </script>
    <style>
            div.z-listbox-header th.z-listheader-sort div.z-listheader-cnt, 
            div.z-listbox-header th.z-listheader-sort-asc div.z-listheader-cnt, 
            div.z-listbox-header th.z-listheader-sort-dsc div.z-listheader-cnt {
            word-wrap: break-word;
            }
        </style>
    
    <h:div id="topToolbar" class="toolBar">
    </h:div>
    <h:div class="contentDiv">
        <include id="incSearchFullForm"
                 src="/Pages/module/payment/searchPaymentBillForm.zul" />
    </h:div> 
    <groupbox id="gbPaymentInfo" mold="3d" visible="true"
    >  
        <caption label="Danh sách biên lai của doanh nghiệp" />
        <h:div class="contentDiv">
            <paging id="userPagingTop" pageSize="10" detailed="true" />
            <listbox id="lbListBill" emptyMessage="Không có biên lai nào"  >
                <listhead sizable="true">
                    <listheader label="STT" align="center" hflex="min" tooltiptext="Số thứ tự" style="white-space: normal;" vflex="true" sort="auto"/>
                    <listheader label="Mã biên lai" width="80px" tooltiptext="Mã biên lai" style="white-space: normal;" vflex="true" sort="auto"/>
                    <listheader label="Người thanh toán"  tooltiptext="Người thanh toán trong biên lai" style="white-space: normal;" vflex="true" sort="auto"/>
                    <listheader label="Ngày tạo" width="80px" tooltiptext="Ngày tạo biên lai" style="white-space: normal;" vflex="true" sort="auto"/>
                    <listheader label="Trạng thái biên lai"  tooltiptext="Trạng Thái biên lai" style="white-space: normal;" vflex="true" sort="auto"/>
                    <listheader label="Hình thức thanh toán"  tooltiptext="Hình thức thanh toán" style="white-space: normal;" vflex="true" sort="auto"/>
                    <listheader label="Ngày thanh toán " width="120px" tooltiptext="Ngày thanh toán trong biên lai" style="white-space: normal;" vflex="true" sort="auto"/>
                    <listheader label="Tổng tiền" width="6%"  tooltiptext="Tổng số tiền" style="white-space: normal;" vflex="true" sort="auto"/>
                    <listheader align="center" label="Xem"
                                hflex="min" tooltiptext="Xem biên lai" style="white-space: normal;" vflex="true" sort="auto"/>
                   
                   
                </listhead>
                <template name="model">
                    <listitem >
                        <listcell label="${forEachStatus.index + 1 + userPagingTop.pageSize * userPagingTop.activePage}">
                        </listcell>
                        <listcell label="${each.billId}">        
                        </listcell>
                        <listcell label="${each.createtorName}"/>
                        <listcell label="${$composer.getFormatDate(each.createDate)}">
                        </listcell>
                        <listcell label="${$composer.getStatusBill(each.status)}">
                        </listcell>
                        <listcell label="${$composer.getPaymentType(each.paymentTypeId)}">
                        </listcell>
                        <listcell label="${$composer.getFormatDate(each.paymentDate)}">
                        </listcell>
                        <listcell label="${c:formatNumber(each.total, '###,###,###')}" style="text-align: right">
                        </listcell>         
                        <listcell>
                            <image src="/Share/img/icon/view_file.png"
                                   width="25px" height="25px"
                                   forward="onClick=lbListBill.onOpenViewBill(${each})"
                                   tooltiptext="Xem file đính kèm" />
                            <image src="/Share/img/icon/view.png"
                                   width="25px" height="25px"
                                   forward="onClick=lbListBill.onOpenBill(${each})"
                                   tooltiptext="Xem biên lai" />
                        </listcell>
                       
                                                
                    </listitem>
                </template>
            </listbox>
     
            <paging id="userPagingBottom" pageSize="10" detailed="true" />
                
        </h:div>
        
        <h:div id="topToolbar" class="toolBar">
        
    </h:div>
    </groupbox>
    
<!--    <h:div style="width:100%" align="center">
        <h:table style="width:100%" sclass="searchTable">         
            <h:tr>
                <h:td colspan="4" style="text-align:center">
                    <button id="btnCreate" label="Thêm mới" sclass="button" image="/Share/img/icon/add_1.png"/>
                </h:td>
            </h:tr>
        </h:table>
    </h:div>-->
    <separator />
	
</window>