<?xml version="1.0" encoding="UTF-8"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:h="http://www.w3.org/1999/xhtml"
    xmlns="http://www.zkoss.org/2005/zul">
    <window id="windowsViewAcceptBill" title="Chi tiết hóa đơn" border="normal" width="90%" 
            apply="com.viettel.module.payment.RapidTestViewAcceptBill" 
            position="center,center" closable="true"
            viewModel="@id('vm') @init('com.viettel.module.payment.RapidTestViewAcceptBill')"
    >
        <script type="text/javascript" src="/Share/js/UPMSamples.js" />
        
        <h:div style="width:100%;float:right;height:100%;" class="divRight">
            <h:table width="100%"> 
                <h:tr>
                    <h:td width="100%">      
                        <label id="lbWarning" class="notify"/>
                    </h:td>
                </h:tr>
            </h:table>
            <groupbox mold="3d">
                <caption label="Người thanh toán" />
                <h:table width="100%">
                    
                    <h:tr>
                        <h:td width="20%">
                            <label value="Hình thức thanh toán" />
                            <label value=" *" sclass="label-required" />
                        </h:td>
                        <h:td width="30%" >
                            <radiogroup id="rgTypePayment" stubonly="true" >
                                <radio id="keypay" label="KeyPay" disabled="true"/>
                                <radio id="banktransfer" label="Chuyển khoản" disabled="true"/>
                                <radio id="immediaacy" label="Nộp trực tiếp" disabled="true"/>
                            </radiogroup>
                            
                        </h:td>
                        <h:td width="50%" style="text-align:left">
                            <label id="lbSumMoney" value="Tổng tiền: " />
                        </h:td>
                        
                    </h:tr>
                    
                    <h:tr>
                        <h:td width="22%">
                            <label value="Tên người thanh toán" />
                            <label value=" *" sclass="label-required" />
                        </h:td>
                        <h:td  width="33%">
                            <textbox id="tbPaymentName" value="@{controller.RapidTestViewAcceptBill.txtBillNo, access='both', save-when='none'}" 
                                     width="60%"
                                     maxlength="500" />
                        </h:td>	
                        	
                    </h:tr>
                    
                </h:table>
            </groupbox>
            <groupbox id="gbTypePayment" mold="3d" visible="false">
                <h:table width="100%" >
                    <h:tr >
                        
                        <h:td width="180px">
                            <label value="Ngày thanh toán trong hóa đơn" />
                            <label value=" *" sclass="label-required" />
                        </h:td>
                        
                        <h:td width="180px">
                            <datebox id="dbDayPayment" cols="12" format="dd/MM/yyyy" name="Đến ngày" width="200px"
                                     constraint="between 19000101 and 20991231: Thời gian phải nằm trong khoảng từ 1/1/1900 đến 31/12/2099" />
                        </h:td>
                    </h:tr> 

                    <h:tr >
                        <h:td width="20%">
                            <label id="lbBillNo" value="Mã hóa đơn" width="120px" />
                            <label id="lbBillNoRequi" value=" *" sclass="label-required" />
                             
                        </h:td>
                        <h:td width="30%" >
                            <textbox id="txtBillNo" value="@{controller.RapidTestViewAcceptBill.txtBillNo, access='both', save-when='none'}"
                                     width="200px" maxlength="300"  />
                        </h:td>
                
                        <h:td width="20%">
                            
                            <label  id="lbBillKey" value="Ký hiệu hóa đơn" width="120px" />
                            <label  id="lbBillKeyRequi" value=" *" sclass="label-required" />
                        </h:td>
                        
                        <h:td width="20%" style="text-align:left">
                            <textbox id="txtBillKey" style="text-align:left" value="@{controller.RapidTestViewAcceptBill.txtBillKey, access='both', save-when='none'}"
                                     width="140px" maxlength="400" />
                        </h:td>
                
                    </h:tr>
                  
                    <h:tr>
                        <h:td>
                            <label id="lbnamefile" value="Tên tệp" width="20%" />
                            <label value=" *" sclass="label-required" />
                        </h:td>
                        <h:td>
                            <textbox id="txtFileName" readonly="true" value="" width="200px" tabindex="1" />
                        </h:td>
                        <h:td>
                             <label id="lbfile" value="Tệp đính kèm: " width="20%" />
                            <button label="tải về" style="font-weight: bold;color: #F25D45;"  id="btnDownload" src="/Share/img/save.png">
                            </button> 
                        </h:td>
                    </h:tr>
                </h:table>
            </groupbox>  
            <groupbox mold="3d">
                <caption label="Danh sách hồ sơ thanh toán" />
                <h:table style="width:100%" class="searchTable">
                    <h:tr>
                        <h:td width="100%"> 
                            <listbox id="lbListPaymented" 
                                     model="@bind(vm.lbListPaymentedModelList)"
                                      vflex="false" hflex="true" multiple="true" checkmark="true" emptyMessage="Không có hồ sơ nào" height="200px">
                                <listhead sizable="true">
                                    <listheader label="STT" align="center" hflex="min" tooltiptext="Số thứ tự"/>
                                    <listheader label="Mã hồ sơ" hflex="1" tooltiptext="Mã hồ sơ"/>
                                    <listheader label="Số hồ sơ" hflex="1" tooltiptext="Số hồ sơ"/>
                                    <listheader label="Loại hồ sơ" hflex="2" tooltiptext="Loại hồ sơ"/>
                                    <listheader label="Tên doanh nghiệp" hflex="2" tooltiptext="Tên doanh nghiệp"/>
                                    <listheader label="Tên bộ XNN" hflex="1.0" tooltiptext="Tên bộ xét nghiệm nhanh"/>
                                    <listheader label="Ngày nộp" hflex="1" tooltiptext="Ngày nộp hóa đơn"/>
                                    <listheader label="Giá tiền" hflex="1" tooltiptext="Số tiền thanh toán"/>
                                                                     
                                </listhead>
                                <template name="model">
                                    <listitem >
                                        <listcell label="${forEachStatus.index + 1 + userPagingTop.pageSize * userPagingTop.activePage}">
                                        </listcell>
                                        <listcell label="${each.nswFileCode}">
                                        </listcell>
                                        <listcell label="${each.rapidTestNo}"/>
                                        <listcell>
                                            <label if="${each.documentTypeCode==-1}" value="Chưa chọn"></label>
                                            <label if="${each.documentTypeCode==16}" value="Hồ sơ đề nghị đăng ký lưu hành bộ xét nghiệm nhanh thực phẩm"></label>
                                            <label if="${each.documentTypeCode==17}" value="Hồ sơ đề nghị thay đổi nội dung đã đăng ký thông tin lưu hành bộ xét nghiệm nhanh thực phẩm"></label>
                                            <label if="${each.documentTypeCode==18}" value="Hồ sơ đề nghị gia hạn đăng ký lưu hành bộ xét nghiệm nhanh thực phẩm"></label>
                                        </listcell>
                                        <listcell label="${each.businessName}">
                                        </listcell>
                                        <listcell label="${each.rapidTestName}">
                                        </listcell>
                                        <listcell label="${each.paymentDate}">
                                        </listcell>
                                        <listcell  label="${c:formatNumber(each.cost, '###,###,###')}" style="text-align: right" >
                                        </listcell>
                                    </listitem>
                                </template>
                            </listbox>
                        </h:td>
                    </h:tr>
                    <!-- tren ham  -->
                   
                </h:table> 
                              
            </groupbox>      
                <h:table style="width:100%" class="searchTable">     
                <h:tr>
                        <h:td colspan="4" style="text-align:center">
                            <button id="btnAccept" label="Xác nhận" sclass="button" image="/Share/img/icon/save.png" />
                            <label value=" "  />
                            <button id="btnReject" label="Từ chối" sclass="button" image="/Share/img/icon/save.png" />
                            <label value=" "  />
                            <button id="btnCancel" label="Quay lại" sclass="button" image="/Share/img/icon/back.png"/>
                        </h:td>
                    </h:tr>                               
                </h:table>                                                                               
            <groupbox mold="3d" visible="false">
                <caption label="file đính kèm" />
                <h:table style="width:100%" class="searchTable">
                    <h:tr>
                        <h:td width="100%"> 
                         <iframe id="iframeFile" 
                             width="100%" height="400px" style="border: 1px solid gray" />
                        </h:td>
                    </h:tr>

                </h:table> 
                              
            </groupbox>
            
            
            <h:table width="100%"> 
                <h:tr>
                    <h:td width="100%">      
                        <label id="lbWarningUnder" class="notify"/>
                    </h:td>
                </h:tr>
            </h:table>
        </h:div>
    </window>

</zk>	
        
        
        
