<?xml version="1.0" encoding="UTF-8"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:h="http://www.w3.org/1999/xhtml"
    xmlns="http://www.zkoss.org/2005/zul">
    <window id="windowViewAcceptBill" title="Chi tiết biên lai" border="normal" width="90%" 
            apply="com.viettel.module.payment.Controller.ViewAcceptBill" 
            position="center,center" closable="true"
            viewModel="@id('vm') @init('com.viettel.module.payment.Controller.ViewAcceptBill')">
        <script type="text/javascript" src="/Share/js/UPMSamples.js" />
        
        <div id="topToolbar" class="toolBar">

            <!--        <button id="btnListSearch" sclass="btnAction" image="/Share/img/png/tim-kiem-nang-cao.png" label="Tìm kiếm" 
            tooltiptext="Tìm kiếm"  />-->
       
        </div>
        
        <h:div style="width:100%;float:right;height:100%;" class="divRight">
            <h:table width="100%"> 
                <h:tr>
                    <h:td width="100%">      
                        <label id="lbWarning" class="notify"/>
                    </h:td>
                </h:tr>
            </h:table>
            <groupbox mold="3d">
                <caption label="Người thanh toán" />
                <h:table width="100%">
                    
                    <h:tr>
                        <h:td width="20%">
                            <label value="Hình thức thanh toán" />
                            <label value=" *" sclass="label-required" />
                        </h:td>
                        <h:td width="30%" >
                            <radiogroup id="rgTypePayment" stubonly="true" >
                                <radio id="keypay" label="KeyPay" disabled="true"/>
                                <radio id="banktransfer" label="Chuyển khoản" disabled="true"/>
                                <radio id="immediaacy" label="Nộp trực tiếp" disabled="true"/>
                            </radiogroup>
                            
                        </h:td>
                        <h:td width="50%" style="text-align:left">
                            <label id="lbSumMoney" value="Tổng tiền: " />
                        </h:td>
                        
                    </h:tr>
                    
                    <h:tr>
                        <h:td width="22%">
                            <label value="Tên người thanh toán" />
                            <label value=" *" sclass="label-required" />
                        </h:td>
                        <h:td  width="33%">
                            <textbox id="tbPaymentName"
                                     width="60%"
                                     maxlength="500" readonly="true" />
                        </h:td>	
                        	
                    </h:tr>
                    
                </h:table>
            </groupbox>
            <groupbox id="gbTypePayment" mold="3d" visible="false">
                <h:table width="100%" >
                    <h:tr >
                        
                        <h:td width="180px">
                            <label value="Ngày thanh toán trong biên lai" />
                            <label value=" *" sclass="label-required" />
                        </h:td>
                        
                        <h:td width="180px">
                            <datebox id="dbDayPayment" cols="12" format="dd/MM/yyyy" name="Đến ngày" width="200px"
                                     constraint="between 19000101 and 20991231: Thời gian phải nằm trong khoảng từ 1/1/1900 đến 31/12/2099" readonly="true" />
                        </h:td>
                    </h:tr> 

                    <h:tr >
                        <h:td width="20%">
                            <label id="lbBillNo" value="Mã biên lai" width="120px" />
                            <label id="lbBillNoRequi" value=" *" sclass="label-required" />
                             
                        </h:td>
                        <h:td width="30%" >
                            <textbox id="txtBillNo" 
                                     width="200px" maxlength="300"  readonly="true" />
                        </h:td>
                
                        <h:td width="20%">
                            
                            <label  id="lbBillKey" value="Ký hiệu biên lai" width="120px" />
                            <label  id="lbBillKeyRequi" value=" *" sclass="label-required" />
                        </h:td>
                        
                        <h:td width="20%" style="text-align:left">
                            <textbox id="txtBillKey" style="text-align:left" readonly="true" 
                                     width="140px" maxlength="400" />
                        </h:td>
                    </h:tr>
                  
                    <h:tr>
                        <h:td>
                            <label id="lbnamefile" value="Tên tệp" width="20%" />
                            <label value=" *" sclass="label-required" />
                        </h:td>
                        <h:td>
                            <textbox id="txtFileName" readonly="true" value="" width="200px" tabindex="1" />
                        </h:td>
                        <h:td>
                            <label id="lbfile" value="Tệp đính kèm: " width="20%" />
                            <button label="tải về" style="font-weight: bold;color: #F25D45;"  id="btnDownload" src="/Share/img/save.png">
                            </button> 
                        </h:td>
                    </h:tr>
                </h:table>
            </groupbox>  
            <groupbox mold="3d">
                <caption label="Danh sách hồ sơ " />
                <h:table style="width:100%" class="searchTable">
                    <h:tr>
                        <h:td width="100%"> 
                            <listbox id="lbListPaymented" 
                                     model="@bind(vm.lbListPaymentedModelList)"
                                     vflex="false" hflex="true" emptyMessage="Không có hồ sơ nào" height="200px">
                                <listhead sizable="true">
                                    <listheader label="${$composer.getLabelCos('cosmetic_stt')}" align="center" hflex="min" tooltiptext="${$composer.getLabelCos('cosmetic_stt')}"/>
                                    <listheader label="${$composer.getLabelCos('cosmetic_mahoso')}"  width="100px" align="center" tooltiptext="${$composer.getLabelCos('cosmetic_mahoso')}" />
                                    <listheader label="${$composer.getLabelCos('cosmetic_tenbxn')}"  width="11%"  align="center" tooltiptext="${$composer.getLabelCos('cosmetic_tenbxn')}" />
                                    <listheader label="${$composer.getLabelCos('cosmetic_tensp')}"  width="10%"  align="center" tooltiptext="${$composer.getLabelCos('cosmetic_tensp')}" />
                                    <listheader label="${$composer.getLabelCos('cosmetic_thoigiantao')}"  align="center" width="80px" tooltiptext="${$composer.getLabelCos('cosmetic_thoigiantao')}" />
                                    <listheader label="${$composer.getLabelCos('cosmetic_sotien')}" align="center" width="6%" tooltiptext="${$composer.getLabelCos('cosmetic_sotien')}"/>
                                    <listheader label="${$composer.getLabelCos('cosmetic_kieuthanhtoan')}"  align="center" width="9%" tooltiptext="${$composer.getLabelCos('cosmetic_kieuthanhtoan')}"/>
                                    <listheader label="${$composer.getLabelCos('cosmetic_trangthaitt')}"   align="center" width="10%" tooltiptext="${$composer.getLabelCos('cosmetic_trangthaitt')}"/>
                                    <listheader label="${$composer.getLabelCos('cosmetic_trangthaihs')}" align="center" style="width:10%" tooltiptext="${$composer.getLabelCos('cosmetic_trangthaihs')}"/>
                                  
                                </listhead>
                                <template name="model">
                                    <listitem>
                                        <listcell label="${forEachStatus.index + 1 + userPagingTop.pageSize * userPagingTop.activePage}">
                                        </listcell>
                                        <listcell label="${each.nswFileCode}">
                                        </listcell>
                                        <listcell label="${$composer.cutString(each.brandName, 100)}" tooltiptext="${each.brandName}" style="text-align:left" />
                                        <listcell label="${$composer.cutString(each.productName, 100)}" tooltiptext="${each.productName}" style="text-align:left"  />
                                        <listcell label="${$composer.getFormatDate(each.paymentDate)}">  
                                        </listcell>          
                                        <listcell label="${c:formatNumber(each.cost, '###,###,###')}" style="text-align: right">
                                        </listcell>
                                        <listcell label="${$composer.getPaymentType(each.paymentTypeId)}">
                                        </listcell>
                                        <listcell label="${$composer.getStatusPayment(each.statuspayment)}">
                                        </listcell>                       
                                        <listcell label="${$composer.getStatus(each.statusfile)}"/>
                                       
                                 
                                                      
                                    </listitem>
                                </template>
                            </listbox>
                        </h:td>
                    </h:tr>
                    <!-- tren ham  -->
                   
                </h:table> 
                              
            </groupbox>      
            <h:table style="width:100%" class="searchTable">     
                <h:tr>
                    <h:td colspan="4" style="text-align:center">
                        <button id="btnAccept" label="Xác nhận" sclass="button" image="/Share/img/icon/save.png" visible="false"/>
                        <label value=" "  />
                        <button id="btnReject" label="Từ chối" sclass="button" image="/Share/img/icon/save.png" visible="false"/>
                        <label value=" "  />
                        <button id="btnCancel" label="Quay lại" sclass="button" image="/Share/img/icon/back.png" visible="false"/>
                    </h:td>
                </h:tr>                               
            </h:table>                                                                               
            <groupbox mold="3d" visible="false">
                <caption label="file đính kèm" />
                <h:table style="width:100%" class="searchTable">
                    <h:tr>
                        <h:td width="100%"> 
                            <iframe id="iframeFile" 
                                    width="100%" height="400px" style="border: 1px solid gray" />
                        </h:td>
                    </h:tr>

                </h:table> 
                              
            </groupbox>
            
            
            <h:table width="100%"> 
                <h:tr>
                    <h:td width="100%">      
                        <label id="lbWarningUnder" class="notify"/>
                    </h:td>
                </h:tr>
            </h:table>
        </h:div>
    </window>

</zk>	
        
        
        
