﻿<?xml version="1.0" encoding="UTF-8"?>
<window id="createUpdate" border="normal" width="50%"
        xmlns:h="http://www.w3.org/1999/xhtml"
        xmlns="http://www.zkoss.org/2005/zul" 
        apply="com.viettel.module.importOrder.Controller.CreateUpdateRtAssayController"
        position="center,center" closable="true" onCancel="self.detach();">
    <script type="text/javascript" defer="true">
                jq('.z-modal-mask').click(function(){
                    if(jq('$createUpdate').ready()){
                        var wgt = zk.Widget.$('$createUpdate');
                        zAu.send(new zk.Event(wgt, 'onCancel', ''));
                    }
                });
    </script>
    <style src="/Share/css/formstyle.css" />
    <style src="/Share/css/uploadstyle.css" />
    <script type="text/javascript" src="/Share/js/UPMSamples.js" />
    <caption label="Thêm mới đơn vị khảo nghiệm" />
        
    <h:div width="100%">
        <h:table width="100%">
              <h:tr>
    				<h:td width="20%">
    					<label value="Tên đơn vị khảo nghiệm" />
    				</h:td>
    				<h:td width="50%">
    				 
                    <textbox id="tbId" 
                             visible="false"/>
    					<textbox id="tbrtAssayName" maxlength="255" width="90%" />
    				</h:td>
    		 </h:tr>
    		 
    		 <h:tr>
    		 
    				<h:td width="20%">
    					<label value="Mã đơn vị " />
    				</h:td>
    				<h:td width="50%">
    					<textbox id="tbcode" maxlength="255" width="90%" />
    				</h:td>
    				
    			</h:tr>
    			<h:tr>
    				<h:td width="20%">
    					<label value="Địa chỉ " />
    				</h:td>
    				<h:td width="50%">
    					<textbox id="tbrtAddress" maxlength="255" width="90%" />
    				</h:td>
    			</h:tr>
    			<h:tr>
    				<h:td width="20%">
    					<label value="Điện thoại " />
    				</h:td>
    				<h:td width="50%">
    					<textbox id="tbPhone" maxlength="255" width="90%" />
    				</h:td>
    			</h:tr>
				<h:tr>
    				<h:td width="20%">
    					<label value="Fax" />
    				</h:td>
    				<h:td width="50%">
    					<textbox id="tbFax" maxlength="255" width="90%" />
    				</h:td>
			   </h:tr>
            <h:tr> 
                <h:td colspan="2" style="text-align:center">
                    <button label="Lưu" id="btnSave" src="/Share/img/icon/Add.png"/>
                    <button label="Hủy bỏ" id="btnCancel" onClick="createUpdate.detach()" src="/Share/img/icon/close.png"/>
                </h:td>
            </h:tr>
        </h:table>
    </h:div> 
</window>
