<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul"
    xmlns:h="native">
    <window id="caViewWindow" width="100%"
            apply="com.viettel.module.cosmetic.Controller.CaViewController"
            border="normal"
            title="${$composer.getLabelCos('ca_view_window_caption')}" xmlns:w="client">
        <style>
            .center-horizontal {
                text-align: center;
            }
        </style>
        <vlayout>
            <div style="margin-bottom:5px">
                <groupbox mold="3d">
                    <caption label="${$composer.getLabelCos('ca_view_search_caption')}" />
                    <h:table width="100%">
                        <h:tr style="font-family: Arial; font-size: 12px">
                            <h:td width="5%"></h:td>
                            <h:td width="10%">${$composer.getLabelCos('ca_crud_label_serial')}:</h:td>
                            <h:td width="50%"><textbox id="tbSearchSerial" width="100%" maxlength="100" /></h:td>
                            <h:td width="5%"></h:td>
                            <h:td width="25%">
                                <button sclass="button" id="btnSearch" label="${$composer.getLabelCos('common_search')}" height="28px" image="/Share/img/icon/search.jpg" >
                                    <attribute w:name="onClick"><![CDATA[
                                                                zAu.cmd0.showBusy(null);
                                                        ]]>
                                    </attribute>
                                </button>
                                
                            </h:td>
                            <h:td width="5%"></h:td>
                        </h:tr>
                    </h:table> 
               </groupbox>
            </div>
            <groupbox mold="3d">
                <caption label="Danh sách" />
                <button sclass="button" id="btnAddNew" label="${$composer.getLabelCos('common_add')}" height="28px" image="/Share/img/icon/add_1.png" style="margin-bottom:3px"/>
                <listbox id="lbCAList" emptyMessage="${$composer.getLabelCos('ca_view_list_empty_messgae')}" mold="paging" pageSize="10" checkmark="false">
                    <listhead>
                        <listheader label="${$composer.getLabelCos('ca_view_label_stt')}" width="5%" sclass="center-horizontal" />
                        <listheader label="${$composer.getLabelCos('ca_view_label_ca_serial')}" width="55%" />
                        <listheader label="${$composer.getLabelCos('ca_view_label_stamper')}" width="15%" sclass="center-horizontal" />
                        <listheader label="${$composer.getLabelCos('ca_view_label_signature')}" width="15%" sclass="center-horizontal" />
                        <listheader label="${$composer.getLabelCos('ca_view_label_edit')}" width="5%" sclass="center-horizontal" />
                        <listheader label="${$composer.getLabelCos('ca_view_label_delete')}" width="5%" sclass="center-horizontal" />
                    </listhead>
                    <template name="model">
                        <listitem>
                            <listcell label="${forEachStatus.index + 1}" style="text-align:center" />
                            <listcell label="${each.caSerial}" />
                            <listcell label="" style="text-align: center">
                                <image if="${each.stamper != null}" forward="onClick=caViewWindow.onDownloadAttach(0)" src="/Share/img/icon/attach_min.png" width="20px" height="20px" tooltiptext="Download dấu CA"/>
                            </listcell>
                            <listcell label="" style="text-align: center">
                                <image if="${each.signature != null}" forward="onClick=caViewWindow.onDownloadAttach(1)" src="/Share/img/icon/attach_min.png" width="20px" height="20px" tooltiptext="Download chữ ký CA"/>
                            </listcell>
                            <listcell style="text-align: center">
                                <image forward="onClick=caViewWindow.onEditItem" src="/Share/img/edit.png" width="20px" height="20px" tooltiptext="Sửa" />
                            </listcell>
                            <listcell style="text-align: center">
                                <image forward="onClick=caViewWindow.onDeleteItem" src="/Share/img/delete.png" width="20px" height="20px" tooltiptext="Xóa" />
                            </listcell>
                        </listitem>
                    </template>
                </listbox>
            </groupbox>
        </vlayout>
    </window>
</zk>
