<?xml version="1.0" encoding="UTF-8"?>
<window xmlns:h="http://www.zkoss.org/2005/zk/native"
        xmlns="http://www.zkoss.org/2005/zul" id="businessWindow"
        title="Nhập kết quả xử lý"
        apply="com.viettel.module.importOrder.Controller.io_27_6_LDC.IO_27_6_LDCController"
        width="100%">

    <style src="/Share/css/formstyle.css" />
    <style src="/Share/css/uploadstyle.css" />
    <script type="text/javascript" src="/Share/js/UPMSamples.js" />
    <vlayout id="layoutComment">
        <label id="lbTopWarning" style="color: red;" />

        <div align="center" visible="false">
            <textbox id="txtValidate" visible="false" />
        </div>
        <h:table style="width:100%">
            <!-- Tệp đính kèm theo sản phẩm của doanh nghiệp-->
            <h:tr>               
                <h:td style="width:100%">
                    <h:div
                        style="width:100%;  overflow:auto;"
                        visible="false">
                        <groupbox width="100%" sclass="gb-form-create" closable="false">
                            <caption label="Danh sách tài liệu" />
                            <h:table width="100%" align="center">                                                           
                                <h:tr>
                                    <h:td colspan="4" style="text-align:center">
                                        <listbox id="fileListboxDn" 
                                                 multiple="false" style="word-wrap:break-word" vflex="true"
                                                 emptyMessage="Không tồn tại danh mục" mold="paging" pageSize="10">
                                            <listhead sizable="true">
                                                <listheader width="5%" label="STT" align="center"/>
                                                <listheader width="45%" label="Tên tệp" align="left"/>
                                                <listheader width="40%" label="Loại tệp" align="left"/>
                                                 <listheader width="10%" label="Tải về" align="center"/>
                                            </listhead>
                                            <template name="model">
                                                <listitem value="${each}">
                                                    <listcell label="${forEachStatus.index+1}" />
                                                    <listcell label="${each.attachName}" />
                                                    <listcell label="${each.typeFileName}"/>
                                                      <listcell>
                                                        <image forward="onClick=fileListboxDn.onDownloadOrderFile(${each})" 
                                                               src="/Share/img/icon/download.png" 
                                                               width="20px" height="20px" 
                                                               tooltiptext="Tải file"/>
                                                    </listcell>
                                                </listitem>
                                            </template>
                                        </listbox>
                                    </h:td>
                                </h:tr>
                            </h:table>                         
                        </groupbox>
                    </h:div>
                </h:td>
            </h:tr>
            <h:tr>
                <h:td style="width:100%">
                    <h:table width="100%" align="center">
                        <h:th width="10%" />
                        <h:th width="10%" />
                        <h:th width="40%" />
                        <h:th width="40%" />
                    </h:table>
                    <h:table width="100%" align="center">
                        <h:th width="15%" />
                        <h:th width="35%" />
                        <h:th width="15%" />
                        <h:th width="35%" />
                        <h:tr>
                            <h:td colspan="4">
                                <groupbox width="100%"
                                          sclass="gb-form-create" closable="false">
                                    <caption
                                        label="Thông tin chi tiết lô hàng" />
                                    <h:table width="100%"
                                             align="center">
                                        <h:th width="15%" />
                                        <h:th width="35%" />
                                        <h:th width="15%" />
                                        <h:th width="35%" />

                                        <h:tr>
                                            <h:td colspan="4">
                                                <listbox
                                                    id="lbOrderProduct" multiple="false"
                                                    style="word-wrap: break-word"
                                                    emptyMessage="${$composer.getLabelCos('cosmetic_ds_khongtontaibanghi')}">
                                                    <listhead
                                                        sizable="true">
                                                        <listheader
                                                            width="5%"
                                                            label="${$composer.getLabelCos('cosmetic_stt')}"
                                                            align="center" />
                                                        <listheader
                                                            width="20%" label="Tên mặt hàng" />
                                                        <listheader
                                                            width="10%;" label="Số công bố" />
                                                        <listheader
                                                            width="20%" label="Phương thức kiểm tra" />
                                                        <listheader
                                                            width="20%" label="Kết quả" />
                                                        <listheader
                                                            width="20%" label="Khiếu nại" />
                                                        <listheader
                                                            width="20%" label="Nội dung khiếu nại" />
                                                        <listheader
                                                            width="20%" label="Phương thức xử lý" />
                                                    </listhead>
                                                    <template 
                                                        name="model">
                                                        <listitem
                                                            value="${each}" forward="onClick=lbOrderProduct.onShow(${each})" >
                                                            <listcell
                                                                label="${forEachStatus.index+1+userPagingBottom.pageSize*userPagingBottom.activePage}" />
                                                            <listcell
                                                                label="${each.productName}" />
                                                            <listcell
                                                                label="${each.confirmAnnounceNo}" />                                                           
                                                            <listcell label="${each.checkMethodName}"/> 
                                                            <listcell>                                                                
                                                                <zk if="${each.pass== 1}">    
                                                                    <label value="Đạt" />    
                                                                </zk> 
                                                                <zk if="${each.pass== 0}">                                                                        
                                                                    <label value="Không đạt" />  
                                                                </zk>                                                                   
                                                            </listcell>
                                                            <listcell>                                                                
                                                                <zk if="${each.reProcess== 1}">    
                                                                    <label value="Có khiếu nại" />    
                                                                </zk> 
                                                                <zk if="${each.reProcess== 0}">                                                                        
                                                                    <label value="Không khiếu nại" />  
                                                                </zk>                                                                   
                                                            </listcell> 
                                                            <listcell
                                                                label="${each.comments}" /> 
                                                            <listcell label="${each.processTypeName}">
                                                                <image src="/Share/img/icon/edit.png"
                                                                       width="20px" height="20px"/>  
                                                            </listcell>                                                       
                                                                                                                    														                                                           
                                                        </listitem>
                                                    </template>
                                                </listbox>

                                            </h:td>
                                        </h:tr>
                                    </h:table>
                                </groupbox>

                            </h:td>
                        </h:tr>

                    </h:table>

                </h:td>
            </h:tr>
            <h:tr>
                <h:td style="width:100%">
                    <h:div
                        style="width:100%;  overflow:auto;"
                        visible="false">
                        <groupbox width="100%" sclass="gb-form-create"
                                  closable="false">
                            <caption label="Kết quả xử lý" />
                            <h:table width="100%" align="center">
                                <h:th width="10%" />
                                <h:th width="40%" />
                                <h:th width="10%" />
                                <h:th width="10%" />
                                <h:tr>
                                    <h:td>                                   
                                    </h:td>                                  
                                    <h:td colspan="3">
                                        <label id="tbxWrnResult" style="color: red;" />                                      
                                    </h:td>
                                </h:tr>   
                                <h:tr>
                                    <h:td>
                                        <label id="lbtexLegal"
                                               value="Ghi chú xử lý" sclass="lb-create"
                                               visible="false" />
                                    </h:td>
                                    <h:td colspan="3">
                                        <textbox id="tbxResult" maxlength="500" rows="3" cols="60" width="100%" visible="false" />
                                    </h:td>
                                </h:tr>                            
                                <div>
                                    <h:tr>
                                        <h:td colspan="4"
                                              align="center">
                                            <button id="btnSave"
                                                    label="Lưu kết quả" visible="false"
                                                    image="/Share/img/icon/send_document_1.png" />
                                            <label id="lbFileId" visible="false"></label>
                                        </h:td>
                                    </h:tr>
                                </div>
                            </h:table>
                        </groupbox>
                    </h:div>
                </h:td>
            </h:tr>
            <h:tr>
                <!-- Tệp đính kèm phần thêm của chuyên viên xử lý-->
                <h:td style="width:100%">
                    <h:div
                        style="width:100%;  overflow:auto;"
                        visible="false">
                        <groupbox width="100%" sclass="gb-form-create" closable="false">
                            <caption label="Danh sách tài liệu" />
                            <h:table width="100%" align="center">
                                <h:tr>
                                    <h:td width="15%">
                                        <label id="lbAttachFile" value="Loại tệp đính kèm" sclass="lb-create" visible="false" />
                                    </h:td>                               
                                    <h:td width="35%">
                                        <listbox id="lbImportOrderFileType" visible="false"
                                                 onCreate="self.model=$composer.getListBoxModel(1)" mold="select"
                                                 width="80%"
                                                 onAfterRender='self.setSelectedIndex($composer.getSelectedIndexInModel(1))' >
                                            <template name="model">
                                                <listitem label="${each.name}"
                                                          value="${each.code}" />
                                            </template>
                                        </listbox>
                                    </h:td>
                                    <h:td width="15%">
                                        <label id="lbUploadFile" value="Tệp tải lên" sclass="lb-create" visible="false" />
                                    </h:td>
                                    <h:td width="35%">
                                        <vlayout>
                                            <button width="85px" id="btnAttach" visible="false"
                                                    style="font-weight: bold;color: #F25D45;" sclass="attachBtn"
                                                    src="/Share/img/paperclip.png"
                                                    upload="zk.UPMSample1,maxsize=20480,multiple=false,native"
                                                    label="Chọn tệp" />
                                            <vlayout id="flist" hflex="1" sclass="fileList" />
                                        </vlayout>
                                    </h:td>
                                </h:tr>

                                <h:tr>
                                    <h:td colspan="4" style="text-align:center">
                                        <button id="btnCreate" visible="false" label="Thêm mới" sclass="button" image="/Share/img/icon/add_1.png" />                                        
                                    </h:td>
                                </h:tr>
                                <h:tr>
                                    <h:td colspan="4" style="text-align:center">
                                        <listbox id="fileListbox" 
                                                 multiple="false" style="word-wrap:break-word" vflex="true"
                                                 emptyMessage="Không tồn tại danh mục" mold="paging" pageSize="10">
                                            <listhead sizable="true">
                                                <listheader width="5%" label="STT" align="center"/>
                                                <listheader width="45%" label="Tên tệp" align="left"/>
                                                <listheader width="40%" label="Loại tệp" align="left"/>
                                                <listheader width="10%" label="Tải về" align="center"/>
                                                <!--          <listheader width="5%" label="Xoá" align="center"/>-->
                                            </listhead>
                                            <template name="model">
                                                <listitem value="${each}">
                                                    <listcell label="${forEachStatus.index+1}" />
                                                    <listcell label="${each.attachName}" />
                                                    <listcell label="${each.typeFileName}"/>
                                                    <listcell >
                                                        <image forward="onClick=fileListbox.onDownloadFile(${each})" 
                                                               src="/Share/img/icon/download.png" 
                                                               width="20px" height="20px" 
                                                               tooltiptext="Tải file"/>
                                                    </listcell>
                                                    <!--   <listcell>
                                                        <image forward="onClick=fileListbox.onDeleteFile(${each})" 
                                                               src="/Share/img/icon/delete.png" 
                                                               width="20px" height="20px" 
                                                               tooltiptext="Tải file"/>
                                                    </listcell>-->
                                                </listitem>
                                            </template>
                                        </listbox>
                                    </h:td>
                                </h:tr>
                            </h:table>                         
                        </groupbox>
                    </h:div>
                </h:td>
            </h:tr>
        </h:table>
        <div align="center" visible="false">
            <button id="btnSubmit" label="Gửi xử lý" visible="true"
                    image="/Share/img/icon/send_document_1.png" /> 
            <textbox id="mainContent" width="95%" rows="5" visible="true"
                     value="${$composer.obj.mainContent}"
                     maxlength="2000" />                                                    
        </div>
        <label id="lbBottomWarning" style="color: red;" />
        <label id="producIdHidden" visible="false"></label>
    </vlayout>
</window>