<?xml version="1.0" encoding="UTF-8"?>
<window xmlns:h="http://www.zkoss.org/2005/zk/native"
        xmlns="http://www.zkoss.org/2005/zul" id="importOrderAll"
        apply="com.viettel.module.qrcode.QrCodePageController">
    <style src="/Share/css/formstyle.css" />
    <script defer="true">
        toolBar.widget = "importOrderAll";
    </script>
    <include src="/Pages/common/searchToolbar.zul" />
    <h:div class="contentDiv">
        <include id="incSearchFullForm"
                 src="/Pages/module/importorder/qrCode/searchQrCodePage.zul" />
    </h:div>
    <groupbox mold="3d">
        <caption label="${$composer.getLabelCos('tracuu_danhsach')}" />
        
        <h:div class="contentDiv">
            <include id="incList"
                     src="/Pages/module/importorder/qrCode/listQrCodePage.zul" />
            <paging id="userPagingBottom" pageSize="10" detailed="true" />
        </h:div>
    </groupbox>
    <separator />
</window>