<?xml version="1.0" encoding="UTF-8"?>
<zk xmlns:h="http://www.zkoss.org/2005/zk/native"
    xmlns="http://www.zkoss.org/2005/zul">
    <style src="/Share/css/formstyle.css" />
    <groupbox id="fullSearchGbx" mold="3d" visible="false"
              apply="com.viettel.module.cosmetic.Controller.ComesticAllSearchController">
        <caption label="${$composer.getLabelCos('cosmetic_search_caption')}" />
        <h:table align="center" width="80%" class="table-search">
            <h:tr>
                <h:th width="12%" />
                <h:th width="38%" />
                <h:th width="12%" />
                <h:th width="38%" />
            </h:tr>
            <h:tr>
                <h:td style="width:15%">
                    <label value="${$composer.getLabelCos('tracuu_tk_mahoso')}" />
                </h:td>
                <h:td style="width:35%">
                    <textbox id="txtFileCode"
                             width="85%" maxlength="100" />
                </h:td>
                                        
            </h:tr>
            <h:tr>
                <h:td style="width:15%">
                    <label
                        value="${$composer.getLabelCos('tracuu_tk_tendoanhnghiep')}" />
                </h:td>
                <h:td style="width:35%">
                    <textbox
                        id="txtBusinessName" width="85%" maxlength="255" />
                </h:td>
                <h:td style="width:15%">
                    <label
                        value="${$composer.getLabelCos('tracuu_tk_mst')}" />
                </h:td>
                <h:td style="width:35%">
                    <textbox id="txtTaxCode"
                             width="85%" maxlength="255" />
                </h:td>
            </h:tr>
            <h:tr>
                <h:td style="width:15%">
                    <label
                        value="${$composer.getLabelCos('tracuu_tk_soxacnhan')}" />
                </h:td>
                <h:td style="width:35%">
                    <textbox
                        id="txtReceiveNo" width="85%" maxlength="255" />
                </h:td>
                <h:td style="width:15%">
                    <label
                        value="${$composer.getLabelCos('tracuu_tk_socongbo')}" />
                </h:td>
                <h:td style="width:35%">
                    <textbox id="txtConfirmAnnounceNo"
                             width="85%" maxlength="255" />
                </h:td>
            </h:tr>
            <h:tr>
                <h:td colspan="4" align="center" style="text-align: center">
                    <button id="btnSearch" label="${$composer.getLabelCos('common_search')}"
                            sclass="button" image="/Share/img/icon/search.jpg" />
                    <button id="btnCreateQrCode" label="Tạo QrCode"
                            sclass="button" image="/Share/img/icon/exportds.png" />
                </h:td>
            </h:tr>	
        </h:table>
        
    </groupbox>
</zk>