<?xml version="1.0" encoding="UTF-8"?>
<window xmlns:h="http://www.zkoss.org/2005/zk/native"
        xmlns="http://www.zkoss.org/2005/zul" id="businessWindow"
        position="center,center" title=""
        apply="com.viettel.module.importDevice.Controller.include.ID_3_1_Controller"
        width="100%">
    <style src="/Share/css/formstyle.css" />
    <style src="/Share/css/uploadstyle.css" />
    <script type="text/javascript" src="/Share/js/UPMSamples.js" />
    <label id="lbTopWarning" style="color: red;" />
    <vlayout id="layoutComment">
        <h:table width="100%" align="center">
            <h:th width="25%" />
            <h:th width="10%" />
            <h:th width="40%" />
            <h:th width="25%" />
            <h:tr>
                <h:td colspan="1">
                    <label id="lbcv"
                                               value="Chọn chuyên viên chéo"/>
                    <label value=" *"
                                               sclass="label-required" />
                </h:td>
                <h:td colspan="2">
                    <listbox
                        id="lbcvc" mold="select" width="87%">
                        <template name="model">
                            <listitem
                                label="${each.userName} - ${each.fullName}" value="${each.userId}" />
                        </template>
                    </listbox>
                </h:td>
            </h:tr>


        </h:table>

        <div align="center" visible="false">
            <button id="btnSubmit" label="Gửi xử lý" visible="true"
                                image="/Share/img/icon/send_document_1.png" />
        </div>
        <textbox id="txtValidate" visible="false" />
        <label id="lbBottomWarning" style="color: red;" />
    </vlayout>
</window>