<?xml version="1.0" encoding="UTF-8"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:h="http://www.w3.org/1999/xhtml"
    xmlns="http://www.zkoss.org/2005/zul">
    <window id="businessWindow" title="Chi tiết biên lai" border="normal" width="100" 
            apply="com.viettel.module.importOrderNew.Controller.payment.AcceptPaymentSingleController" 
            position="center,center" closable="false"
            viewModel="@id('vm') @init('com.viettel.module.payment.controller.single.AcceptPaymentSingleController')"
    >
        <script type="text/javascript" src="/Share/js/UPMSamples.js" />
        <style>
            div.z-listbox-header th.z-listheader-sort div.z-listheader-cnt, 
            div.z-listbox-header th.z-listheader-sort-asc div.z-listheader-cnt, 
            div.z-listbox-header th.z-listheader-sort-dsc div.z-listheader-cnt {
            word-wrap: break-word;
            }
        </style>
        <h:div class="contentDiv">
            <h:table width="100%"> 
                <h:tr>
                    <h:td width="100%">      
                        <label id="lbWarning" class="notify" visible="false" />
                    </h:td>
                </h:tr>
            </h:table>
         
            <h:table width="100%">
                <h:tr>
                    <h:td colspan="4">
                        <label value="Thông tin phiếu báo thu  " style="font-size: 104%; font-style: italic"/>
                    </h:td>
                </h:tr>  
                <h:tr>
                    <h:td width="22.5%">
                        <label value="Mã hồ sơ: " />
                    </h:td>
                    <h:td width="60%" style="text-align:left" colspan="3">
                        <label id="lbMahoso" width="46%"/>
                    </h:td>
                    
                </h:tr>
                
                <!-- <h:tr>
                    <h:td width="22.5%">
                        <label value="Tên sản phẩm: " />
                    </h:td>
                    <h:td width="60%" style="text-align:left" colspan="3">
                        <label id="lbTensp"  width="46%"/>
                    </h:td>
                </h:tr> -->
                
                <!-- <h:tr>
                    <h:td width="22.5%">
                        <label value="${$composer.getLabelCos('pay_book_number')}" />
                    </h:td>
                    <h:td width="60%" style="text-align:left">
                        <label id="lbBookNumber"  />
                    </h:td>	
                </h:tr>  -->
                
                <h:tr>
                    <h:td width="22.5%">
                        <label value="Tổng tiền: " />
                    </h:td>
                    <h:td width="60%" style="text-align:left">
                        <label id="lbSumMoney" />
                    </h:td>
                     
                </h:tr>
                <h:tr>
                    <h:td width="22.5%" >
                        <label id="lbMoney" value="(Viết bằng chữ): " style="font-style: italic"/>
                    </h:td>
                    <h:td width="60%" colspan="3">
                        <label id="lbtextMoney"  style="font-style: italic"/>
                    </h:td>
                </h:tr>
                 <!-- aBBBB -->
                 <h:tr>
								<h:td colspan="4">
									<listbox id="lbFeePayment"
										multiple="false" style="word-wrap: break-word"
										emptyMessage="${$composer.getLabelCos('cosmetic_ds_khongtontaibanghi')}">
										<listhead sizable="true">
											<listheader width="5%"
												label="${$composer.getLabelCos('cosmetic_stt')}"
												align="center" />
											<listheader width="60%"
												label="Thông tin về phí " />
											<listheader width="15%;"
												label="Số tiền " />
										</listhead>
										<template name="model">
											<listitem value="${each}">
												<listcell
													label="${forEachStatus.index+1+userPagingBottom.pageSize*userPagingBottom.activePage}" />
												<listcell
													label="${each.feeName}" />
												<listcell
													label="${each.cost}" />
											</listitem>
										</template>
									</listbox>

								</h:td>
							</h:tr>
                <h:tr>
                    <h:td width="18%" colspan="4">
                        <label height="15px"  id="trang" class="notify" visible="false"/>
                    </h:td>
                </h:tr>
                 <h:tr>
                    <h:td colspan="4">
                        <label value="Thông tin thanh toán " style="font-size: 104%; font-style: italic"/>
                    </h:td>
                </h:tr>  
                <h:tr>
                    <h:td width="22.5%">
                        <label value="Hình thức thanh toán" />
                        
                    </h:td>
                    <h:td width="60%" >
                        <radiogroup id="rgTypePayment" >
                            <radio id="radioKeypay" label="KeyPay" disabled="true" />
                            <radio id="radioBanktransfer" label="Chuyển khoản"  disabled="true" />
                            <radio id="radioImmediaacy" label="Nộp trực tiếp" disabled="true" />
                        </radiogroup>
                    </h:td>
                </h:tr>
                <h:tr>
                    <h:td width="22.5%">
                        <label value="Tên đơn vị nộp tiền: " width="90%"/>
                      
                    </h:td>
                    <h:td  width="60%">
                        <textbox id="txtPaymentName" width="60%" maxlength="500" readonly="true"/>
                    </h:td>
                        
                </h:tr>
                <h:tr>
                    <h:td width="22.5%">
                        <label value="Địa chỉ:" width="90%"/>
                       
                    </h:td>
                    <h:td  width="60%">
                        <textbox id="txtPaymentAddress" width="60%" maxlength="500"  readonly="true"/>
                    </h:td>
                        
                </h:tr>
             
                <h:tr>
                    <h:td width="23%">
                        <label value="Ngày thanh toán: " width="100%" />
                       
                    </h:td>
                    <h:td width="60%">
                        <datebox id="dbDayPayment" cols="12" format="dd/MM/yyyy" name="Đến ngày" width="61%"
                                 constraint="between 19000101 and 20991231: Thời gian phải nằm trong khoảng từ 1/1/1900 đến 31/12/2099" disabled="true"/>
                    </h:td>
                </h:tr>
                
                <h:tr>
                   	
                    <h:td >
                        <label id="lbnamefile" value="Tên tệp: "  />
                        <h:td>
                            <textbox id="txtFileName" readonly="true" value="" width="60%" tabindex="1" />
                            <button label="tải về" style="font-weight: bold;color: #F25D45;"  id="btnDownload" src="/Share/img/save.png">
                            </button> 
                            
                        </h:td> 
                    </h:td>
                    <h:td >
                           
                    </h:td>
                        
                </h:tr>
                 
                 
                <h:tr >
                    <h:td >
                        <label id="lbBillNo" value="Số biên lai"  />                            
                    </h:td>
                    <h:td >
                        <textbox id="txtBillNo" readonly="true" 
                                 maxlength="300" width="60%"/>
                    </h:td>
                        
                   
                    <h:td></h:td>
                        
                </h:tr>
                    
                    
                <h:tr >
                    <h:td width="18%"  colspan="4">
                        <label value="Nội dung: " />
                    </h:td>                   
                </h:tr> 
                <h:tr >
                    <h:td colspan="4">
                        <textbox id="txtPaymentConfirm"  rows="5"
                                 mold="rounded"
                                 width="100%" height="80%" maxlength="500" sclass="txtInput" />
                    </h:td>
                </h:tr>    
                  
            </h:table>
               <h:table width="100%"> 
                <h:tr>
                    <h:td width="100%">      
                         <label id="lbWarningUnder" class="notify" visible="false"/>
                    </h:td>
                </h:tr>
            </h:table>
               
            <h:table style="width:100%" class="searchTable"  >     
                <h:tr>
                    
                    <h:td colspan="2">
                        <textbox id="txtValidate" visible="false" />
                        <label value="  " sclass="label-required" />
                    </h:td>
                    <button id="btnSubmit" label="Đồng ý" sclass="button" image="/Share/img/icon/save.png" visible="false"/>
                    <label value=" "  />
                    <textbox id="txtCurrentDept" visible="false" />
                </h:tr>                               
            </h:table>                                                                               
        </h:div>
        <label id="lbPhase" visible="false" value="1"/>
    </window>

</zk>	
        
        
        
