<?xml version="1.0" encoding="UTF-8"?>
<window xmlns:h="http://www.zkoss.org/2005/zk/native"
        xmlns="http://www.zkoss.org/2005/zul" id="businessWindow"
        xmlns:w="http://www.zkoss.org/2005/zk/client"
        apply="com.viettel.module.importOrderNew.Controller.Evaluation.DepartmentClericalImportOrderController"
        closable="true">

    <style src="/Share/css/formstyle.css" />
    <style src="/Share/css/uploadstyle.css" />
    <script type="text/javascript" src="/Share/js/UPMSamples.js" />
    <script type="text/javascript"
                src="/Share/js/ca/ViettelCAPlugin.js" />
    <script type="text/javascript" src="/Share/js/ca/serverSide.js" />
    <h:object id="plugin0" type="application/x-viettelcasigner"
                  width="3" height="10">
    </h:object>
    <vlayout id="layoutComment">
        <label id="lbTopWarning" style="color: red;" />
               
        <listbox id="finalFileListbox" multiple="false"
                 style="word-wrap:break-word" vflex="false"
                 emptyMessage="Không tồn tại danh mục" mold="paging" >
            <listhead sizable="true">
                <listheader width="5%" label="STT" align="center" />
                <listheader width="45%" label="Tên tệp" align="left"/>
                <listheader width="40%" label="Loại tệp" align="left"/>
                <listheader width="5%" label="Tải về" align="center" />
            </listhead>
            <template name="model">
                <listitem value="${each}">
                    <listcell label="${forEachStatus.index+1}" />
                    <listcell label="${each.attachName}" />
                    <listcell label="${each.attachTypeName}" />
                    <listcell>
                        <image
                            forward="onClick=finalFileListbox.onDownloadFinalFile(${each})"
                            src="/Share/img/icon/download.png" width="20px" height="20px"
                            tooltiptext="Tải file" />
                    </listcell>
                </listitem>
            </template>
        </listbox>

        <h:input type="button"
                 onclick="uploadCertDepartmentLeadershipFile();"
                 value="Ký số công văn cấp phép" />
        <div align="center" visible="true"
             style="height: 1px">
            <h:input type="text" name="filepath"
                     id="filepath" size="50" style="display:none" />
            <h:input type="hidden" id="base64Hash" value="" />
            <textbox id="txtBase64HASH" value=""
                     style="display:none" />
            <h:input type="hidden" id="certSerial" value="" />
            <textbox id="txtCertSERIAL" value=""
                     style="display:none" />
            <h:br />
            <h:div id="areaId" style="display: none" />
        </div>
        
        <listbox id="finalFileListboxKy" 
                 multiple="false" style="word-wrap:break-word" vflex="false"
                 emptyMessage="Không tồn tại danh mục" mold="paging">
            <listhead sizable="true">
                <listheader width="5%" label="STT" align="center"/>
                <listheader width="45%" label="Tên tệp" align="left"/>
                <listheader width="40%" label="Loại tệp" align="left"/>
                <listheader width="5%" label="Tải về" align="center"/>
                <listheader width="5%" label="Xóa" align="center"/>
            </listhead>
            <template name="model">
                <listitem value="${each}">
                    <listcell label="${forEachStatus.index+1}" />
                    <listcell label="${each.attachName}" />
                    <listcell label="${each.attachTypeName}" />
                    <listcell >
                        <image forward="onClick=finalFileListboxKy.onDownloadFinalFile(${each})" 
                               src="/Share/img/icon/download.png" 
                               width="20px" height="20px" 
                               tooltiptext="Tải file"/>
                    </listcell>
                    <listcell>
                        <image src="/Share/img/icon/delete.png"
                               width="20px" height="20px"
                               forward="onClick=finalFileListboxKy.onDeleteFinalFile(${each})"
                               tooltiptext="Xóa file" 
                               visible="true"/>
                    </listcell>
                </listitem>
            </template>
        </listbox>
        
        <div align="center">
            <button id="btnSubmit" label="Gửi xử lý" visible="false"
                    image="/Share/img/icon/send_document_1.png" />
            <textbox id="txtMessage" visible="false" />
            <textbox id="txtValidate" visible="false" />
            <textbox id="txtFinishDate" visible="false" />
        </div>
        <label id="lbBottomWarning" style="color: red;" />
    </vlayout>
</window>