<?xml version="1.0" encoding="UTF-8"?>
<window xmlns:h="http://www.zkoss.org/2005/zk/native"
	xmlns="http://www.zkoss.org/2005/zul" id="businessWindow"
	title="Thẩm định hồ sơ"
	apply="com.viettel.module.importOrderNew.Controller.Evaluation.EvaluationOrderController"
	width="100%">

	<style src="/Share/css/formstyle.css" />
	<style src="/Share/css/uploadstyle.css" />
	<script type="text/javascript" src="/Share/js/UPMSamples.js" />
        <groupbox mold="3d">
        <caption label="Thông tin thẩm định hồ sơ"/>
	<tabbox id="tb">
		<tabs id="tabs">
			<tab label="Thẩm định" />
			<tab label="Hồ sơ" />
			<tab label="Tệp đính kèm" />
		</tabs>
		<tabpanels>
			<tabpanel id="mainpanel">
				<vlayout id="layoutComment">
					<label id="lbTopWarning" style="color: red;" />
					<div align="center" visible="false">
						<textbox id="txtValidate" visible="false" />
					</div>
					<h:table style="width:100%">
						<h:tr>
							<h:td style="width:100%">
								<h:table width="100%" align="center">
									<h:th width="10%" />
									<h:th width="10%" />
									<h:th width="40%" />
									<h:th width="40%" />
								</h:table>
<!--								<label value="Cơ quan kiểm tra: "
									class="lb-create" />
								<listbox mold="select"
									onSelect="$composer.onChangeCQKT()" id="lbxDepartment"
									width="200px">
									<template name="model">
										<listitem
											label="${each.deptName}" value="${each.deptId}" />
									</template>
								</listbox>-->
								<label id="lbTextNumberUnprocess"
									value="Số lượng hồ sơ chưa xử lý: " visible="false"
									class="lb-create" />
								<label id="lbNumberUnprocess"
									class="lb-create" visible="false" />
								<h:table width="100%" align="center">
									<h:th width="15%" />
									<h:th width="35%" />
									<h:th width="15%" />
									<h:th width="35%" />
									<h:tr>
										<h:td colspan="4">
											<groupbox width="100%"
												sclass="gb-form-create" closable="false">
												<caption
													label="THÔNG TIN CHI TIẾT LÔ HÀNG" />
												<h:table width="100%"
													align="center">
													<h:th width="15%" />
													<h:th width="35%" />
													<h:th width="15%" />
													<h:th width="35%" />
													<h:tr>
														<h:td
															colspan="4">
															<listbox
																id="lbOrderProduct" multiple="false"
																style="word-wrap: break-word"
																emptyMessage="${$composer.getLabelCos('cosmetic_ds_khongtontaibanghi')}">
																<listhead
																	sizable="true">
																	<listheader
																		width="5%"
																		label="${$composer.getLabelCos('cosmetic_stt')}"
																		align="center" />
																	<listheader
																		width="15%" label="Tên mặt hàng" />
																	<listheader
																		width="15%" label="Mô tả mặt hàng" />
																	<listheader
																		width="10%;" label="Xuất xứ" />
																	<listheader
																		width="10%;" label="Số công bố" />
																	<listheader
																		width="10%" label="Số lượng" />
																	<listheader
																		width="10%" label="Khối lượng" />
																	<listheader
																		width="10%" label="Giá trị (VND)" />
																	<listheader
																		width="15%" label="Phương thức kiểm tra" />
																</listhead>
																<template
																	name="model">
																	<listitem
																		value="${each}"
																		forward="onClick=lbOrderProduct.onShow(${each})">
																		<custom-attributes
																			master="${each}" />
																		<listcell
																			label="${forEachStatus.index+1+userPagingBottom.pageSize*userPagingBottom.activePage}" />
																		<listcell
																			label="${each.productName}" />
																		<listcell
																			label="${each.productDescription}" />
																		<listcell
																			label="${each.nationalName}" />
																		<listcell
																			label="${each.confirmAnnounceNo}" />
																		<listcell label="${c:formatNumber(each.total,'#####')}" />
																		<listcell
																			label="${each.netweight}" />
																		<listcell
																			label="${each.baseUnit}" />
																		<listcell>


																			<listbox
																				width="100px" rows="1" mold="select"
																				model="${$composer.getCheckMethodList()}">
																				<template
																					name="model">
																					<listitem
																						label="${each.name}" value="${each.code}"
																						selected="${master.checkMethodCode == each.code ? true : false}">
																						<custom-attributes
																							productId="${master.productId}" />
																					</listitem>
																				</template>
																			</listbox>
																		</listcell>
																	</listitem>
																</template>
															</listbox>

														</h:td>
													</h:tr>
												</h:table>
											</groupbox>
										</h:td>
									</h:tr>
								</h:table>
							</h:td>
						</h:tr>


						<h:tr>
							<h:td style="width:100%">
								<h:table width="100%" align="center">
									<h:th width="15%" />
									<h:th width="35%" />
									<h:th width="15%" />
									<h:th width="35%" />
									<h:tr>
										<h:td colspan="4">
											<groupbox width="100%"
												sclass="gb-form-create" closable="false">
												<caption
													label="Lịch sử thẩm định" />
												<h:table width="100%"
													align="center">
													<h:tr>
														<h:td>
															<listbox
																id="lbProductHisstory" multiple="false"
																style="word-wrap: break-word"
																emptyMessage="${$composer.getLabelCos('cosmetic_ds_khongtontaibanghi')}">
																<listhead
																	sizable="true">
																	<listheader
																		width="5%"
																		label="${$composer.getLabelCos('cosmetic_stt')}"
																		align="center" />
																	<listheader
																		width="20%" label="Mã hồ sơ" />
                                                                                                                                        <listheader
																		width="20%" label="Tên mặt hàng" />
																	<listheader
																		width="10%;" label="Số công bố" />
																	<listheader
																		width="20%" label="Phương thức kiểm tra" />
																	<listheader
																		width="15%" label="Kết quả kiểm tra" />
																	<listheader
																		width="20%" label="Ngày nhập yêu cầu" />
																</listhead>
																<template
																	name="model">
																	<listitem >																		
																		<listcell
																			label="${forEachStatus.index+1+userPagingBottom.pageSize*userPagingBottom.activePage}" />
																		<listcell
																			label="${each.nswFileCode}" />
                                                                                                                                                <listcell
																			label="${each.productName}" />
																		<listcell
																			label="${each.confirmAnnounceNo}" />
																		<listcell
																			label="${each.checkMethodName}" />
																		<listcell
																			label="${each.pass == 1 ? 'Đạt' : 'Không đạt' }" />
																		<listcell >
																		<label value="${each.createDate != null ? c:formatDate(each.createDate, 'dd/MM/yyyy'): ''}"
																				sclass="label-info" multiline="true"  />
																		</listcell>
																	</listitem>
																</template>
															</listbox>
														</h:td>
													</h:tr>
												</h:table>
											</groupbox>
										</h:td>
									</h:tr>
								</h:table>
							</h:td>
						</h:tr>						
					</h:table>
					<div align="center" visible="false">
						<button id="btnSubmit" label="Gửi xử lý"
							visible="true" image="/Share/img/icon/send_document_1.png" />
						<textbox id="mainContent" width="95%" rows="5"
							visible="true" value="${$composer.obj.mainContent}"
							maxlength="2000" />
						<label id="lbFileId" visible="false"></label>
                                                <textbox id="txtCurrentDept" value="1" visible="false" />
						<label id="producIdHidden" visible="false"></label>
					</div>
					<label id="lbBottomWarning" style="color: red;" />
				</vlayout>
			</tabpanel>
			<tabpanel>
				<include
					src="/Pages/module/importorder/importOrderView_TabProfile.zul?fileId=${$composer.fileId}" />
			</tabpanel>
			<tabpanel>
				<include
					src="/Pages/module/importorder/importOrderView_TabAttach.zul?fileId=${$composer.fileId}" />
			</tabpanel>
		</tabpanels>
	</tabbox>
    </groupbox>
</window>