<?xml version="1.0" encoding="UTF-8"?>
<window xmlns:h="http://www.zkoss.org/2005/zk/native"
	xmlns="http://www.zkoss.org/2005/zul" id="businessWindow"
	title="Kết quả kiểm nghiệm"
	apply="com.viettel.module.importOrderNew.Controller.Evaluation.IO_13_2_LDPGuiCQKTPheDuyetController"
	width="100%">

	<style src="/Share/css/formstyle.css" />
	<style src="/Share/css/uploadstyle.css" />
	<script type="text/javascript" src="/Share/js/UPMSamples.js" />
	<vlayout id="layoutComment">
		<label id="lbTopWarning" style="color: red;" />

		<div align="center" visible="false">
			<textbox id="txtValidate" visible="false" />
		</div>
		<h:table style="width:100%">
			<h:tr>
				<!-- Tệp đính kèm theo sản phẩm-->
				<h:td style="width:100%">
					<h:div style="width:100%;  overflow:auto;"
						visible="false">
						<groupbox width="100%" sclass="gb-form-create"
							closable="false">
							<caption
								label="Danh sách tài liệu nội bộ" />
							<h:table width="100%" align="center">
								<h:tr>
									<h:td width="15%">
										<label id="lbAttachOrderFile"
											value="Loại tệp đính kèm" sclass="lb-create" visible="false" />
									</h:td>

									<h:td width="35%">
										<listbox id="lbOrderFile"
											visible="false"
											onCreate="self.model=$composer.getListBoxModel_File(1)"
											mold="select" width="80%"
											onAfterRender='self.setSelectedIndex($composer.getSelectedIndexInModel(1))'>

											<template name="model">
												<listitem
													label="${each.name}" value="${each.code}" />
											</template>
										</listbox>
									</h:td>
									<h:td width="15%">
										<label id="lbUploadOrderFile"
											value="Tệp tải lên" sclass="lb-create" visible="false" />
									</h:td>
									<h:td width="35%">
										<vlayout>
											<button width="85px"
												id="btnAttachOrderFile" visible="false"
												style="font-weight: bold;color: #F25D45;" sclass="attachBtn"
												src="/Share/img/paperclip.png"
												upload="zk.UPMSample1,maxsize=20480,multiple=true,native"
												label="Chọn tệp" />
											<vlayout id="flistOrderFile"
												hflex="1" sclass="fileList" />
										</vlayout>
									</h:td>
								</h:tr>

								<h:tr>
									<h:td colspan="4"
										style="text-align:center">
										<button id="btnCreateOrderFile"
											visible="false" label="Thêm mới" sclass="button"
											image="/Share/img/icon/add_1.png" />

									</h:td>
								</h:tr>

								<h:tr>
									<h:td colspan="4"
										style="text-align:center">
										<listbox
											id="fileListboxOrderFile" multiple="false"
											style="word-wrap:break-word" vflex="true"
											emptyMessage="Không tồn tại danh mục" mold="paging"
											pageSize="10">
											<listhead sizable="true">
												<listheader width="5%"
													label="STT" align="center" />
												<listheader width="40%"
													label="Tên tệp" align="left" />
												<listheader width="35%"
													label="Loại tệp" align="left" />
												<listheader width="10%"
													label="Tải về" align="center" />
												<!--                                                <listheader width="5%" label="Xoá" align="center"/>-->
											</listhead>
											<template name="model">
												<listitem
													value="${each}">
													<listcell
														label="${forEachStatus.index+1}" />
													<listcell
														label="${each.attachName}" />
													<listcell
														label="${each.typeFileName}" />
													<listcell>
														<image
															forward="onClick=fileListboxOrderFile.onDownloadOrderFile(${each})"
															src="/Share/img/icon/download.png" width="20px" height="20px"
															tooltiptext="Tải file" />
													</listcell>
													<!--                                                    <listcell>
														<image forward="onClick=fileListboxOrderFile.onDeleteOrderFile(${each})" 
														src="/Share/img/icon/delete.png" 
														width="20px" height="20px" 
														tooltiptext="Tải file"/>
														</listcell>-->
												</listitem>
											</template>
										</listbox>
									</h:td>
								</h:tr>
							</h:table>
						</groupbox>
					</h:div>
				</h:td>
			</h:tr>
			<h:tr>
				<h:td style="width:100%">
					<h:table width="100%" align="center">
						<h:th width="10%" />
						<h:th width="10%" />
						<h:th width="40%" />
						<h:th width="40%" />
					</h:table>

					<!--					<groupbox width="100%" sclass="gb-form-create"
						closable="false" id="gbRapidCRUD1">						-->
					<h:table width="100%" align="center">
						<h:th width="15%" />
						<h:th width="35%" />
						<h:th width="15%" />
						<h:th width="35%" />
						<h:tr>
							<h:td colspan="4">
								<groupbox width="100%"
									sclass="gb-form-create" closable="false">
									<caption
										label="Thông tin chi tiết lô hàng" />
									<h:table width="100%"
										align="center">
										<h:th width="15%" />
										<h:th width="35%" />
										<h:th width="15%" />
										<h:th width="35%" />

										<h:tr>
											<h:td colspan="4">
												<listbox
													id="lbOrderProduct" multiple="false"
													style="word-wrap: break-word"
													emptyMessage="${$composer.getLabelCos('cosmetic_ds_khongtontaibanghi')}">
													<listhead
														sizable="true">
														<listheader
															width="5%"
															label="${$composer.getLabelCos('cosmetic_stt')}"
															align="center" />
														<listheader
															width="20%" label="Tên mặt hàng" />
														<listheader
															width="25%" label="Mô tả mặt hàng" />
														<listheader
															width="10%;" label="Xuất xứ" />
														<listheader
															width="10%;" label="Số công bố" />
														<listheader
															width="10%" label="Số lượng" />
														<listheader
															width="10%" label="Khối lượng" />
														<listheader
															width="10%" label="Giá trị (VND)" />
														<listheader
															width="20%" label="Phương thức kiểm tra" />
														<listheader
															width="20%" label="Kết quả" />
													</listhead>
													<template
														name="model">
														<listitem
															value="${each}"
															forward="onClick=lbOrderProduct.onShow(${each})">
															<listcell
																label="${forEachStatus.index+1+userPagingBottom.pageSize*userPagingBottom.activePage}" />
															<listcell
																label="${each.productName}" />
															<listcell
																label="${each.productDescription}" />
															<listcell
																label="${each.nationalName}" />
															<listcell
																label="${each.confirmAnnounceNo}" />
															<listcell
																label="${c:formatNumber(each.total,'#####')}" />
															<listcell
																label="${each.netweight}" />
															<listcell
																label="${each.baseUnit}" />
															<listcell
																label="${each.checkMethodName}" />
															<listcell>
																<label
																	value="${each.pass == 1 ? 'Đạt' : 'Không đạt'}" />
															</listcell>
														</listitem>
													</template>
												</listbox>

											</h:td>
										</h:tr>
									</h:table>
								</groupbox>

							</h:td>
						</h:tr>

					</h:table>
					<!--					</groupbox>-->



				</h:td>
			</h:tr>
			<h:tr>
				<h:td style="width:100%">
					<h:div style="width:100%;  overflow:auto;"
						visible="false">
						<groupbox width="100%" sclass="gb-form-create"
							closable="false">
							<caption label="Kết quả kiểm nghiệm" />
							<h:table width="100%" align="center">
								<h:th width="10%" />
								<h:th width="40%" />
								<h:th width="10%" />
								<h:th width="10%" />

								<div visible="false">
									<h:tr>
										<h:td colspan="4">
											<listbox
												id="lbProductTarget" multiple="false"
												style="word-wrap: break-word"
												emptyMessage="${$composer.getLabelCos('cosmetic_ds_khongtontaibanghi')}"
												visible="false">
												<listhead
													sizable="true">
													<listheader
														label="STT" align="center" style="width:5%" />
													<listheader
														label="Nhóm chỉ tiêu" align="center" style="width:15%"
														sort="auto" />
													<listheader
														label="Tên chỉ tiêu" align="center" style="width:20%" />
													<listheader
														label="Phương pháp thử" align="center" style="width:20%" />
													<listheader
														label="Giá tiền" align="center" style="width:10%" />
													<listheader
														label="Giá trị kiểm nghiệm" align="center"
														style="width:10%" />
													<listheader
														label="Giá trị cho phép" align="center" style="width:10%" />
													<listheader
														label="Kết quả" align="center"
														style="width:10%" />
													<!--                                                    <listheader label="${$composer.getLabelCos('common_edit')}" align="center" hflex="min" style="width:5%" />            
														<listheader label="${$composer.getLabelCos('common_delete')}" align="center" hflex="min" style="width:5%" />-->

												</listhead>
												<template
													name="model">
													<listitem>

														<listcell
															label="${forEachStatus.index + 1 + userPagingTop.pageSize * userPagingTop.activePage}" />
														<listcell
															label="${each.typeName}" />
														<listcell
															label="${each.name}" />
														<listcell
															style="text-align:left" label="${each.testMethod}" />
														<listcell
															style="text-align:left" label="${each.cost}" />
														<listcell
															style="text-align:left" label="${each.testValue}" />
														<listcell
															style="text-align:left" label="${each.maxValue}" />
															<listcell
															style="text-align:left" label="${each.pass ==1 ? 'Đạt' : 'Không đạt' }" />
													</listitem>
												</template>
											</listbox>
										</h:td>
									</h:tr>
								</div>
								<div>
									<h:tr>
										<h:td colspan="4"
											align="left">
											<button id="btnAddNew"
												label="Thêm mới chỉ tiêu" visible="false"
												image="/Share/img/icon/send_document_1.png" />
											<label id="producIdHidden"
												visible="false">
											</label>
											<label id="lbFileId"
												visible="false">
											</label>
										</h:td>
									</h:tr>
								</div>
							</h:table>
						</groupbox>
					</h:div>
				</h:td>

			</h:tr>
			<h:tr>
				<!-- Tệp đính kèm theo sản phẩm-->
				<h:td style="width:100%">
					<h:div style="width:100%;  overflow:auto;"
						visible="false">
						<groupbox width="100%" sclass="gb-form-create"
							closable="false">
							<caption
								label="Danh sách tài liệu gửi doanh nghiệp" />
							<h:table width="100%" align="center">
								<h:tr>
									<h:td width="15%">
										<label id="lbAttachFile"
											value="Loại tệp đính kèm" sclass="lb-create" visible="false" />
									</h:td>

									<h:td width="35%">
										<listbox
											id="lbImportOrderFileType" visible="false"
											onCreate="self.model=$composer.getListBoxModel(1)"
											mold="select" width="80%"
											onAfterRender='self.setSelectedIndex($composer.getSelectedIndexInModel(1))'>
											<template name="model">
												<listitem
													label="${each.name}" value="${each.code}" />
											</template>
										</listbox>
									</h:td>
									<h:td width="15%">
										<label id="lbUploadFile"
											value="Tệp tải lên" sclass="lb-create" visible="false" />
									</h:td>
									<h:td width="35%">
										<vlayout>
											<button width="85px"
												id="btnAttach" visible="false"
												style="font-weight: bold;color: #F25D45;" sclass="attachBtn"
												src="/Share/img/paperclip.png"
												upload="zk.UPMSample1,maxsize=20480,multiple=true,native"
												label="Chọn tệp" />
											<vlayout id="flist"
												hflex="1" sclass="fileList" />
										</vlayout>
									</h:td>
								</h:tr>

								<h:tr>
									<h:td colspan="4"
										style="text-align:center">
										<button id="btnCreate"
											visible="false" label="Thêm mới" sclass="button"
											image="/Share/img/icon/add_1.png" />

									</h:td>
								</h:tr>

								<h:tr>
									<h:td colspan="4"
										style="text-align:center">
										<listbox id="fileListbox"
											multiple="false" style="word-wrap:break-word" vflex="true"
											emptyMessage="Không tồn tại danh mục" mold="paging"
											pageSize="10">
											<listhead sizable="true">
												<listheader width="5%"
													label="STT" align="center" />
												<listheader width="40%"
													label="Tên tệp" align="left" />
												<listheader width="35%"
													label="Loại tệp" align="left" />
												<listheader width="10%"
													label="Tải về" align="center" />
												<!--                                                <listheader width="5%" label="Xoá" align="center"/>-->
											</listhead>
											<template name="model">
												<listitem
													value="${each}">
													<listcell
														label="${forEachStatus.index+1}" />
													<listcell
														label="${each.attachName}" />
													<listcell
														label="${each.typeFileName}" />
													<listcell>
														<image
															forward="onClick=fileListbox.onDownloadFile(${each})"
															src="/Share/img/icon/download.png" width="20px" height="20px"
															tooltiptext="Tải file" />
													</listcell>
													<!--                                                    <listcell>
														<image forward="onClick=fileListbox.onDeleteFile(${each})" 
														src="/Share/img/icon/delete.png" 
														width="20px" height="20px" 
														tooltiptext="Tải file"/>
														</listcell>-->
												</listitem>
											</template>
										</listbox>
									</h:td>
								</h:tr>
							</h:table>
						</groupbox>
					</h:div>
				</h:td>
			</h:tr>
		</h:table>
		<div align="center" visible="false">
			<button id="btnSubmit" label="Gửi xử lý" visible="true"
				image="/Share/img/icon/send_document_1.png" />
			<textbox id="mainContent" width="95%" rows="5"
				visible="true" value="${$composer.obj.mainContent}"
				maxlength="2000" />
                        <textbox id="txtCurrentDept" visible="false" />
		</div>
		<label id="lbBottomWarning" style="color: red;" />
	</vlayout>
</window>