<?xml version="1.0" encoding="UTF-8"?>

<zk xmlns:h="http://www.w3.org/1999/xhtml"
    xmlns="http://www.zkoss.org/2005/zul">
    <window>
        <label id="loginError" style="width:100%;color:red">
            Có lỗi xảy ra !            
        </label>
    </window>
</zk>
