<?xml version="1.0" encoding="UTF-8"?>
<zk lang="vi" xmlns:h="http://www.w3.org/1999/xhtml"
    xmlns="http://www.zkoss.org/2005/zul">
    
    <style src="../Share/homepage/style_comon.css"/>
    <style>
        .SpanTag {
        font-family:Arial!important;
        font-size:17px !important;
        }
        
        .SpanTag2 {
        font-family:Arial!important;
        font-size:20px !important;
        }
        
        .SpanTag3 {
        font-family:Arial!important;
        font-size:12px !important;
        }
        
        .SpanTag4 {
        font-family:Arial!important;
        font-size:24px !important;
        <!--border-bottom: 3px solid;-->
        color: #df540a;
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 3px;
        padding-left: 3px;
        padding-right: 5px;
        }
    </style>
<!--    background-image: url('../Share/homepage/images/body-bg.png');-->
    <h:div style="width:100%;font-family:'MyriadPro-BoldCond'!important;
              font-size:18px !important; background-color: #f8f8f8;
    
    background-position: center bottom;
    background-repeat: repeat-x;">
         <?meta name="description" content="Bộ Y tế | Vụ Trang thiết bị và công trình y tế | Cục An toàn thực phẩm | cấp phép nhập khẩu thực phẩm, nhập khẩu trang thiết bị y tế, bộ xét nghiệm nhanh" ?>
            <?meta name="keywords" content="Bộ y tế, Vụ Trang thiết bị và công trình y tế, Cục An toàn thực phẩm, cấp phép, nhập khẩu, bộ xét nghiệm nhanh,trang thiết bị, thực phẩm" ?>
		
                <?meta name="robots" content="index,follow,all" ?>  
                <?meta property="og:locale" content="vi_VN" ?>
                <?meta http-equiv="content-language" content="vi"?>
                <?meta http-equiv="content-type" content="text/html; charset=UTF-8"?>
        <window apply="com.viettel.module.cosmetic.Controller.IntroduceController" id="homePage">
        
            <h:div class="header_hp">
                <h:div class="banner">
                    <h:div class="logo1">
                        <h:img class="logo" width="65" height="65" src="../Share/homepage/images/logo.png" />
                        <h:div class="banner_title">
                            <h:div class="l1">Cơ chế một cửa quốc gia</h:div>
                                <h:div class="l2">Bộ Y Tế</h:div>
                        </h:div>
                    </h:div>
                    <h:div class="hotline">
                        <!--  <h:img width="" height="" src="../Share/homepage/images/hotline_img.png" /> -->
                    </h:div>
                </h:div>
            </h:div>
            <h:div class="hr_name">
                <h:ul class="h_menu">
                    <h:li>
                        <a href="/Pages/homepage.zul">Trang chủ</a>
                    </h:li>
                    <h:li>
                        <a href="/Pages/proceduce.zul">DỊCH VỤ CÔNG TRỰC TUYẾN</a>
                    </h:li>
                    <h:li>
                        <a href="/Pages/lookupCosPermitManager.zul">TRA CỨU</a>
                    </h:li>                	
                    <h:li class="li-active">
                        <a href="/Pages/introduce.zul">LIÊN HỆ</a>
                    </h:li>                                       
                </h:ul>
            </h:div>
            <h:div class="wrapper" >                
                <h:div class="big_banner2">
                    <h:div class="statistic">
                        <!--<h:img src="../Share/homepage/icon.jpg" height="256" width="256" />-->
                    </h:div>
                    <h:div class="RegForm">
                        <h:div class="titReg">
                            <a>Cục An Toàn thực phẩm</a>
                        </h:div>
                        <h:div class="titReg" style="color:#434343">
                            <span>
                                <label class="SpanTag">
                                </label>
                                Địa chỉ: 138A Giảng Võ - Ba Đình - Hà Nội
                                <h:br/>
                            </span>
                        </h:div>
                        <h:div class="titReg" style="color:#434343">
                            <span>
                                <label class="SpanTag">
                                </label>
                                Hotline: 098.6116.850
                                <h:br/>
                            </span>
                        </h:div>
                       
                    </h:div>
                    
                </h:div>
                <h:div class="big_banner2">
                    <h:div class="statistic">
                        <!--<h:img src="../Share/homepage/icon.jpg" height="256" width="256" />-->
                    </h:div>
                    <h:div class="RegForm">
                        <h:div class="titReg">
                            <a>Vụ trang thiết bị và công trình y tế</a>
                        </h:div>
                       
                        <h:div class="titReg" style="color:#434343">
                            <span>
                                <label class="SpanTag">
                                </label>
                                Địa chỉ: 138A Giảng Võ - Ba Đình - Hà Nội
                                <h:br/>
                            </span>
                        </h:div>
                        
                        <h:div class="titReg" style="color:#434343">
                            <span>
                                <label class="SpanTag">
                                </label>
                                Hotline: 0989.896.782
                                <h:br/>
                            </span>
                        </h:div>
                       
                    </h:div>
                    
                </h:div>
            </h:div>
            
            <h:div class="footer_bt" style="margin-top:5px;">
                <label class="SpanTag3">
                    Bản quyền: Bộ Y tế</label>
                <h:br/>
                <label class="SpanTag3">Địa chỉ: 138A Giảng Võ - Hà Nội</label>
                <h:br/>
                <label class="SpanTag3">Điện thoại: 844.37366483. Fax: 844.38234758. Email: cqldvn@moh.gov.vn</label>
            </h:div>
        </window>
    </h:div>
</zk>