/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 14, 2019, 8:45:29 AM
    Author     : Administrator
*/

.test_label_inform {
    color: black;
    font-weight: bold;
    margin-left: 10px;
    line-height: 30px;
    font-size: 12px;
    text-align: left;
}
.test_label_table{
    color: black;
    font-size: 12px;
    text-align: left;
    vertical-align: central;
}
.test_label{
    line-height: 30px;
    color: black;
    font-size: 12px;
    margin-left: 20px;
}
.table,th,td{
    text-align: left !important;
    vertical-align: central;
}
#test_chi_tiet_lo_hang{
    border-collapse: collapse;
    border: 1px solid #DDD;
}