<?xml version="1.0" encoding="UTF-8"?>
<zk xmlns:h="http://www.w3.org/1999/xhtml"
    xmlns="http://www.zkoss.org/2005/zul"
    xmlns:zk="http://www.zkoss.org/2005/zk">
    <window id="flowConfigDlg" apply="com.viettel.module.importDevice.Controller.include.BoardMemberViewCommentController" 
            position="center,center" style="width:750px" closable="true">
        <h:div class="toolBar">
            <!--<h:img src="/Share/img/icon/back.png" forward="onClick=flowConfigDlg.onBack" />-->
            <image src="/Share/img/icon/back.png" forward="onClick=flowConfigDlg.onBack"
                   tooltiptext="Quay trở lại trang trước" />
        </h:div>
        <listbox id="lbProcess" mold="paging" pageSize="10" style="width:100%">
            <listhead>
                <listheader width="5%" label="STT" align="center" />
                <listheader width="15%" label="Người gửi"  />
                <listheader width="15%" label="Thời gian"  />
                <listheader width="40%" label="Nội dung"  />
            </listhead>
            <template name="model">
                <listitem value="${each}">
                    <listcell label="${forEachStatus.index+1}" />
                    <listcell label="${each.sendUserName}" />
                    <listcell label="${$composer.convertDateTimeToString(each.sendTime)}" />
                    <listcell label="${each.content}" />
                </listitem>
            </template>            
        </listbox>
        <script defer="true">
            /*
            //var graph = drawCurrentProcess("flowNode");
            //loadAndDrawFlowContent = function(){
            //graph.setProcess(page.process);
            //graph.drawProcess();
            //}
            */           
        </script>
    </window>
</zk>
