<?xml version="1.0" encoding="UTF-8"?>

<zk>
    <window xmlns:h="http://www.zkoss.org/2005/zk/native" 
    apply="com.viettel.module.importfood.Controller.CUIfdFileController"
    xmlns="http://www.zkoss.org/2005/zul" id="CUIfdFileWnd" position="center,center" 
    width="100%" closable="true">
            <style src="/Share/css/formstyle.css" />
            <style src="/Share/css/uploadstyle.css" />
            <script type="text/javascript" src="/Share/js/UPMSamples.js" />
            <script type="text/javascript" src="/Share/js/ca/ViettelCAPlugin.js" />
            <script type="text/javascript" src="/Share/js/ca/serverSide.js" />
            <style>
                .inline-table{
                    //display: inline-table;
                    width: 100%;
                    //padding-left: 20px;
                }
                .container{
                    width: 100%;
                    margin: 0 auto;
                }
                .padding-alignment{
                    padding-left: 20px;
                }
                .margin-alignment{
                    margin-left: 20px;
                }
                .text-align-right{
                    text-align: right;
                }
                .test_label{
                    line-height: 30px;
                    color: black;
                    font-size: 12px;
                    margin-left: 20px;
                }
                .test_label_inform {
                    color: black;
                    font-weight: bold;
                    margin-left: 10px;
                    line-height: 30px;
                    font-size: 12px;
                    text-align: left;
                }
                .inputTxt{
                        color: black;
                        font-weight: bold;
                        margin-left: 10px;
                        line-height: 30px;
                        font-size: 12px;
                        text-align: left;
                }
            </style>    
            
        <h:div id="topToolbar" class="toolBar">   
            <button id="btnBack" sclass="btnSave" if="${$composer.crudMode.equals('update')}"
                    image="/Share/img/png/quay-lai.png"/>      
            <button id="btnSave" sclass="btnSave" label="Lưu F7"
                    image="/Share/img/png/luu-lai-va-dong.png" />
            <label id="lbTopWarning" class="notify" width="15%" multiline="false" />
        </h:div>
                   
        <tabbox>
            <tabs>
                <tab id = "file" label = "Hồ sơ"/>
                <tab id = "attach_file" label = "Tệp đính kèm"/>
                <tab id = "file_saved" label = "Hồ sơ lưu"/> 
                <tab id = "info_fee" label = "Thông tin phí"/>
            </tabs>
            
            <tabpanels>
                <tabpanel>
                    <groupbox id="gb0" sclass="container" mold="3d" width="100%" closable="false">
                        <caption label="THÔNG TIN HỒ SƠ YÊU CẦU NHẬP KHẨU"/>

                            <h:table width="100%" align="center">
                                <h:tr>
                                    <h:th width="15%" />
                                    <h:th width="35%"/>
                                    <h:th width="15%"/>   
                                    <h:th width="35%"/>
                                </h:tr>         

                                <h:tr>
                                    <h:td class="text-align-right">
                                        <label value="Mã hồ sơ" class="test_label"/>
                                        <span sclass="label-required">* </span>
                                    </h:td>
                                    <h:td>
                                        <textbox id="fileCode" class="textbox inputTxt" maxlength="12" value="${$composer.ifdFile.fileCode}"/>
                                    </h:td>                  

                                    <h:td class="text-align-right">
                                        <label value="Phương thức kiểm tra" class="test_label"/>
                                        <span sclass="label-required">* </span>
                                    </h:td>
                                    <h:td>
                                        <selectbox id="checkMethod" sclass="textbox inputTxt">
                                            <template name="model">
                                                <label value="${each}"/>
                                            </template>
                                        </selectbox>
                                    </h:td>
                                </h:tr>
                                
                                <h:tr>
                                    <h:td class="text-align-right">
                                        <label value="Trạng thái hồ sơ" class="test_label"/>
                                        <span sclass="label-required">* </span>
                                    </h:td>
                                    <h:td>
                                        <listbox id="fileStatus" mold="select" sclass="textbox inputTxt">
                                            <listitem label="---Chọn---" value="0" selected="true"/>
                                            <listitem label="Hồ sơ nộp mới" value="1"/>
                                            <listitem label="Hồ sơ nộp phí bổ sung" value="2"/>
                                        </listbox>
                                    </h:td>                  
                                </h:tr>

                            <h:tr>
                                <h:td colspan="4">
                                    <div style="margin: 10px 0;">
                                        <groupbox closable="false" width="100%">
                                            <caption label="Thông tin chủ hàng"/>
                                            <h:table width="100%" align="center">
                                                <h:tbody>
                                                    <h:tr>
                                                        <h:th width="15%" />
                                                        <h:th width="35%"/>
                                                        <h:th width="15%"/>   
                                                        <h:th width="35%"/>      
                                                    </h:tr>

                                                    <h:tr>
                                                        <h:td class="text-align-right">
                                                            <label value="Tên chủ hàng" class="test_label"/>
                                                            <span sclass="label-required">* </span>
                                                        </h:td>
                                                        <h:td>
                                                            <textbox id="goodsOwnerName" class="textbox inputTxt" maxlength="255"
                                                             value="${$composer.ifdFile.goodsOwnerName}"/>                      
                                                        </h:td>                  
                                                        <h:td class="text-align-right">
                                                            <label value="Địa chỉ" class="test_label"/>
                                                            <span sclass="label-required">* </span>
                                                        </h:td>
                                                        <h:td>
                                                            <textbox id="goodsOwnerAddress" class="textbox inputTxt" maxlength="500"
                                                            value="${$composer.ifdFile.goodsOwnerAddress}"/>
                                                        </h:td>   
                                                    </h:tr>

                                                    <h:tr>
                                                        <h:td class="text-align-right">
                                                            <label value="Điện thoại" class="test_label"/>
                                                            <span sclass="label-required">* </span>
                                                        </h:td>
                                                        <h:td>
                                                            <textbox id="goodsOwnerPhone" class="textbox inputTxt" maxlength="50"
                                                            value="${$composer.ifdFile.goodsOwnerPhone}"/>
                                                        </h:td>   

                                                        <h:td class="text-align-right">
                                                            <label value="Fax" class="test_label"/>
                                                        </h:td>
                                                        <h:td>
                                                            <textbox id="goodsOwnerFax" class="textbox inputTxt" maxlength="50"
                                                            value="${$composer.ifdFile.goodsOwnerFax}"/>
                                                        </h:td>   
                                                    </h:tr>

                                                    <h:tr>
                                                        <h:td class="text-align-right">
                                                            <label value="Email" class="test_label"/>
                                                            <span sclass="label-required">* </span>
                                                        </h:td>
                                                        <h:td>
                                                            <textbox id="goodsOwnerEmail" class="textbox inputTxt" maxlength="255"
                                                            value="${$composer.ifdFile.goodsOwnerEmail}"/>
                                                        </h:td>   
                                                    </h:tr>
                                                </h:tbody>
                                            </h:table>
                                        </groupbox>
                                    </div>
                                </h:td>
                            </h:tr>

                            <h:tr>
                                <h:td colspan="4">
                                    <div style="margin: 10px 0;">
                                        <groupbox closable="false" width="100%">
                                            <caption label="Thông tin thương nhân chịu trách nhiệm"/>
                                            <h:table width="100%" align="center">
                                                <h:tbody>
                                                    <h:tr>
                                                        <h:th width="15%" />
                                                        <h:th width="35%"/>
                                                        <h:th width="15%"/>   
                                                        <h:th width="35%"/>      
                                                    </h:tr>

                                                    <h:tr>
                                                        <h:td class="text-align-right">
                                                            <label value="Tên thương nhân chịu trách nhiệm" class="test_label"/>
                                                            <span sclass="label-required">* </span>
                                                        </h:td>
                                                        <h:td>
                                                            <textbox id="responesiblePersonName" class="textbox inputTxt" maxlength="255"
                                                            value="${$composer.ifdFile.responesiblePersonName}"/>
                                                        </h:td>                  

                                                        <h:td class="text-align-right">
                                                            <label value="Địa chỉ" class="test_label"/>
                                                            <span sclass="label-required">* </span>
                                                        </h:td>
                                                        <h:td>
                                                            <textbox id="responesiblePersonAddress" class="textbox inputTxt" maxlength="500"
                                                            value="${$composer.ifdFile.responesiblePersonAddress}"/>
                                                        </h:td>                  
                                                    </h:tr>

                                                    <h:tr>
                                                        <h:td class="text-align-right">
                                                            <label value="Điện thoại" class="test_label"/>
                                                            <span sclass="label-required">* </span>
                                                        </h:td>
                                                        <h:td>
                                                            <textbox id="responesiblePersonPhone" class="textbox inputTxt" maxlength="50"
                                                            value="${$composer.ifdFile.responesiblePersonPhone}"/>
                                                        </h:td>                  

                                                        <h:td class="text-align-right">
                                                            <label value="Fax" class="test_label"/>
                                                        </h:td>
                                                        <h:td>
                                                            <textbox id="responesiblePersonFax" class="textbox inputTxt" maxlength="50"
                                                            value="${$composer.ifdFile.responesiblePersonFax}"/>
                                                        </h:td>                  
                                                    </h:tr>

                                                    <h:tr>
                                                        <h:td class="text-align-right">
                                                            <label value="Email" class="test_label"/>
                                                        </h:td>
                                                        <h:td>
                                                            <textbox id="responesiblePersonEmail" class="textbox inputTxt" maxlength="500"
                                                            value="${$composer.ifdFile.responesiblePersonEmail}"/>
                                                        </h:td>                  
                                                    </h:tr>
                                                </h:tbody>
                                            </h:table>
                                        </groupbox>
                                    </div>
                                </h:td>
                            </h:tr>

                            <h:tr>
                                <h:td colspan="4">
                                    <div style="margin: 10px 0;">
                                        <groupbox closable="false" width="100%">
                                            <caption label="Thông tin thương nhân xuất khẩu"/>
                                            <h:table width="100%" align="center">
                                                <h:tbody>
                                                    <h:tr>
                                                        <h:th width="15%" />
                                                        <h:th width="35%"/>
                                                        <h:th width="15%"/>   
                                                        <h:th width="35%"/>      
                                                    </h:tr>

                                                    <h:tr>
                                                        <h:td class="text-align-right">
                                                            <label value="Tên tổ chức cá nhân xuất khẩu" class="test_label"/>
                                                            <span sclass="label-required">* </span>
                                                        </h:td>
                                                        <h:td>
                                                            <textbox id="exporterName" sclass="textbox inputTxt" maxlength="255"
                                                            value="${$composer.ifdFile.exporterName}"/>
                                                        </h:td>                  

                                                        <h:td class="text-align-right">
                                                            <label value="Địa chỉ" class="test_label"/>
                                                            <span sclass="label-required">* </span>
                                                        </h:td>
                                                        <h:td>
                                                            <textbox id="exporterAddress" sclass="textbox inputTxt" maxlength="500"
                                                            value="${$composer.ifdFile.exporterAddress}"/>
                                                        </h:td>                  
                                                    </h:tr>

                                                    <h:tr>
                                                        <h:td class="text-align-right">
                                                            <label value="Điện thoại" class="test_label"/>
                                                        </h:td>
                                                        <h:td>
                                                            <textbox id="exporterPhone" sclass="textbox inputTxt" maxlength="50"
                                                            value="${$composer.ifdFile.exporterPhone}"/>
                                                        </h:td>                  

                                                        <h:td class="text-align-right">
                                                            <label value="Fax" class="test_label"/>
                                                        </h:td>
                                                        <h:td>
                                                            <textbox id="exporterFax" sclass="textbox inputTxt" maxlength="50"
                                                            value="${$composer.ifdFile.exporterFax}"/>
                                                        </h:td>                  
                                                    </h:tr>

                                                    <h:tr>
                                                        <h:td class="text-align-right">
                                                            <label value="Email" class="test_label"/>
                                                        </h:td>
                                                        <h:td>
                                                            <textbox id="exporterEmail" sclass="textbox inputTxt" maxlength="255"
                                                            value="${$composer.ifdFile.exporterEmail}"/>
                                                        </h:td>                  
                                                    </h:tr>
                                                </h:tbody>
                                            </h:table>
                                        </groupbox>
                                    </div>
                                </h:td>
                            </h:tr>

                            <h:tr>
                                <h:td colspan="4">
                                    <div style="margin: 10px 0;">
                                        <groupbox closable="false" width="100%">
                                            <caption label="Thông tin đơn hàng"/>
                                            <h:table width="100%" align="center">
                                                <h:tbody>
                                                    <h:tr>
                                                        <h:th width="15%" />
                                                        <h:th width="35%"/>
                                                        <h:th width="15%"/>   
                                                        <h:th width="35%"/>      
                                                    </h:tr>

                                                    <h:tr>
                                                        <h:td class="text-align-right">
                                                            <label value="Số tờ khai hải quan" class="test_label"/>
                                                        </h:td>
                                                        <h:td>
                                                            <textbox id="customDeclarationNo" sclass="textbox inputTxt" maxlength="255"
                                                            value="${$composer.ifdFile.customDeclarationNo}"/>
                                                        </h:td>

                                                        <h:td class="text-align-right">
                                                            <label value="Thời gian nhập khẩu dự kiến" class="test_label"/>
                                                            <span sclass="label-required">* </span>
                                                        </h:td>
                                                        <h:td>
                                                            <datebox format="dd/MM/yyyy" id="comingDateFrom" width="39%" class="inputTxt"
                                                            value="${$composer.ifdFile.comingDateFrom}"/>
                                                            <span>-</span>
                                                            <datebox format="dd/MM/yyyy" id="comingDateTo" width="38%" class="inputTxt"
                                                            value="${$composer.ifdFile.comingDateTo}"/>
                                                        </h:td>                                   
                                                    </h:tr>

                                                    <h:tr>
                                                        <h:td class="text-align-right">
                                                            <label value="Mã cửa khẩu đi" class="test_label"/>
                                                            <span sclass="label-required">* </span>
                                                        </h:td>
                                                        <h:td>
                                                            <textbox id="exporterGateCode" sclass="textbox inputTxt" maxlength="6"
                                                            value="${$composer.ifdFile.exporterGateCode}"/>
                                                        </h:td> 

                                                        <h:td class="text-align-right">
                                                            <label value="Tên cửa khẩu đi" class="test_label"/>
                                                            <span sclass="label-required">* </span>
                                                        </h:td>
                                                        <h:td>
                                                            <textbox id="exporterGateName" sclass="textbox inputTxt" maxlength="255"
                                                            value="${$composer.ifdFile.exporterGateName}"/>
                                                        </h:td>                              
                                                    </h:tr>

                                                    <h:tr>
                                                        <h:td class="text-align-right">
                                                            <label value="Mã cửa khẩu đến" class="test_label"/>
                                                            <span sclass="label-required">* </span>
                                                        </h:td>
                                                        <h:td>
                                                            <textbox id="importerGateCode" sclass="textbox inputTxt" maxlength="6"
                                                            value="${$composer.ifdFile.importerGateCode}"/>
                                                        </h:td>      
                                                        <h:td class="text-align-right">
                                                            <label value="Tên cửa khẩu đến" class="test_label"/>
                                                            <span sclass="label-required">* </span>
                                                        </h:td>
                                                        <h:td>
                                                            <textbox id="importerGateName" sclass="textbox inputTxt" maxlength="255"
                                                            value="${$composer.ifdFile.importerGateName}"/>
                                                        </h:td>                                 
                                                    </h:tr>

                                                    <h:tr>
                                                        <h:td class="text-align-right">
                                                            <label value="Thời gian kiểm tra" class="test_label"/>
                                                            <span sclass="label-required">* </span>
                                                        </h:td>
                                                        <h:td>
                                                            <datebox format="dd/MM/yyyy" id="checkTimeFrom" width="39%" class="inputTxt"
                                                            value="${$composer.ifdFile.checkTimeFrom}"/>
                                                            <span>-</span>
                                                            <datebox format="dd/MM/yyyy" id="checkTimeTo" width="38%" class="inputTxt"
                                                            value="${$composer.ifdFile.checkTimeTo}"/>
                                                        </h:td>  
                                                        <h:td class="text-align-right">
                                                            <label value="Địa điểm kiểm tra" class="test_label"/>
                                                            <span sclass="label-required">* </span>
                                                        </h:td>
                                                        <h:td>
                                                            <textbox id="checkPlace" sclass="textbox inputTxt" maxlength="500"
                                                            value="${$composer.ifdFile.checkPlace}"/>
                                                        </h:td>                                   
                                                    </h:tr>    

                                                    <h:tr>
                                                        <h:td class="text-align-right">
                                                            <label value="Mã tổ chức kiểm tra" class="test_label"/>
                                                            <span sclass="label-required">* </span>
                                                        </h:td>
                                                        <h:td>
                                                            <textbox id="checkDeptCode" sclass="textbox inputTxt" maxlength="12"
                                                            value="${$composer.ifdFile.checkDeptCode}"/>
                                                        </h:td> 

                                                        <h:td class="text-align-right">
                                                            <label value="Tên tổ chức kiểm tra" class="test_label"/>
                                                            <span sclass="label-required">* </span>
                                                        </h:td>
                                                        <h:td>
                                                            <textbox id="checkDeptName" sclass="textbox inputTxt" maxlength="255"
                                                            value="${$composer.ifdFile.checkDeptName}"/>
                                                        </h:td>                  
                                                    </h:tr>     
                                                </h:tbody>
                                            </h:table>
                                        </groupbox>
                                    </div>
                                </h:td>
                            </h:tr>    
                        </h:table>

                        <groupbox id="gb9" sclass="container" mold="3d">
                            <caption label="THÔNG TIN CHI TIẾT LÔ HÀNG"/>
                            <h:div width="100%">
                                <button id="btnAddProducts" label="Thêm sản phẩm"
                                        image="/Share/img/add.png" />
                            </h:div>
                            <listbox id="listData" multiple="true" emptyMessage="Không tồn tại bản ghi">
                                <listhead sizable="true">
                                    <listheader label="STT" align="center" width="5%"/>
                                    <listheader label="Tên mặt hàng" align="left" width="15%"/>
                                    <listheader label="Nhóm sản phẩm" align="left" width="15%"/>
                                    <listheader label="Tên và địa chỉ nhà sản xuất" align="left" width="15%"/>
                                    <listheader label="Số văn bản xác nhận phương thức kiểm tra" align="left" width="15%"/>
                                    <listheader label="Số công bố" align="center" width="10%"/>
                                    <listheader label="Danh sách tài liệu" align="center" width="10%"/>
                                    <listheader label="Xem" align="center" width="5%"/>
                                    <listheader label="Sửa" align="center" width="5%"/>
                                    <listheader label="Xóa" align="center" width="5%"/>
                                </listhead>
                                <template name="model">
                                    <listitem value="$each">                           
                                        <listcell label="${forEachStatus.index + 1 + userPagingTop.pageSize * userPagingTop.activePage}"/>
                                        <listcell label="${each.productName}"/>
                                        <listcell label="${each.productGroupName}"/>
                                        <listcell label="${each.manufacturer} - ${each.manufacturerAddress}"/>
                                        <listcell label="${each.checkMethodConfirmNo}"/>
                                        <listcell label="${each.confirmAnnounceNo}"/>
                                        <listcell>
                                            <image sclass="myicon" src="/Share/img/list.png" forward="onClick=listData.onGetDocList"/>
                                        </listcell>
                                        <listcell>
                                            <image sclass="myicon" src="/Share/img/icon/view.png" forward="onClick=listData.onView"/>
                                        </listcell>
                                        <listcell>
                                            <image sclass="myicon" src="/Share/img/icon/edit.png" forward="onClick=listData.onEdit"/>
                                        </listcell>
                                        <listcell>
                                            <image sclass="myicon" src="/Share/img/icon/delete.png" forward="onClick=listData.onDelete"/>
                                        </listcell>
                                    </listitem>
                                </template>
                            </listbox>
                            <paging id="userPagingBottom" pageSize="5" detailed="true"/>
                        </groupbox>
                    </groupbox>
                </tabpanel>
                
                <tabpanel>
                    
                </tabpanel>
                
                <tabpanel>
                    
                </tabpanel>
                
                <tabpanel>
                    
                </tabpanel>
            </tabpanels>
        </tabbox>
    </window>
</zk>
