<?xml version="1.0" encoding="UTF-8"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns="http://www.zkoss.org/2005/zul"
    xmlns:h="http://www.zkoss.org/2005/zk/native">
    <style src="/Share/css/formstyle.css"/>
    <listbox id="lbListIfdFile" multiple="true" emptyMessage="${$composer.getLabelCos('common_emptyMessage')}">
        <listhead sizable="true">
            <listheader label="${$composer.getLabelCos('test_stt')}"
                        align="center" style="width:5%" sort="auto"/>
            <listheader label="${$composer.getLabelCos('test_file_code')}"
                        align="center" style="width:10%" />
            <listheader label="${$composer.getLabelCos('test_owner_name')}"
                        align="center" style="width:20%" />
            <listheader label="${$composer.getLabelCos('test_coming_date')}"
                        align="center"  hflex="min"/>
            <listheader label="${$composer.getLabelCos('test_importer_gate')}"
                        align="center"  hflex="min"/>
            <listheader label="${$composer.getLabelCos('test_date_file_comming')}"
                        align="center"  hflex="min" />
            <listheader label="${$composer.getLabelCos('test_check_method')}"
                        align="center" style="width:10%"/>
            <listheader label="${$composer.getLabelCos('test_status_file')}"
                        align="center" style="width:10%" />
            <listheader label="Xem"
                        align="center"  hflex="min" />
            <listheader label="Sửa"
                        align="center"  hflex="min" />
            <listheader label="Xóa"
                        align="center"  hflex="min" />
        </listhead>
        <template name = "model">
            <listitem forward="onClick=lbListIfdFile.onOpenView(${each})" >
                <listcell label = "${forEachStatus.index + 1 + userPagingTop.pageSize * userPagingTop.activePage}"/>
                <listcell label = "${each.fileCode}"/>
                <listcell label = "${each.goodsOwnerName}"/>
                <listcell label = "${each.comingDateFrom != null ? c:formatDate(each.comingDateFrom,'dd/MM/yyyy') : ''} - ${each.comingDateTo !=null ? c:formatDate(each.comingDateTo,'dd/MM/yyyy') : ''}"/>
                <listcell label = "${each.exporterGateName}" />
                <listcell label = "${c:formatDate(each.createDate,'dd/MM/yyyy')}" />
                <listcell label = "${$composer.getCheckMethod(each.checkMethod)}" />
                <listcell label = "${each.fileStatusName}" />
                <listcell >
                    <image src="/Share/img/icon/view.png"  width="20px" height="20px"  forward="onClick=lbListIfdFile.onOpenView(${each})" tooltiptext="${$composer.getLabelCos('common_view')}" />
                </listcell>
                <listcell >
                    <image src="/Share/img/icon/edit.png"  width="20px" height="20px"  forward="onClick=lbListIfdFile.onOpenEdit(${each})" tooltiptext="${$composer.getLabelCos('common_edit')}" />
                </listcell>
                <listcell >
                    <image src="/Share/img/icon/delete.png"  width="20px" height="20px"  forward="onClick=lbListIfdFile.onOpenDelete(${each})" tooltiptext="${$composer.getLabelCos('common_delete')}" />
                </listcell>
            </listitem>
        </template>
    </listbox>
</zk>
