<?xml version="1.0" encoding="UTF-8"?>
<window xmlns:h="http://www.zkoss.org/2005/zk/native"
        xmlns="http://www.zkoss.org/2005/zul" 
        id="viewListIfdFile" 
        apply="com.viettel.module.importfood.Controller.ViewFileController">
    <include id="incToolBar" src="/Pages/module/import_food/fileImportFood/toolBarFile.zul" />
    
    <h:div class="contentDiv">
        <include id="incTestSeach" src="/Pages/module/import_food/fileImportFood/searchFile.zul" />
    </h:div>
    
    <groupbox mold="3d" closable="false">
        <caption label="Danh sách" />
        
        <h:div class="contentDiv">           
            <paging id="userPagingTop" pageSize="10" detailed="true" />
            <include id="incList" src="/Pages/module/import_food/fileImportFood/viewListFile.zul" />
            <paging id="userPagingBottom" pageSize="10" detailed="true" />
        </h:div>
    </groupbox>
    <h:div>
        <button  id="btnCreate" class="button" style="color : green" tooltiptext="Thêm mới" label="Thêm mới" >
            <attribute name="onClick">
            </attribute>
        </button>
    </h:div>
</window>
