<?xml version="1.0" encoding="UTF-8"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<window xmlns:h="http://www.zkoss.org/2005/zk/native"
        xmlns="http://www.zkoss.org/2005/zul" xmlns:w="client"
        position="center,center" width="100%" mode="embedded" id="windowViewDetail"
        apply="com.viettel.module.importfood.Controller.ViewFileDetailController">
    <style src="/Share/css/formstyle.css" />
    <style src="/Share/css/uploadstyle.css" />
    <style src="/Share/css/test_style.css" />
    <script type="text/javascript" src="/Share/js/UPMSamples.js" />
    <include id="incToolBarAction" src="/Pages/module/import_food/fileImportFood/toolBarAction.zul"/>
    <tabbox id = "testTab">
        <tabs id = "test_tabs">
            <tab id = "test_file" label = "Hồ sơ"/>
            <tab id = "test_attach_file" label = "Tệp đính kèm"/>
            <tab id = "test_file_saved" label = "Hồ sơ lưu"/> 
            <tab id = "test_info_fee" label = "Thông tin phí"/>
        </tabs>
        
        <tabpanels>
            <tabpanel id = "test_tabpanel_file">
                <include  id = "incViewTabFile"  src= "/Pages/module/import_food/fileImportFood/viewDetailTabFile.zul" />
            </tabpanel>
            
            <tabpanel id ="test_tabpanel_attach_file">
                <include  id = "incViewTabFileAttach" src= "/Pages/module/import_food/fileImportFood/viewDetailTabFileAttach.zul?fileID=${$composer.fileID}" />
            </tabpanel>
            
            <tabpanel id = "test_tabpanel_file_saved">
                 <include id ="incViewTabFileSaved" src= "/Pages/module/import_food/fileImportFood/viewDetailTabFileSaved.zul?fileID=${$composer.fileID}" />
            </tabpanel>
            
            <tabpanel id = "test_tabpanel_infor_fee">
                <include  id ="incViewTabFileFee" src = "/Pages/module/import_food/fileImportFood/viewDetailTabFileFee.zul?fileID=${$composer.fileID}" />
            </tabpanel>
        </tabpanels>
    </tabbox>    
    
</window>