<?xml version="1.0" encoding="UTF-8"?>
<window xmlns:h="http://www.zkoss.org/2005/zk/native"
        xmlns="http://www.zkoss.org/2005/zul" id="businessWindow"
        position="center,center" 
        title="Soạn thảo công văn không cho phép thay đổi" apply="com.viettel.module.rapidtest.Controller.include.evaluationCouncilEstablishedController" width="100%">
    <style src="/Share/css/formstyle.css" />
    <style src="/Share/css/uploadstyle.css" />
    <script type="text/javascript" src="/Share/js/UPMSamples.js" />
    <vlayout id="layoutComment">
        <label id="lbTopWarning" style="color: red;" />
            
            <div if="${$composer.checkCouncilList()==1}">
                <groupbox width="100%" sclass="gb-form-create">
                    <caption label="DANH SÁCH THÀNH VIÊN HỘI ĐỒNG" />
                    <h:table width="100%" align="center">
                        <h:tr>
                            <h:td colspan="4" style="text-align:left">
                                <label value="Ngày, giờ họp" sclass="lb-create" />
                                <datebox id="dbMeetingDate" cols="12" format="dd/MM/yyyy" onCreate="self.value = new Date()" />
                                <timebox id="tbMeetingTime" cols="12" format="a hh:mm" onCreate="self.value = new Date()" />
                            </h:td>
                        </h:tr>
                        <h:tr>
                            <h:td colspan="4" style="text-align:center">
                                <listbox id="councilList" 
                                         multiple="true" checkmark="true" style="word-wrap:break-word" vflex="true"
                                         emptyMessage="Không tồn tại danh mục" mold="paging" pageSize="10">
                                    <listhead sizable="true">
                                        <listheader label="" align="center" style="width:5%" />
                                        <listheader width="5%" label="STT" align="center"/>
                                        <listheader width="34%" label="Tên" align="left"/>
                                        <listheader width="33%" label="Chức danh" align="left"/>
                                        <listheader width="23%" label="Vai trò" align="center"/>
                                    </listhead>
                                    <template name="model">
                                        <listitem value="${each}">
                                            <listcell></listcell>
                                            <listcell label="${forEachStatus.index+1}" />
                                            <listcell label="${each.name}" />
                                            <listcell label="${each.position}"/>
                                            <listcell label="${each.role}"/>
                                        </listitem>
                                    </template>
                                </listbox>
                            </h:td>
                        </h:tr>
                    
                    </h:table>
                </groupbox>        
            </div>   
            <div if="${$composer.checkViewResult()==1}">
                <h:table width="100%" align="center">
                    <h:tr>
                        <h:td style="text-align:right" width="15%">
                            <label value="Lý do" sclass="lb-create" />
                        </h:td>
                        <h:td colspan="3" style="text-align:left" width="85%">
                            <textbox id="txtResult" width="98%" rows="8"
                            visible="true" value="" maxlength="2000" />
                        </h:td>
                    </h:tr>
                </h:table>
            </div>
            <div>
                <groupbox width="100%" sclass="gb-form-create" closable="false">
                            <caption label="CHỌN TÀI LIỆU TẢI LÊN" />
                    <h:table width="100%" align="center">
                    <h:tr>
                        <h:td width="15%" style="text-align:right">
                            <label value="Loại tệp đính kèm" sclass="lb-create" />
                        </h:td>
                        <h:td width="30%">
                            <listbox id="lbRapidTestFileType"
                                     onCreate="self.model=$composer.getListBoxModel(1)" mold="select"
                                     width="80%"
                                     onAfterRender='self.setSelectedIndex($composer.getSelectedIndexInModel(1))'
                                     onSelect="$composer.onSelectFileType()">
                                <template name="model">
                                    <listitem label="${each.name}"
                                              value="${each.code}" />
                                </template>
                            </listbox>
                        </h:td>
                        <h:td  width="35%" style="text-align:left">
                            <label value="Người ký" sclass="lb-create" />
                            <listbox id="lbPosition"
                                     onCreate="self.model=$composer.getPositionModel(1)" mold="select"
                                     width="80%"
                                     onAfterRender='self.setSelectedIndex($composer.getSelectedIndexInPositionModel(1))'
                                     >
                                <template name="model">
                                    <listitem label="${each.posName} ${each.fullName}"
                                              value="${each.userId}" />
                                </template>
                            </listbox>
                        </h:td>
                        <h:td width="20%" style="text-align:left">
                            <button id="btnMake" label="Thêm vào từ file mẫu" sclass="button" image="/Share/img/icon/attach_min.png"/>
                        </h:td>

                    </h:tr>
                    </h:table>
                    <groupbox id="gbAttachFile" width="100%" sclass="gb-form-create" closable="false" contentStyle="border:0">
                        <h:table width="100%" align="center">
                        <h:tr>
                            <h:td width="15%" style="text-align:right">
                                <label value="Tệp tải lên" sclass="lb-create" />
                            </h:td>
                            <h:td width="35%">
                                <vlayout>
                                    <button width="85px" id="btnAttach"
                                            style="font-weight: bold;color: #F25D45;" sclass="attachBtn"
                                            src="/Share/img/paperclip.png"
                                            upload="zk.UPMSample1,maxsize=10240,multiple=true,native"
                                            label="Chọn tệp" />
                                    <vlayout id="flist" hflex="1" sclass="fileList" />
                                </vlayout>
                            </h:td>
                            <h:td colspan="2" style="text-align:left">
                                <button id="btnCreate" label="Thêm vào danh sách" sclass="button" image="/Share/img/icon/add_1.png"/>
                            </h:td>
                        </h:tr>
                        
                    </h:table>     
                </groupbox>
                    <h:table width="100%" align="center">
                        <h:tr>
                            <h:td colspan="4" style="text-align:center">
                                <listbox id="fileListbox" 
                                         multiple="false" style="word-wrap:break-word" vflex="true"
                                         emptyMessage="Không tồn tại danh mục" mold="paging" pageSize="10">
                                    <listhead sizable="true">
                                        <listheader width="5%" label="STT" align="center"/>
                                        <listheader width="40%" label="Tên tệp" align="left"/>
                                        <listheader width="45%" label="Loại tệp" align="left"/>
                                        <listheader width="5%" label="Tải về" align="center"/>
                                        <listheader width="5%" label="Xoá" align="center"/>
                                    </listhead>
                                    <template name="model">
                                        <listitem value="${each}">
                                            <listcell label="${forEachStatus.index+1}" />
                                            <listcell label="${each.fileName}" />
                                            <listcell label="${each.fileTypeName}"/>
                                            <listcell >
                                                <image forward="onClick=fileListbox.onDownloadFile(${each})" 
                                                       src="/Share/img/icon/download.png" 
                                                       width="20px" height="20px" 
                                                       tooltiptext="Tải file"/>
                                            </listcell>
                                            <listcell>
                                                
                                                <image src="/Share/img/icon/delete.png"
                                                       width="20px" height="20px"
                                                       forward="onClick=fileListbox.onDeleteFile(${each})"
                                                       tooltiptext="Xóa file" />
                                            </listcell>
                                        </listitem>
                                    </template>
                                </listbox>
                            </h:td>
                        </h:tr>
                    </h:table>
            </groupbox>
        </div>
        <div if="${$composer.checkReturnFile()==1}">
            <groupbox width="100%" sclass="gb-form-create">
                <caption label="DANH SÁCH TÀI LIỆU TRẢ VỀ" />
                <h:table width="100%" align="center">
                    <h:tr>
                        <h:td colspan="4" style="text-align:center">
                            <listbox id="fileReturnListbox" 
                                     multiple="false" style="word-wrap:break-word" vflex="true"
                                     emptyMessage="Không tồn tại danh mục" mold="paging" pageSize="10">
                                <listhead sizable="true">
                                    <listheader width="5%" label="STT" align="center"/>
                                    <listheader width="40%" label="Tên tệp" align="left"/>
                                    <listheader width="45%" label="Loại tệp" align="left"/>
                                    <listheader width="5%" label="Tải về" align="center"/>
                                    <listheader width="5%" label="Xoá" align="center"/>
                                </listhead>
                                <template name="model">
                                    <listitem value="${each}">
                                        <listcell label="${forEachStatus.index+1}" />
                                        <listcell label="${each.attachName}" />
                                        <listcell label="${each.typeFileName}"/>
                                        <listcell >
                                            <image forward="onClick=fileReturnListbox.onDownloadReturnFile(${each})" 
                                                   src="/Share/img/icon/download.png" 
                                                   width="20px" height="20px" 
                                                   tooltiptext="Tải file"/>
                                        </listcell>
                                        <listcell>
                                            <image src="/Share/img/icon/delete.png"
                                                   width="20px" height="20px"
                                                   forward="onClick=fileReturnListbox.onDeleteReturnFile(${each})"
                                                   tooltiptext="Xóa sản phẩm" />
                                        </listcell>
                                    </listitem>
                                </template>
                            </listbox>
                        </h:td>
                    </h:tr>
                
                </h:table>
            </groupbox>        
        </div>          
        <div align="center" visible="false">
            <button id="btnSubmit" label="Gửi xử lý" visible="true"
                    image="/Share/img/icon/send_document_1.png" />
        </div>
          <textbox id="txtValidate" visible="false" />
          <label id="lbPhase" visible="false" value="15"/>
        <label id="lbBottomWarning" style="color: red;" />
    </vlayout>
</window>