<?xml version="1.0" encoding="UTF-8"?>
<window xmlns:h="http://www.zkoss.org/2005/zk/native"
        xmlns="http://www.zkoss.org/2005/zul" id="businessWindow"
        position="center,center" 
        title="Thẩm xét hồ sơ" apply="com.viettel.module.rapidtest.Controller.include.RT_3_4_EvaluationController" width="100%">
    <style src="/Share/css/formstyle.css" />
    <style src="/Share/css/uploadstyle.css" />
    <script type="text/javascript" src="/Share/js/UPMSamples.js" />
    <vlayout id="layoutComment">
        <label id="lbTopWarning" style="color: red;" />
        <tabbox id="tb">
            <tabs id="tabs">
                <tab id="Thẩm xét" label="Thẩm xét" />
                <tab id="Hồ sơ" label="Hồ sơ"/>
                <tab id="Tệp đính kèm" label="Tệp đính kèm"/>
            </tabs>
            <tabpanels>
                <tabpanel>
                    <h:table width="100%" align="center">
                        <h:th width="30%" />
                        <h:th width="70%" />
                        <h:tr>
                            <h:td>
                                <label value="Kết quả thẩm xét:"
                                       sclass="hightlight" />
                            </h:td>
                            <h:td>
                                <listbox id="lbAppraisal" mold="select"
                                        width="80%">
                                        <listitem label="Đạt yêu cầu" value="1" selected="true" />
                                </listbox>
                            </h:td>
                        </h:tr>
                    </h:table>
                   <!--  <groupbox width="100%" sclass="gb-form-create" closable="false">
                                        <caption label="CHỈ ĐỊNH CƠ SỞ KHẢO NGHIỆM" />
                        <h:table width="100%" align="center">
                            <h:th width="49%" />
                            <h:th width="2%" />
                            <h:th width="49%" />
                            <h:tr>
                                    <h:td>
                                        <label value="Cơ sở khảo nghiệm chưa chỉ định" style="font-size: 90%; font-style: italic"/>
                                    </h:td>
                                    <h:td>
                                        
                                    </h:td>
                                    <h:td>
                                        <label value="Cơ sở khảo nghiệm đã chỉ định" style="font-size: 90%; font-style: italic"/>
                                    </h:td>
                            </h:tr> 
                            <h:tr>
                                <h:td align="top">
                                    <listbox id="lbList" hflex="1" vflex="true" multiple="true" checkmark="true" mold="paging" pageSize="10">
                                        <listhead sizable="true">
                                            <listheader label="" align="center" style="width:8%" />  
                                            <listheader label="Mã số" width="100px"></listheader>
                                            <listheader label="Cơ sở khảo nghiệm"></listheader>
                                        </listhead>
                                        <template name="model">
                                            <listitem>
                                                <listcell></listcell>
                                                <listcell label="${each.code }"/>
                                                <listcell label="${each.name }"/>
                                            </listitem>
                                        </template>
                                    </listbox>              
                                </h:td>
                                <h:td align="center">
                                    <vbox spacing="10px" align="center">
                                        <image style="cursor:pointer" id="chooseAllBtn" src="/Share/img/icon/rightrightarrow_g.png" />
                                        <image style="cursor:pointer" id="chooseBtn" src="/Share/img/icon/rightarrow_g.png" />
                                        <image style="cursor:pointer" id="removeBtn" src="/Share/img/icon/leftarrow_g.png" />
                                        <image style="cursor:pointer" id="removeAllBtn" src="/Share/img/icon/leftleftarrow_g.png" />
                                    </vbox>
                                </h:td>
                                <h:td align="top">
                                    <listbox id="lbSelectedList" hflex="1" vflex="true" multiple="true" checkmark="true" mold="paging" pageSize="10">
                                        <listhead sizable="true">
                                            <listheader label="" align="center" style="width:8%" />  
                                            <listheader label="Mã số" width="100px"></listheader>
                                            <listheader label="Cơ sở khảo nghiệm"></listheader>
                                        </listhead>
                                        <template name="model">
                                            <listitem>
                                                <listcell></listcell>
                                                <listcell label="${each.code }"/>
                                                <listcell label="${each.name }"/>
                                            </listitem>
                                        </template>
                                    </listbox>        
                                </h:td>
                            </h:tr>
                        </h:table>
                    </groupbox>  -->              
                </tabpanel>
                <tabpanel>
                    <groupbox width="100%" sclass="gb-form-create"
                              id="gbRapidCRUD1">
                        <h:table width="100%" align="center">
                            <h:th width="15%" />
                            <h:th width="35%" />
                            <h:th width="15%" />
                            <h:th width="35%" />
                            <h:tr>
                                <h:td>
                                    <label value="Tên doanh nghiệp" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" value="${$composer.vFileRtfile.businessName}" sclass="label-info" multiline="true" />
                                </h:td>
                                <h:td>
                                    <label value="Mã số thuế" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" value="${$composer.vFileRtfile.taxCode}" sclass="label-info" multiline="true" />
                                </h:td>
                            </h:tr>
                            <h:tr>
                                <h:td>
                                    <label value="Địa chỉ" sclass="lb-create" />
                                </h:td>
                                <h:td colspan="3">
                                    <label width="95%" value="${$composer.vFileRtfile.businessAddress}" sclass="label-info" multiline="true" />
                                </h:td>
                            
                            </h:tr>
                            <h:tr>
                                <h:td>
                                    <label value="Điện thoại" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" value="${$composer.vFileRtfile.businessPhone}" sclass="label-info" multiline="true" />
                                </h:td>
                                <h:td>
                                    <label value="Fax" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" value="${$composer.vFileRtfile.businessFax}" sclass="label-info" multiline="true" />
                                </h:td>
                            </h:tr>
                            <h:tr>
                                <h:td>
                                    <label value="Số/Ký hiệu" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" multiline="true" 
                                           value="${$composer.vFileRtfile.rapidTestNo}"
                                           sclass="label-info" />
                                </h:td>
                                <h:td>
                                    <label value="Tên bộ xét nghiệm" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" multiline="true" 
                                           value="${$composer.vFileRtfile.rapidTestName}"
                                           sclass="label-info" />
                                    
                                </h:td>
                            </h:tr>
            
                            <h:tr>
                                <h:td>
                                    <label value="Ký hiệu(Mã hiệu)" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    
                                    <label width="95%" multiline="true" 
                                           value="${$composer.vFileRtfile.rapidTestCode}"
                                           sclass="label-info" />
                                </h:td>
                                <h:td>
                                    <label value="Nơi sản xuất" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" multiline="true" 
                                           value="${$composer.vFileRtfile.placeOfManufacture}"
                                           sclass="label-info" />
                                </h:td>
                            </h:tr>
            
                            <h:tr>
                                <h:td>
                                    <label value="Tính chất xét nghiệm" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" multiline="true" 
                                           value="${$composer.vFileRtfile.propertiesTestsStr}"
                                           sclass="label-info" />
                                    
                                </h:td>
                                <h:td>
                                    <label value="Nguyên lý hoạt động" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    
                                    <label width="95%" multiline="true" 
                                           value="${$composer.vFileRtfile.operatingPrinciples}"
                                           sclass="label-info" />
                                </h:td>
                            </h:tr>
            
                            <h:tr>
                                <h:td colspan="4">
                                    <groupbox width="100%" sclass="gb-form-create"
                                      id="gbListOfTargetTesting">
                                        <caption label="THÔNG TIN CHỈ TIÊU XÉT NGHIỆM" />
                                            <h:table width="100%" align="center">
                                                 <h:tr>
                                                    <h:td colspan="4">
                                                        <listbox id="lbListOfTargetTesting" 
                                                                     multiple="false"
                                                                     style="word-wrap: break-word"
                                                                     emptyMessage="${$composer.getLabelCos('cosmetic_ds_khongtontaibanghi')}">
                                                                <listhead sizable="true">
                                                                    <listheader width="5%" label="STT" align="center"/>
                                                                    <listheader width="35%" label="Chỉ tiêu xét nghiệm"  />
                                                                    <listheader width="20%" label="Phạm vi ứng dụng"  />
                                                                    <listheader label="Giới hạn phát hiện" style="min-width: 12%;" />
                                                                    <listheader label="Độ chính xác (hoặc sai số)" style="min-width: 12%;" />
                                                                    
                                                                </listhead>
                                                                <template name="model">
                                                                    <listitem value="${each}">
                                                                        <listcell label="${forEachStatus.index+1+userPagingBottom.pageSize*userPagingBottom.activePage}" />
                                                                        <listcell label="${each.name}" />
                                                                        <listcell label="${each.rangeOfApplications}" />
                                                                        <listcell label="${each.limitDevelopment}" />
                                                                        <listcell label="${each.precision}" />
                                                                    </listitem>
                                                                </template>
                                                            </listbox>
                                                    </h:td>
                                                 </h:tr>
                                             </h:table>
                                        </groupbox>                                
                                </h:td>
                            </h:tr>
            
                            <h:tr>
                                <h:td>
                                    <label value="Mô tả cấu tạo bộ xét nghiệm nhanh" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" multiline="true" 
                                           value="${$composer.vFileRtfile.description}"
                                           sclass="label-info" />
                                </h:td>
                                <h:td>
                                    <label value="Quy cách đóng gói" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" multiline="true" 
                                           value="${$composer.vFileRtfile.pakaging}"
                                           sclass="label-info" />
                                </h:td>
                            </h:tr>
                            <h:tr>
                                <h:td>
                                    <label value="Thời hạn sử dụng" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label
                                        width="80%"
                                        value="${$composer.vFileRtfile.shelfLifeMonth}"
                                        sclass="label-info" />
                                    <label value="tháng" sclass="lb-create" />    
                                    
                                </h:td>
                                <h:td>
                                    <label value="Điều kiện bảo quản" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" multiline="true" 
                                           value="${$composer.vFileRtfile.storageConditions}"
                                           sclass="label-info" />
                                </h:td>
                            </h:tr>
            
                            <h:tr>
                                <h:td>
                                    <label value="Các thông tin khác" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" multiline="true" 
                                           value="${$composer.vFileRtfile.otherInfos}"
                                           sclass="label-info" />
                                </h:td>
                                <h:td>
                                    <label value="Hồ sơ kèm theo" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" multiline="true" 
                                           value="${$composer.vFileRtfile.attachmentsInfo}"
                                           sclass="label-info" />
                                </h:td>
                            </h:tr>
            
                            <h:tr>
                                <h:td>
                                    <label value="Nơi ký" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" multiline="true" 
                                           value="${$composer.vFileRtfile.signPlace}"
                                           sclass="label-info" />
                                </h:td>
                                <h:td>
                                    <label value="Ngày ký" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    
                                    <label
                                        width="80%"
                                        value="${$composer.vFileRtfile.signDateStr}"
                                        sclass="label-info" />
                                </h:td>
                            </h:tr>
                            <h:tr>
                                <h:td>
                                    <label value="Người ký" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" multiline="true" 
                                           value="${$composer.vFileRtfile.signName}"
                                           sclass="label-info" />
                                </h:td>
                
                            </h:tr>
                        </h:table>
                    </groupbox>
        
                    <groupbox width="100%" sclass="gb-form-create"
                              id="gbRapidCRUD2">
                        <h:table width="100%" align="center">
                            <h:th width="15%" />
                            <h:th width="35%" />
                            <h:th width="15%" />
                            <h:th width="35%" />
                            <h:tr>
                                <h:td>
                                    <label value="Tên doanh nghiệp" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" value="${$composer.vFileRtfile.businessName}" sclass="label-info" multiline="true" />
                                </h:td>
                                <h:td>
                                    <label value="Mã số thuế" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" value="${$composer.vFileRtfile.taxCode}" sclass="label-info" multiline="true" />
                                </h:td>
                            </h:tr>
                            <h:tr>
                                <h:td>
                                    <label value="Địa chỉ" sclass="lb-create" />
                                </h:td>
                                <h:td colspan="3">
                                    <label width="95%" value="${$composer.vFileRtfile.businessAddress}" sclass="label-info" multiline="true" />
                                </h:td>
                            
                            </h:tr>
                            <h:tr>
                                <h:td>
                                    <label value="Điện thoại" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" value="${$composer.vFileRtfile.businessPhone}" sclass="label-info" multiline="true" />
                                </h:td>
                                <h:td>
                                    <label value="Fax" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" value="${$composer.vFileRtfile.businessFax}" sclass="label-info" multiline="true" />
                                </h:td>
                            </h:tr>
                            <h:tr>
                                <h:td>
                                    <label value="Số/Ký hiệu" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" multiline="true" 
                                           value="${$composer.vFileRtfile.rapidTestChangeNo}"
                                           sclass="label-info" />
                                </h:td>
                                <h:td>
                                    <label value="Tên bộ xét nghiệm" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" multiline="true" 
                                           value="${$composer.vFileRtfile.rapidTestName}"
                                           sclass="label-info" />
                                </h:td>
                            </h:tr>
            
                            <h:tr>
                                <h:td>
                                    <label value="Ký hiệu(Mã hiệu)" sclass="lb-create" />
                                </h:td>
                                <h:td colspan="3">
                                    <label width="95%" multiline="true" 
                                           value="${$composer.vFileRtfile.rapidTestCode}"
                                           sclass="label-info" />
                                </h:td>
                            
                            
                            </h:tr>
                        
                            <h:tr>
                                <h:td>
                                    <label value="Số đăng ký lưu hành đã cấp" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" multiline="true" 
                                           value="${$composer.vFileRtfile.circulatingRapidTestNo}"
                                           sclass="label-info" />
                                </h:td>
                                <h:td>
                                    <label value="Ngày cấp" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="80%"
                                           value="${$composer.vFileRtfile.dateIssueStr}"
                                           sclass="label-info" />                                

                                </h:td>
                            
                            </h:tr>
            
                        
            
                            <h:tr>
                                <h:td>
                                    <label value="Nội dung đề nghị thay đổi" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    
                                    <label width="95%" multiline="true" 
                                           value="${$composer.vFileRtfile.contents}"
                                           sclass="label-info" />
                                </h:td>
                                <h:td>
                                    <label value="Hồ sơ kèm theo" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" multiline="true" 
                                           value="${$composer.vFileRtfile.attachmentsInfo}"
                                           sclass="label-info" />
                                </h:td>
                            </h:tr>
            
                            <h:tr>
                                <h:td>
                                    <label value="Nơi ký" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    
                                    <label width="95%" multiline="true" 
                                           value="${$composer.vFileRtfile.signPlace}"
                                           sclass="label-info" />
                                </h:td>
                                <h:td>
                                    <label value="Ngày ký" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    
                                    <label width="80%"
                                           value="${$composer.vFileRtfile.signDateStr}"
                                           sclass="label-info" />
                                </h:td>
                            </h:tr>
                            <h:tr>
                                <h:td>
                                    <label value="Người ký" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" multiline="true" 
                                           value="${$composer.vFileRtfile.signName}"
                                           sclass="label-info" />
                                </h:td>
                
                            </h:tr>
                        </h:table>
                    </groupbox>
    
                    <groupbox width="100%" sclass="gb-form-create"
                              id="gbRapidCRUD3">
                        <h:table width="100%" align="center">
                            <h:th width="15%" />
                            <h:th width="35%" />
                            <h:th width="15%" />
                            <h:th width="35%" />
                            <h:tr>
                                <h:td>
                                    <label value="Tên doanh nghiệp" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" value="${$composer.vFileRtfile.businessName}" sclass="label-info" multiline="true" />
                                </h:td>
                                <h:td>
                                    <label value="Mã số thuế" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" value="${$composer.vFileRtfile.taxCode}" sclass="label-info" multiline="true" />
                                </h:td>
                            </h:tr>
                            <h:tr>
                                <h:td>
                                    <label value="Địa chỉ" sclass="lb-create" />
                                </h:td>
                                <h:td colspan="3">
                                    <label width="95%" value="${$composer.vFileRtfile.businessAddress}" sclass="label-info" multiline="true" />
                                </h:td>
                            
                            </h:tr>
                            <h:tr>
                                <h:td>
                                    <label value="Điện thoại" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" value="${$composer.vFileRtfile.businessPhone}" sclass="label-info" multiline="true" />
                                </h:td>
                                <h:td>
                                    <label value="Fax" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" value="${$composer.vFileRtfile.businessFax}" sclass="label-info" multiline="true" />
                                </h:td>
                            </h:tr>
                            <h:tr>
                                <h:td>
                                    <label value="Số/Ký hiệu" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" multiline="true" 
                                           value="${$composer.vFileRtfile.circulatingExtensionNo}"
                                           sclass="label-info" />
                                </h:td>
                                <h:td>
                                    <label value="Tên bộ xét nghiệm" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" multiline="true" 
                                           value="${$composer.vFileRtfile.rapidTestName}"
                                           sclass="label-info" />
                                </h:td>
                            </h:tr>
            
                            <h:tr>
                                <h:td>
                                    <label value="Ký hiệu(Mã hiệu)" sclass="lb-create" />
                                </h:td>
                                <h:td colspan="3">
                                    
                                    <label width="95%" multiline="true" 
                                           value="${$composer.vFileRtfile.rapidTestCode}"
                                           sclass="label-info" />
                                </h:td>
                            </h:tr>
                        
                            <h:tr>
                                <h:td>
                                    <label value="Số đăng ký lưu hành đã cấp" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" multiline="true" 
                                           value="${$composer.vFileRtfile.circulatingRapidTestNo}"
                                           sclass="label-info" />
                                </h:td>
                                <h:td>
                                    <label value="Ngày cấp" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="80%"
                                           value="${$composer.vFileRtfile.dateIssueStr}"
                                           sclass="label-info" />
                                </h:td>
                            
                            </h:tr>
            
                            <h:tr>
                                <h:td>
                                    <label value="Có hiệu lực đến" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="80%"
                                           value="${$composer.vFileRtfile.dateEffectStr}"
                                           sclass="label-info" />
                                     
                                                                         

                                </h:td>
                                <h:td>
                                    <label value="Xin gia hạn lần thứ" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" multiline="true" 
                                           value="${$composer.vFileRtfile.extensionNo}"
                                           sclass="label-info" />
                                
                                </h:td>
                            
                            </h:tr>
            
                            <h:tr>
                            
                                <h:td>
                                    <label value="Hồ sơ xin gia hạn bao gồm" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" multiline="true" 
                                           value="${$composer.vFileRtfile.attachmentsInfo}"
                                           sclass="label-info" />
                                </h:td>
                            </h:tr>
            
                            <h:tr>
                                <h:td>
                                    <label value="Nơi ký" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" multiline="true" 
                                           value="${$composer.vFileRtfile.signPlace}"
                                           sclass="label-info" />
                                </h:td>
                                <h:td>
                                    <label value="Ngày ký" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="80%"
                                           value="${$composer.vFileRtfile.signDateStr}"
                                           sclass="label-info" />
                                </h:td>
                            </h:tr>
                            <h:tr>
                                <h:td>
                                    <label value="Người ký" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%" multiline="true" 
                                           value="${$composer.vFileRtfile.signName}"
                                           sclass="label-info" />
                                </h:td>
                
                            </h:tr>
                        </h:table>
                    </groupbox>
        
        
             
                </tabpanel>
                <tabpanel>
                <groupbox width="100%" sclass="gb-form-create">
                    <caption label="DANH SÁCH TÀI LIỆU" />
                    <h:table width="100%" align="center">
                        <h:tr>
                            <h:td colspan="4" style="text-align:center">
                                <listbox id="fileListbox" 
                                         multiple="false" style="word-wrap:break-word" vflex="true"
                                         emptyMessage="Không tồn tại danh mục" mold="paging" pageSize="10">
                                    <listhead sizable="true">
                                        <listheader width="5%" label="STT" align="center"/>
                                        <listheader width="40%" label="Tên tệp" align="left"/>
                                        <listheader width="45%" label="Loại tệp" align="left"/>
                                        <listheader width="10%" label="Tải về" align="center"/>
                                    </listhead>
                                    <template name="model">
                                        <listitem value="${each}">
                                            <listcell label="${forEachStatus.index+1}" />
                                            <listcell label="${each.attachName}" />
                                            <listcell label="${each.typeFileName}"/>
                                            <listcell >
                                                <image forward="onClick=fileListbox.onDownloadFile(${each})" 
                                                       src="/Share/img/icon/download.png" 
                                                       width="20px" height="20px" 
                                                       tooltiptext="Tải file"/>
                                            </listcell>
                                        </listitem>
                                    </template>
                                </listbox>
                            </h:td>
                        </h:tr>
                    
                    </h:table>
                    </groupbox>
                    <groupbox width="100%" sclass="gb-form-create" closable="false">
                        <caption label="HỒ SƠ GỐC" />
                        <h:table width="100%" align="center">
                            <h:tr>
                                <h:td colspan="4" style="text-align:center">
                                    <listbox id="finalFileListbox" 
                                             multiple="false" style="word-wrap:break-word" vflex="true"
                                             emptyMessage="Không tồn tại danh mục" mold="paging" pageSize="10">
                                        <listhead sizable="true">
                                            <listheader width="5%" label="STT" align="center"/>
                                            <listheader width="85%" label="Tên tệp" align="left"/>

                                            <listheader width="5%" label="Tải về" align="center"/>
                                        </listhead>
                                        <template name="model">
                                            <listitem value="${each}">
                                                <listcell label="${forEachStatus.index+1}" />
                                                <listcell label="Hồ sơ gốc" />
                                                <listcell >
                                                    <image forward="onClick=finalFileListbox.onDownloadFinalFile(${each})" 
                                                           src="/Share/img/icon/download.png" 
                                                           width="20px" height="20px" 
                                                           tooltiptext="Tải file"/>
                                                </listcell>
                                            </listitem>
                                        </template>
                                    </listbox>
                                </h:td>
                            </h:tr>
                        </h:table>
                    </groupbox>
                </tabpanel>

            </tabpanels>
        </tabbox>

        <div align="center" visible="false">
            <button id="btnSubmit" label="Gửi xử lý" visible="true"
                    image="/Share/img/icon/send_document_1.png" />
        </div>
          <textbox id="txtValidate" visible="false" />
        <label id="lbBottomWarning" style="color: red;" />
    </vlayout>
    <label id="lbEvalType" visible="false" value="2"/>
</window>