<?xml version="1.0" encoding="UTF-8"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<window xmlns:h="http://www.zkoss.org/2005/zk/native"
	xmlns="http://www.zkoss.org/2005/zul" xmlns:w="client"
	position="center,center" width="100%" mode="embedded" id="windowView"
	apply="com.viettel.module.importOrder.Controller.ImportOrderViewController"
	onCtrlKey="$composer.keyEventHandle(event.getKeyCode())"
	ctrlKeys="#f6#f7#f8">
	<style src="/Share/css/formstyle.css" />
	<style src="/Share/css/uploadstyle.css" />
	<script type="text/javascript" src="/Share/js/UPMSamples.js" />
	<style>
		#cosmeticView .z-textbox-disd, #cosmeticView
		.z-datebox-text-disd { background: none repeat scroll 0 0
		#ffffff !important; } #cosmeticView tr.z-listitem-disd span,
		#cosmeticView tr.z-listitem-disd div, #cosmeticView
		.z-textbox-disd, #cosmeticView .z-datebox-text-disd { color:
		black !important; font-weight: normal; opacity: 1.0; }
		#cosmeticView .z-listcell .z-listcell-cnt, #cosmeticView
		tr.z-listitem-seld span { font-weight: normal; color: #000000; }
                #cosmeticView .label-info { color: #000000
		!important; font-weight: normal; word-wrap: break-word
		!important; } #cosmeticView .product-type-sub { margin-left:
		20px; font-weight: normal !important; font-style: italic;
		font-size: 0.9em; } #cosmeticView .product-type-sub-en {
		margin-left: 26px; font-weight: normal !important; font-style:
		italic; font-size: 0.9em; }
	</style>

	<h:div id="cosmeticView">
		<div id="divToolbarTop" class="toolBar">
			<image sclass="img-cal" style="float:left"
				forward="onClick=windowView.onClose"
				src="/Share/img/png/quay-lai.png"
				tooltiptext="${$composer.getLabelCos('cosmetic_tooltip_quaylai')}" />
			<image src="/Share/img/png/flow.png" sclass="img-cal"
				forward="onClick=windowView.onViewFlow" style="float:left"
				tooltiptext="${$composer.getLabelCos('cosmetic_tooltip_xemluong')}" />
			<image sclass="img-cal" style="float:left"
				forward="onClick=windowView.onExportFile"
				src="/Share/img/icon/export.png"
				tooltiptext="${$composer.getLabelCos('common_export')}" />
		</div>
		<h:table width="100%" align="center">
			<h:th width="10%" />
			<h:th width="10%" />
			<h:th width="40%" />
			<h:th width="40%" />
		</h:table>

		<tabbox id="tb">
			<tabs id="tabs">
				<tab id="nhapkhau"
					label="${$composer.getLabelCos('medical_tab_hoso')}" />
				<tab id="tepdinhkem"
					label="${$composer.getLabelCos('cosmetic_tepdinhkem')}" />
				<tab id="tab_dispathChange"
					label="${$composer.getLabelCos('cosmetic_tab_process')}"
					if="${$composer.checkViewProcess()==1}" />
				<tab id="thongtinphi"
					label="Thông tin phí" />
			</tabs>

			<tabpanels>
				<tabpanel id="mainpanel">
                                    
						
                                <div if="${$composer.getFileListboxDuplicateTransportNoFlag()=='1'}">
                                    <label width="85%" style="color:red" value="Đã có hồ sơ cùng vận đơn được  đăng ký kiểm tra"/>
                                    
                                 </div>
					<include  src="/Pages/module/importorder/importOrderView_TabProfile.zul?fileId=${$composer.fileId}" />
				</tabpanel>
				<tabpanel>
					<include  src="/Pages/module/importorder/importOrderView_TabAttach.zul?fileId=${$composer.fileId}" />
				</tabpanel>
				 
				 <tabpanel if="${$composer.checkViewProcess()==1}" id="tabpanel1">
				 <div if="${$composer.checkBooked()==1}" style="margin-bottom:20px">
						<include id="incListCRUD"
							src="/Pages/module/cosmetic/viewBookInclude.zul" />
					</div>
					<div if="${$composer.checkPayment()==1}" style="margin-bottom:20px">
						<include id="incListPayment"
							src="/Pages/module/cosmetic/viewPaymentInclude.zul" />
					</div>
					<div if="${$composer.checkEvaluation()==1}" style="margin-bottom:20px">
						<include id="incListEvaluation"
							src="/Pages/module/cosmetic/viewEvaluationIncludeList.zul" />
					</div>
					<!--                    thong tin yeu cau sua doi bo sung-->
					<div if="${$composer.checkDispathSDBS()==1}" style="margin-bottom:20px"
						id="divDispath">
					</div>



					<div if="${$composer.checkPermit()==1}" style="margin-bottom:20px">
						<include id="incListPermit"
							src="/Pages/module/cosmetic/viewPermitInclude.zul" />
					</div>
					<div if="${$composer.checkDispathReject()==1}" style="margin-bottom:20px">
						<include id="incListDispathReject"
							src="/Pages/module/cosmetic/viewDispathRejectInclude.zul" />
					</div>
					<div if="${$composer.checkListOK()==1}" style="margin-bottom:20px">
						<groupbox width="100%" sclass="gb-form-create"
							closable="false">
							<caption
								label="Công văn phê duyệt đơn đăng ký" style="color:black;font-size:13px"/>
							<h:table width="100%" align="center">
								<h:tr>
									<h:td colspan="4"
										style="text-align:center">
										<listbox
											id="finalFileListboxProregister" multiple="false"
											style="word-wrap:break-word" vflex="true"
											emptyMessage="Không tồn tại danh mục" mold="paging"
											pageSize="10">
											<listhead sizable="true">
												<listheader width="5%"
													label="STT" align="center" />
												<listheader width="90%"
													label="Tên tệp" align="left" />

												<listheader width="5%"
													label="Tải về" align="center" />
											</listhead>
											<template name="model">
												<listitem
													value="${each}">
													<listcell
														label="${forEachStatus.index+1}" />
													<listcell
														label="${each.attachName}" />
													<listcell>
														<image
															forward="onClick=finalFileListboxProregister.onDownloadFinalFile(${each})"
															src="/Share/img/icon/download.png" width="20px" height="20px"
															tooltiptext="Tải file" />
													</listcell>

												</listitem>
											</template>
										</listbox>
									</h:td>
								</h:tr>
							</h:table>
						</groupbox>
					</div>
                   <!-- Cong van tu choi cap phep  if="${$composer.checkListReject()==1}-->
                   <div if="${$composer.checkReduced()==1}"  style="margin-bottom:20px">
					<groupbox width="100%" sclass="gb-form-create"
						closable="false">
						<caption
							label="Ký số mặt hàng giảm" style="color:black;font-size:13px"/>
						<h:table width="100%" align="center">
							<h:tr>
								<h:td colspan="4"
									style="text-align:center">
									<listbox
										id="finalFileListboxProductgiam" multiple="false"
										style="word-wrap:break-word" vflex="true"
										emptyMessage="Không tồn tại danh mục" mold="paging"
										pageSize="10">
										<listhead sizable="true">
											<listheader width="5%"
												label="STT" align="center" />
											<listheader width="90%"
												label="Tên tệp" align="left" />

											<listheader width="5%"
												label="Tải về" align="center" />
										</listhead>
										<template name="model">
											<listitem value="${each}">
												<listcell
													label="${forEachStatus.index+1}" />
												<listcell
													label="${each.attachName}" />
												<listcell>
													<image
														forward="onClick=finalFileListboxProductgiam.onDownloadFinalFile(${each})"
														src="/Share/img/icon/download.png" width="20px" height="20px"
														tooltiptext="Tải file" />
												</listcell>

											</listitem>
										</template>
									</listbox>
								</h:td>
							</h:tr>
						</h:table>
					</groupbox>
					</div>
                   <!--Cong van tu choi phe duyet sua doi bo xung ${$composer.checkListSDBS()==1}"-->
                   
					<div if="${$composer.checkAmendment()==1}" style="margin-bottom:20px">
					<groupbox width="100%" sclass="gb-form-create"
						closable="false">
						<caption
							label="Công văn phê duyệt yêu cầu sửa đổi bổ sung" style="color:black;font-size:13px"/>
						<h:table width="100%" align="center">
							<h:tr>
								<h:td colspan="4"
									style="text-align:center">
									<listbox
										id="finalFileListboxProSDBS" multiple="false"
										style="word-wrap:break-word" vflex="true"
										emptyMessage="Không tồn tại danh mục" mold="paging"
										pageSize="10">
										<listhead sizable="true">
											<listheader width="5%"
												label="STT" align="center" />
											<listheader width="90%"
												label="Tên tệp" align="left" />

											<listheader width="5%"
												label="Tải về" align="center" />
										</listhead>
										<template name="model">
											<listitem value="${each}">
												<listcell
													label="${forEachStatus.index+1}" />
												<listcell
													label="${each.attachName}" />
												<listcell>
													<image
														forward="onClick=finalFileListboxProSDBS.onDownloadFinalFile(${each})"
														src="/Share/img/icon/download.png" width="20px" height="20px"
														tooltiptext="Tải file" />
												</listcell>

											</listitem>
										</template>
									</listbox>
								</h:td>
							</h:tr>
						</h:table>
					</groupbox>
					</div>
                                        <div style="margin-bottom:20px"> 
                                            <groupbox width="100%" sclass="gb-form-create"
                                                    closable="false">
                                                    <caption
                                                            label="Hồ sơ kiểm tra" style="color:black;font-size:13px"/>
                                                    <h:table width="100%" align="center">
                                                            <h:tr>
                                                                    <h:td colspan="4"
                                                                            style="text-align:center">

                                                                            <listbox id="fileListboxOrderFile"
                                                                                            multiple="false" style="word-wrap:break-word" vflex="true"
                                                                                            emptyMessage="Không tồn tại danh mục" mold="paging"
                                                                                            pageSize="10">
                                                                                            <listhead sizable="true">
                                                                                                    <listheader width="5%"
                                                                                                            label="STT" align="center" />
                                                                                                    <listheader width="40%"
                                                                                                            label="Tên tệp" align="left" />
                                                                                                    <listheader width="50%"
                                                                                                            label="Loại tệp" align="left" />
                                                                                                    <listheader width="5%"
                                                                                                            label="Tải về" align="center" />

                                                                                            </listhead>
                                                                                            <template name="model">
                                                                                                    <listitem
                                                                                                            value="${each}">
                                                                                                            <listcell
                                                                                                                    label="${forEachStatus.index+1}" />
                                                                                                            <listcell
                                                                                                                    label="${each.attachName}" />
                                                                                                            <listcell
                                                                                                                    label="${each.typeFileName}" />
                                                                                                            <listcell>
                                                                                                                    <image
                                                                                                                            forward="onClick=fileListboxOrderFile.onDownloadOrderFile(${each})"
                                                                                                                            src="/Share/img/icon/download.png" width="20px" height="20px"
                                                                                                                            tooltiptext="Tải file" />
                                                                                                            </listcell>

                                                                                                    </listitem>
                                                                                            </template>
                                                                                    </listbox>   
                                                                    </h:td>
                                                            </h:tr>
                                                    </h:table>
                                            </groupbox>
					</div>
                                        <div style="margin-bottom:20px">
                                            <groupbox width="100%" sclass="gb-form-create"
                                                    closable="false">
                                                    <caption
                                                            label="Kết quả trả doanh nghiệp" style="color:black;font-size:13px"/>
                                                    <h:table width="100%" align="center">
                                                            <h:tr>
                                                                    <h:td colspan="4"
                                                                            style="text-align:center">
                                                                            <listbox id="fileListboxOrderReturn"
                                                                                            multiple="false" style="word-wrap:break-word" vflex="true"
                                                                                            emptyMessage="Không tồn tại danh mục" mold="paging"
                                                                                            pageSize="10">
                                                                                            <listhead sizable="true">
                                                                                                    <listheader width="5%"
                                                                                                            label="STT" align="center" />
                                                                                                    <listheader width="40%"
                                                                                                            label="Tên tệp" align="left" />
                                                                                                    <listheader width="50%"
                                                                                                            label="Loại tệp" align="left" />
                                                                                                    <listheader width="5%"
                                                                                                            label="Tải về" align="center" />

                                                                                            </listhead>
                                                                                            <template name="model">
                                                                                                    <listitem
                                                                                                            value="${each}">
                                                                                                            <listcell
                                                                                                                    label="${forEachStatus.index+1}" />
                                                                                                            <listcell
                                                                                                                    label="${each.attachName}" />
                                                                                                            <listcell
                                                                                                                    label="${each.typeFileName}" />
                                                                                                            <listcell>
                                                                                                                    <image
                                                                                                                            forward="onClick=fileListboxOrderReturn.onDownloadFileListboxOrderReturn(${each})"
                                                                                                                            src="/Share/img/icon/download.png" width="20px" height="20px"
                                                                                                                            tooltiptext="Tải file" />
                                                                                                            </listcell>

                                                                                                    </listitem>
                                                                                            </template>
                                                                                    </listbox>    


                                                                    </h:td>
                                                            </h:tr>
                                                    </h:table>
                                            </groupbox>
                                        </div>
					<div if="${$composer.checkKTKN()==1}" style="margin-bottom:20px">
                                            <groupbox width="100%" sclass="gb-form-create"
                                                    closable="false">
                                                    <caption
                                                            label="Ký số phê duyệt hồ sơ thường chặt" style="color:black;font-size:13px"/>
                                                    <h:table width="100%" align="center">
                                                            <h:tr>
                                                                    <h:td colspan="4"
                                                                            style="text-align:center">
                                                                            <listbox
                                                                                    id="finalFileListboxProKTKN" multiple="false"
                                                                                    style="word-wrap:break-word" vflex="true"
                                                                                    emptyMessage="Không tồn tại danh mục" mold="paging"
                                                                                    pageSize="10">
                                                                                    <listhead sizable="true">
                                                                                            <listheader width="5%"
                                                                                                    label="STT" align="center" />
                                                                                            <listheader width="90%"
                                                                                                    label="Tên tệp" align="left" />

                                                                                            <listheader width="5%"
                                                                                                    label="Tải về" align="center" />
                                                                                    </listhead>
                                                                                    <template name="model">
                                                                                            <listitem value="${each}">
                                                                                                    <listcell
                                                                                                            label="${forEachStatus.index+1}" />
                                                                                                    <listcell
                                                                                                            label="${each.attachName}" />
                                                                                                    <listcell>
                                                                                                            <image
                                                                                                                    forward="onClick=finalFileListboxProKTKN.onDownloadFinalFile(${each})"
                                                                                                                    src="/Share/img/icon/download.png" width="20px" height="20px"
                                                                                                                    tooltiptext="Tải file" />
                                                                                                    </listcell>

                                                                                            </listitem>
                                                                                    </template>
                                                                            </listbox>
                                                                    </h:td>
                                                            </h:tr>
                                                    </h:table>
                                            </groupbox>
					</div>
                </tabpanel>
                <tabpanel>
					<div if="${$composer.checkFee()==1}">
						<listbox id = "lFillFee"
							multiple="false" style="word-wrap: break-word"
							emptyMessage="${$composer.getLabelCos('cosmetic_ds_khongtontaibanghi')}">
							<listhead sizable="true">
								<listheader width="5%"
									label="${$composer.getLabelCos('cosmetic_stt')}"
									align="center" />
								<listheader width="35%"
									label="Thông tin về phí " />
								<listheader width="15%;"
									label="Số tiền (VND)" />
								<listheader width="10%;"
									label="Trạng thái " />
								<listheader width="25%;"
									label="Tên cơ quan " />
								<listheader width="10%;"
									label="Tài khoản " />
							</listhead>
							<template name="model">
								<listitem value="${each}">
									<listcell
										label="${forEachStatus.index+1+userPagingBottom.pageSize*userPagingBottom.activePage}" />
									<listcell
										label="${each.feeName}" />
									<listcell
										label="${each.cost}" style="text-align: right"/>
									<listcell>
										<label value="Mới tạo" if="${each.status==1}" />
										<label value="Đã thanh toán" if="${each.status==2}" />
										<label value="Đã xác nhận" if="${each.status==3}" />
										<label value="Đã xác nhận từ chối" if="${each.status==4}" />
									</listcell>	
									<listcell
										label="${each.deptName}" />
									<listcell
										label="${each.bankNo}" />
								</listitem>
							</template>
						</listbox>
					</div>
				</tabpanel>
		
             
                
			</tabpanels>
		</tabbox>
	</h:div>
</window>