<?xml version="1.0" encoding="UTF-8"?>
<window xmlns:h="http://www.zkoss.org/2005/zk/native"
	xmlns="http://www.zkoss.org/2005/zul" id="businessWindow"
	position="center,center" title="Xác nhận tiếp nhận kiểm tra"
	apply="com.viettel.module.importOrder.Controller.IO_10_2_CQKTDongYController"
	width="100%">

	<style src="/Share/css/formstyle.css" />
	<style src="/Share/css/uploadstyle.css" />
	<script type="text/javascript" src="/Share/js/UPMSamples.js" />

	<vlayout id="layoutComment">
		<label id="lbTopWarning" style="color: red;" />

		<h:table width="100%" align="center">
			<h:th width="15%" />
			<h:th width="35%" />
			<h:th width="15%" />
			<h:th width="35%" />
			<h:tr>
				<h:td colspan="4">
					<groupbox width="100%" sclass="gb-form-create"
						closable="false">
						<caption label="THÔNG TIN CHI TIẾT LÔ HÀNG" />
						<h:table width="100%" align="center">
							<h:th width="15%" />
							<h:th width="35%" />
							<h:th width="15%" />
							<h:th width="35%" />
							<h:tr>
								<h:td colspan="4">
									<listbox id="lbOrderProduct"
										multiple="false" style="word-wrap: break-word"
										emptyMessage="${$composer.getLabelCos('cosmetic_ds_khongtontaibanghi')}">
										<listhead sizable="true">
											<listheader width="5%"
												label="${$composer.getLabelCos('cosmetic_stt')}"
												align="center" />
											<listheader width="15%"
												label="Tên mặt hàng" />
											<listheader width="15%"
												label="Mô tả mặt hàng" />
											<listheader width="10%;"
												label="Xuất xứ" />
											<listheader width="10%;"
												label="Số công bố" />
											<listheader width="10%"
												label="Số lượng" />
											<listheader width="10%"
												label="Khối lượng" />
											<listheader width="10%"
												label="Giá trị (VND)" />
											<listheader width="15%"
												label="Phương thức kiểm tra" />
										</listhead>
										<template name="model">
											<listitem value="${each}"
												forward="onClick=lbOrderProduct.onShow(${each})">
												<custom-attributes
													master="${each}" />
												<listcell
													label="${forEachStatus.index+1+userPagingBottom.pageSize*userPagingBottom.activePage}" />
												<listcell
													label="${each.productName}" />
												<listcell
													label="${each.productDescription}" />
												<listcell
													label="${each.nationalName}" />
												<listcell
													label="${each.confirmAnnounceNo}" />
												<listcell
													label="${c:formatNumber(each.total,'#####')}" />
												<listcell
													label="${each.netweight}" />
												<listcell
													label="${each.baseUnit}" />
												<listcell
													label="${each.checkMethodName}" />
											</listitem>
										</template>
									</listbox>

								</h:td>
							</h:tr>
						</h:table>
					</groupbox>
				</h:td>
			</h:tr>
		</h:table>

		<groupbox width="100%" sclass="gb-form-create"
			closable="false">
			<caption label="Văn bản phê duyệt đơn đăng ký" />
			<listbox id="finalFileListbox" multiple="false"
				style="word-wrap:break-word" vflex="true"
				emptyMessage="Không tồn tại danh mục" mold="paging" pageSize="10">
				<listhead sizable="true">
					<listheader width="5%" label="STT" align="center" />
					<listheader label="Tên tệp" align="left" />
					<listheader width="10%" label="Tải về"
						align="center" />
				</listhead>
				<template name="model">
					<listitem value="${each}">
						<listcell label="${forEachStatus.index+1}" />
						<listcell label="${each.attachName}" />
						<listcell>
							<image
								forward="onClick=finalFileListbox.onDownloadFinalFile(${each})"
								src="/Share/img/icon/download.png" width="20px" height="20px"
								tooltiptext="Tải file" />
						</listcell>
					</listitem>
				</template>
			</listbox>
		</groupbox>

		<div align="center" visible="false">
			<button id="btnSubmit" visible="true" />
			<textbox id="txtValidate" visible="false" />
			<textbox id="txtMessage" visible="false" />
		</div>
		<label id="lbBottomWarning" style="color: red;" />
	</vlayout>
</window>