<?xml version="1.0" encoding="UTF-8"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<window xmlns:h="http://www.zkoss.org/2005/zk/native"
        xmlns="http://www.zkoss.org/2005/zul" xmlns:w="client"
        position="center,center" width="100%" mode="embedded"
        id="windowCRUDCosmetic"
        apply="com.viettel.module.importOrder.Controller.ImportOrderController"
        onCtrlKey="$composer.keyEventHandle(event.getKeyCode())"
        ctrlKeys="#f6#f7#f8">
    <style src="/Share/css/formstyle.css" />
    <style src="/Share/css/uploadstyle.css" />
    <script type="text/javascript" src="/Share/js/UPMSamples.js" />
    <script type="text/javascript" src="/Share/js/ca/ViettelCAPlugin.js" />
    <script type="text/javascript" src="/Share/js/ca/serverSide.js" />
    <h:object id="plugin0" type="application/x-viettelcasigner" width="3" height="10">
    </h:object>
    <style>
        #cosmeticCRUD .product-type-sub {
        margin-left: 20px;
        font-weight: normal !important;
        font-style: italic;
        font-size: 0.9em;
        }
        #cosmeticCRUD .product-type-sub-en {
        margin-left: 26px;
        font-weight: normal !important;
        font-style: italic;
        font-size: 0.9em;
        }
        .lb-info {
        padding-top: 5px;
        font-size: 0.5em;
        font-style: italic;
        display: block;
        color: #A00000;
        }
        
    </style>
    <h:div id="cosmeticCRUD">
        <h:div id="topToolbar" class="toolBar">
            <button if="${$composer.parentWindow != null}" sclass="btnAction" image="/Share/img/png/quay-lai.png"
                    tooltiptext="${$composer.getLabelRt('common_quaylai')}" forward="onClick=windowCRUDCosmetic.onClose" />
            <button sclass="btnAction" label="${$composer.getLabelCos('cosmetic_btn_themmoi_luu')}"
                    image="/Share/img/png/luu-lai-va-dong.png"
                    onClick="$composer.onSave(2)" />
            
        </h:div>
        <h:div>
        	<label id="lbTopWarning" style="color: red;"  multiline="true" />
        </h:div>
        <h:table width="100%" align="center">
            <h:th width="10%" />
            <h:th width="10%" />
            <h:th width="40%" />
            <h:th width="40%" />
        </h:table>
        <tabbox id="tb">
            <tabs id="tabs">
                <tab id="nhapkhau" label="${$composer.getLabelCos('medical_tab_hoso')}" />
                <tab id="tepdinhkem" label="${$composer.getLabelCos('cosmetic_tepdinhkem')}"/>
                <tab id="importExcel" label="Thêm mới từ Excel"/>
                <tab id="tab_dispathChange" label="${$composer.getLabelCos('cosmetic_tab_process')}" 
                />
            </tabs>

            <tabpanels>
                <tabpanel id="mainpanel">
                    <groupbox width="100%" sclass="gb-form-create" closable="false"
                              id="gbRapidCRUD1">
                        <caption label="THÔNG TIN YÊU CẦU NHẬP KHẨU" />
                        <h:table width="100%" align="center">
                            <h:th width="18%" />
                            <h:th width="32%" />
                            <h:th width="18%" />
                            <h:th width="32%" />
                            <!--/Ma ho so/-->
                            <h:tr>
                                <h:td>
                                    <label  value="${$composer.getLabelCos('cosmetic_mahoso')}" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="85%"  id="lbMahoso" value="${$composer.nswFileCode}"  sclass="label-info" multiline="true" />
                                </h:td>
                                <h:td>
                                    <label value="${$composer.getLabelCos('cosmetic_trangthaihs')}" sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="85%" value="${$composer.getStatus($composer.files.getStatus())}" sclass="label-info" multiline="true" />
                                </h:td>
                            </h:tr>
                            <!--/Tag end /--><!--/Thong tin chu hang/-->
                            <h:tr>
                                <h:td colspan="4">
                                    <groupbox width="100%" sclass="gb-form-create"  closable="false">
                                        <caption label="Thông tin chủ hàng" />
                                        <h:table width="100%" align="center">
                                            <h:th width="15%" />
                                            <h:th width="35%" />
                                            <h:th width="15%" />
                                            <h:th width="35%" />
                                            <h:tr>
                                                <h:td>
                                                    <label value="Tên của chủ hàng (Công ty nhập khẩu)" sclass="lb-create" />
                                                </h:td>
                                                <h:td>
                                                    <label id="lbOwnerName" width="85%" sclass="label-info" multiline="true" 
                                                           value="${$composer.business.businessName}" />
                                                </h:td>
                                                <h:td>
                                                    <label value="${$composer.getLabelCos('medical_masothue')}" sclass="lb-create" />
                                                </h:td>
                                                <h:td>
                                                    <label id= "lblTaxCode" width="85%" value="${$composer.business.businessTaxCode}" sclass="label-info" multiline="true" />
                                                </h:td>
                                            </h:tr>
                                            <!--/Địa chỉ và Sđt/-->
                                            <h:tr>
                                                <h:td>
                                                    <label value="${$composer.getLabelCos('medical_diachilienhe')}" sclass="lb-create" />
                                                </h:td>
                                                <h:td>
                                                    <label id="lbOwnerAddress" width="85%" sclass="label-info" multiline="true" 
                                                           value="${$composer.business.businessAddress}" />
                                                </h:td>
                                                <h:td>
                                                    <label value="${$composer.getLabelCos('medical_dienthoailienhe')}" sclass="lb-create" />
                                                </h:td>
                                                <h:td>
                                                    <label id="lbOwnerPhone" width="85%" sclass="label-info" multiline="true" 
                                                           value="${$composer.business.businessTelephone}"/>
                                             
                                                </h:td>
                                            </h:tr>
                                            <!--///-->
                                            <h:tr>
                                                <h:td>
                                                    <label value="${$composer.getLabelCos('medical_fax')}" sclass="lb-create" />
                                                </h:td>
                                                <h:td>
                                                    <label id="lbOwnerFax" width="85%" sclass="label-info" multiline="true" 
                                                           value="${$composer.business.businessFax}" />
                                                </h:td> 
                                                <h:td>
                                                    <label value="Email" sclass="lb-create" />
                                                </h:td>
                                                <h:td>
                                                    <label id="tbOwnerEmail" width="85%" value="${$composer.business.manageEmail}"
                                                    sclass="label-info" multiline="true"  maxlength="255" />
                                                </h:td>
                                            </h:tr>
                                        </h:table>
                                    </groupbox>
                                </h:td>
                            </h:tr>
                            <h:tr>
                                <h:td colspan="4">
                                    <groupbox width="100%" sclass="gb-form-create"  closable="false">
                                        <caption label="Thông tin thương nhân chịu trách nhiệm về chất lượng hàng hóa" />
                                        <h:table width="100%" align="center">
                                            <h:th width="15%" />
                                            <h:th width="35%" />
                                            <h:th width="15%" />
                                            <h:th width="35%" />
                                            <h:tr>
                                           
                                                <h:td>
                                                    <label value="Tên thương nhân chịu trách nhiệm " sclass="lb-create" />
                                                    <label value=" *" sclass="label-required" />                             
                                                </h:td>
                                                <h:td>
                                                    <textbox id="tbPersonName" width="85%" rows="1" value="${$composer.business.businessName}"
                                                             maxlength="255" />
                                                    <image height="18px" src="/Share/img/icon/keyboard-icon.png" onClick="$composer.openSpecialWnd(windowCRUDCosmetic, tbPersonName)" style="vertical-align: middle; display:inline-block;"/>
                             
                                                </h:td>
                                                <h:td>
                                                    <label value="Địa chỉ" sclass="lb-create" />
                                                    <label value=" *" sclass="label-required" />
                                                </h:td>
                                                <h:td>
                                                    <textbox id="tbPersonAddress" width="85%"  value="${$composer.business.businessAddress}"
                                                             maxlength="500" />
                                                </h:td>
                                            </h:tr>
                            
                                            <h:tr>
                                                <h:td> 
                                                    <label value="Điện Thoại" sclass="lb-create" />
                                                    <label value=" *" sclass="label-required" />
                                                </h:td>
                                                <h:td>
                                                    <textbox id="tbPersonPhone" width="85%" value="${$composer.business.businessTelephone}"
                                                             maxlength="255" />
                                                </h:td>
                                                <h:td>
                                                    <label value="Fax" sclass="lb-create" />
                                                </h:td>
                                                <h:td>
                                                    <textbox id="tbPersonFax" width="85%" rows="1" value="${$composer.business.businessFax}"
                                                             maxlength="255" />
                                                </h:td>
                                            </h:tr>
                                            <h:tr>
                                
                                                <h:td>
                                                    <label value="Email" sclass="lb-create" />
                                                    <label value=" *" sclass="label-required" />
                                                </h:td>
                                                <h:td>
                                                    <textbox id="tbPersonEmail" width="85%" rows="1" value="${$composer.business.manageEmail}"
                                                             maxlength="255" />
                                                </h:td>
                                            </h:tr>
                                        </h:table>
                                    </groupbox>
                                
                                </h:td>
                            </h:tr>
                            <h:tr>
                                <h:td colspan="4">
                                    <groupbox width="100%" sclass="gb-form-create"  closable="false">
                                        <caption label="Thông tin thương nhân xuất khẩu" />
                                        <h:table width="100%" align="center">
                                            <h:th width="15%" />
                                            <h:th width="35%" />
                                            <h:th width="15%" />
                                            <h:th width="35%" />
                                            <h:tr>
                            
                                                <h:td>
                                                    <label value="Tên thương nhân xuất khẩu" sclass="lb-create" />
                                                    <label value=" *" sclass="label-required" />                             
                                                </h:td>
                                                <h:td>
                                                    <textbox id="tbExporterName" width="85%" rows="1"
                                         maxlength="255"/>
                                                    <image height="18px" src="/Share/img/icon/keyboard-icon.png" onClick="$composer.openSpecialWnd(windowCRUDCosmetic, tbExporterName)" style="vertical-align: middle; display:inline-block;"/>
                             
                                                   
                                                </h:td>
                                                <h:td>
                                                    <label value="Địa chỉ" sclass="lb-create" />
                                                    <label value=" *" sclass="label-required" />
                                                </h:td>
                                                <h:td>
                                                    <textbox id="tbExporterAddress" width="85%" 
                                         maxlength="500" />
                                                </h:td>
                                            </h:tr>
                            
                                            <h:tr>
                                                <h:td> 
                                                    <label value="Điện Thoại" sclass="lb-create" />
                                                </h:td>
                                                <h:td>
                                                    <textbox id="tbExportPhone" width="85%" maxlength="255" />
                                                </h:td>
                                                <h:td>
                                                    <label value="Fax" sclass="lb-create" />
                                                </h:td>
                                                <h:td>
                                                    <textbox id="tbExporterFax" width="85%" rows="1"
                                           
                                         maxlength="255" />
                                                </h:td>
                                            </h:tr>
                                            <!--Fax and mail-->
                                            <h:tr>
                                
                                                <h:td>
                                                    <label value="Email" sclass="lb-create" />
                                                </h:td>
                                                <h:td>
                                                    <textbox id="tbExporterEmail" width="85%" rows="1"
                                         maxlength="255" />
                                                </h:td>
                                            </h:tr>
                                        </h:table>
                                    </groupbox>
                                </h:td>
                            </h:tr>
                            <!--//-->
                                <h:tr>
                                <h:td colspan="4">
                                    <groupbox width="100%" sclass="gb-form-create"  closable="false">
                                        <caption label="Hồ sơ đăng ký" />
                                        <h:table width="100%" align="center">
                                            <h:th width="15%" />
                                            <h:th width="35%" />
                                            <h:th width="15%" />
                                            <h:th width="35%" />
                                            <h:tr>
                                <h:td> 
                                    <label value="Số vận đơn" sclass="lb-create" />
                                    <label value=" *" sclass="label-required" />
                                </h:td>
                                <h:td>
                                    <textbox id="tbTransNo" width="85%" rows="1"
                                         maxlength="255" />
                                </h:td>
                                <h:td>
                                    <label value="Số Hợp đồng" sclass="lb-create" />
                                    <label value=" *" sclass="label-required" />
                                </h:td>
                                
                                <h:td>
                                    <textbox id="tbContractNo" width="85%" rows="1"
                                         maxlength="255" />
                                </h:td>
                            </h:tr>
                             
                            <h:tr>
                                <h:td> 
                                    <label value="Số hoá đơn" sclass="lb-create" />
                                    <label value=" *" sclass="label-required" />
                                </h:td>
                                <h:td>
                                    <textbox id="tbBillNo" width="85%" rows="1"
                                         maxlength="255" />
                                </h:td>
                                <h:td>
                                    <label value="Thời gian nhập khẩu dự kiến " sclass="lb-create" />
                                    <label value=" *" sclass="label-required" />                             
                                </h:td>
                                <h:td>
                                    <datebox id="dbComingDate" format="dd/MM/yyyy" />
                                </h:td>
                                
                            </h:tr>
                            <h:tr>
                                <h:td> 
                                    <label value="Cửa khẩu đi: " sclass="lb-create" />
                                    <label value=" *" sclass="label-required" />
                                </h:td>
                                <h:td>
                                    <textbox id="tbExportGate" width="85%" rows="1"
                                         maxlength="255" />
                                </h:td>
                                <h:td>
                                    <label value="Cửa khẩu đến" sclass="lb-create" />
                                    <label value=" *" sclass="label-required" />
                                </h:td>
                                <h:td>
                                    <textbox id="tbImportGate" width="85%" rows="1"
                                         maxlength="255" />
                                                    
                                </h:td>
                            </h:tr>
                            <h:tr>
                                <h:td> 
                                    <label value="Chi cục Hải quan làm thủ tục" sclass="lb-create" />
                                    <label value=" *" sclass="label-required" />
                                                    
                                </h:td>
                                <h:td>
                                    <textbox id="tbBranchName" width="85%" rows="1"
                                         maxlength="255" />
                                </h:td>
                                <h:td>
                                    <label value="Thời gian kiểm tra dự kiến" sclass="lb-create" />
                                    <label value=" *" sclass="label-required" />
                                </h:td>
                                <h:td>
                                    <datebox id="dbCheckDate" format="dd/MM/yyyy" />
                                </h:td>
                            </h:tr>
                            <h:tr>
                                <h:td> 
                                    <label value=" Địa điểm kiểm tra dự kiến " sclass="lb-create" />
                                    <label value=" *" sclass="label-required" />
                                </h:td>
                                <h:td>
                                    <textbox id="tbCheckPlace" width="85%" rows="1" maxlength="255" />
                                </h:td>
                                <h:td>
                                    <label value="Tên tổ chức kiểm tra dự kiến" sclass="lb-create" />
                                    <label value=" *" sclass="label-required" />                                               
                                </h:td>
                                <h:td>
                                    <textbox id="tbDepartment" width="85%" rows="1" maxlength="255" />
                                </h:td>
                            </h:tr> 
                                        </h:table>
                                    </groupbox>
                                </h:td>
                                </h:tr>
                            <!--//-->
                        
                            <h:tr>
                                <h:td colspan="4">
                                    <groupbox width="100%" sclass="gb-form-create"  closable="false">
                                        <caption label="Thông tin chi tiết lô hàng" />
                                        <h:table width="100%" align="center">
                                            <h:th width="15%" />
                                            <h:th width="35%" />
                                            <h:th width="15%" />
                                            <h:th width="35%" />
                                            <h:tr>
                                                <h:td>
                                                    <label value="Tên mặt hàng" sclass="lb-create" />
                                                    <label value=" *" sclass="label-required" />                             
                                                </h:td>
                                                <h:td>
                                                    <textbox id="tbProductIndex" 
                                                         visible="false"/>
                                                    <textbox id="tbProductId" 
                                                         visible="false"/>
                                                    <textbox id="tbProductName" width="85%" rows="1"    maxlength="250" />
                                                </h:td>
                                                <h:td>
                                                    <label value="Mô tả mặt hàng" sclass="lb-create" />
                                                    <label value=" *" sclass="label-required" />
                                                </h:td>
                                                <h:td>
                                                    <textbox id="tbProductDescription" width="85%" 
                                                         maxlength="250" />
                                                </h:td>
                                            </h:tr>
                            
                                            <h:tr>
                                                <h:td> 
                                                    <label value="Xuất xứ" sclass="lb-create" />
                                                    <label value=" *" sclass="label-required" />
                                                </h:td>
                                                <h:td>
                                                    <textbox id="tbProductNationName" width="85%"
                                                         maxlength="100" />
                                                </h:td>
                                                <h:td>
                                                    <label value="Số công bố" sclass="lb-create" />
                                                    <label value=" *"  sclass="label-required" />
                                                </h:td>
                                                <h:td>
                                                    <textbox id="tbProductAnnounceNo" width="85%" rows="1"                                           
                                                         maxlength="50" />
                                                </h:td>
                                            </h:tr>
                                            <h:tr>
                                
                                                <h:td>
                                                    <label value="Số lượng" sclass="lb-create" />
                                                    <label value=" *"  sclass="label-required" />
                                                </h:td>
                                                 <h:td>
                                                    <textbox id="tbProductTotal" width="85%" rows="1"
                                                         maxlength="9" />
                                                </h:td>
                                                <h:td> 
                                                    <label value="Khối lượng" sclass="lb-create" />
                                                    <label value=" *" sclass="label-required" />
                                                </h:td>
                                                <h:td>
                                                    <textbox id="tbProductNetweight" width="85%" rows="1"
                                                         value=""
                                                         maxlength="9" />
                                                </h:td>
                                            </h:tr>
                                            <h:tr>
                                                <h:td>
                                                    <label value="Giá trị VND" sclass="lb-create" />
                                                    <label value=" *" sclass="label-required" />
                                                </h:td>
                                                                             
                                                <h:td>
                                                    <textbox id="tbProductBaseUnit" width="85%" rows="1"
                                                         value=""
                                                         maxlength="18" />
                                                </h:td>
                                                
                                            </h:tr>
                                            <h:tr>
                                                <h:td colspan="4" style="text-align:center">
                                                    <button label="${$composer.getLabelCos('cosmetic_button_them_capnhat')}" id="btnAddProduct" src="/Share/img/icon/Add.png"/>
                                                    <h:br/>
                                                    <label id="lbProductWarning" class="notify"/>
                                                </h:td>
                                            </h:tr>
                                            <h:tr>
                                                <h:td colspan="4">
                                                    <listbox id="lbOrderProduct"
                                                         multiple="false"
                                                         style="word-wrap: break-word"
                                                         emptyMessage="${$composer.getLabelCos('cosmetic_ds_khongtontaibanghi')}">
                                                        <listhead sizable="true">
                                                            <listheader width="5%" label="${$composer.getLabelCos('cosmetic_stt')}" align="center"/>
                                                            <listheader width="20%" label="Tên mặt hàng"  />
                                                            <listheader width="25%" label="Mô tả mặt hàng"  />
                                                            <listheader width="10%;" label="Xuất xứ" />
                                                            <listheader width="10%;" label="Số công bố" />
                                                            <listheader width="10%" label="Số lượng"  />
                                                            <listheader width="10%" label="Khối lượng"  />
                                                            <listheader width="10%" label="Giá trị VND (*)"  />
                                                            <listheader width="5%" label="${$composer.getLabelCos('common_edit')}" align="center"/>
                                                            <listheader width="5%" label="${$composer.getLabelCos('common_delete')}" align="center"/>
                                                        </listhead>
                                                        <template name="model" var="p">
                                                            <listitem value="${each}">
                                                                <listcell label="${forEachStatus.index+1+userPagingBottom.pageSize*userPagingBottom.activePage}" />
                                                                <listcell label="${each.productName}" />
                                                                <listcell label="${each.productDescription}" />
                                                                <listcell label="${each.nationalName}" />
                                                                <listcell label="${each.confirmAnnounceNo}" />
                                                                <listcell label="${c:formatNumber(each.total,'#####')} (${each.totalUnitName})"/>
                                                                <listcell label="${c:formatNumber(each.netweight, '#,##0.##')} (${each.netweightUnitName})" />
                                                                <listcell label="${c:formatNumber(each.baseUnit, '#,##0.##')} (VNĐ)" />
              
                                                               
                                                                <listcell >
                                                                    <image forward="onClick=lbOrderProduct.onEdit" src="/Share/img/icon/edit.png" 
                                                                       width="20px" height="20px" tooltiptext="${$composer.getLabelCos('cosmetic_tooltip_suathongtin')}"/>
                                                                </listcell>
                                                                <listcell>
                                                                    <image forward="onClick=lbOrderProduct.onDelete" src="/Share/img/icon/delete.png" 
                                                                       width="20px" height="20px" tooltiptext="${$composer.getLabelCos('cosmetic_tooltip_xoa')}"/>
                                                                </listcell>
                                                            </listitem>
                                                        </template>
                                                    </listbox>

                                                </h:td>
                                            </h:tr>
                                        </h:table>
                                    </groupbox>

                                </h:td>
                            </h:tr>
                        </h:table>
                    </groupbox>


                </tabpanel>
                <tabpanel>
                    <groupbox width="100%" sclass="gb-form-create" closable="false">
                        <caption label="DANH SÁCH TÀI LIỆU" />
                        <h:table width="100%" align="center">
                            <h:tr>
                                <h:td width="15%">
                                    <label value="Loại tệp đính kèm" sclass="lb-create" />
                                </h:td>
                                
                                <h:td width="35%">
                                    <listbox id="lbImportOrderFileType"
                                             onCreate="self.model=$composer.getListBoxModel(1)" mold="select"
                                             width="80%"
                                             onAfterRender='self.setSelectedIndex($composer.getSelectedIndexInModel(1))'
                                    >
                                        <template name="model">
                                            <listitem label="${each.name}"
                                                      value="${each.code}" />
                                        </template>
                                    </listbox>
                                </h:td>
                                <h:td width="15%">
                                    <label value="Tệp tải lên" sclass="lb-create" />
                                </h:td>
                                <h:td width="35%">
                                    <vlayout>
                                        <button width="85px" id="btnAttach"
                                                style="font-weight: bold;color: #F25D45;" sclass="attachBtn"
                                                src="/Share/img/paperclip.png"
                                                upload="zk.UPMSample1,maxsize=20480,multiple=true,native"
                                                label="Chọn tệp" />
                                        <vlayout id="flist" hflex="1" sclass="fileList" />
                                    </vlayout>
                                </h:td>
                            </h:tr>

                            <h:tr>
                                <h:td colspan="4" style="text-align:center">
                                    <button id="btnCreate" label="Thêm mới" sclass="button" image="/Share/img/icon/add_1.png"/>
                                    <button id="btnCreateProFile" label="Thêm từ hồ sơ dùng chung" sclass="button" image="/Share/img/icon/add_1.png"/>
                                </h:td>
                            </h:tr>

                            <h:tr>
                                <h:td colspan="4" style="text-align:center">
                                    <listbox id="fileListbox" 
                                             multiple="false" style="word-wrap:break-word" vflex="true"
                                             emptyMessage="Không tồn tại danh mục" mold="paging" pageSize="10">
                                        <listhead sizable="true">
                                            <listheader width="5%" label="STT" align="center"/>
                                            <listheader width="40%" label="Tên tệp" align="left"/>
                                            <listheader width="85%" label="Loại tệp" align="left"/>
                                            <listheader width="5%" label="Tải về" align="center"/>
                                            <listheader width="5%" label="Xoá" align="center"/>
                                        </listhead>
                                        <template name="model">
                                            <listitem value="${each}">
                                                <listcell label="${forEachStatus.index+1}" />
                                                <listcell label="${each.attachName}" />
                                                <listcell label="${each.typeFileName}"/>
                                                <listcell >
                                                    <image forward="onClick=fileListbox.onDownloadFile(${each})" 
                                                           src="/Share/img/icon/download.png" 
                                                           width="20px" height="20px" 
                                                           tooltiptext="Tải file"/>
                                                </listcell>
                                                <listcell>
                                                    <image forward="onClick=fileListbox.onDeleteFile(${each})" 
                                                           src="/Share/img/icon/delete.png" 
                                                           width="20px" height="20px" 
                                                           tooltiptext="Tải file"/>
                                                </listcell>
                                            </listitem>
                                        </template>
                                    </listbox>
                                </h:td>
                            </h:tr>
                        </h:table>                         
                    </groupbox>
                    <!--/ho so goc/-->
                    <groupbox width="100%" sclass="gb-form-create" closable="false">
                        <caption label="HỒ SƠ GỐC" />
                        <h:table width="100%" align="center">
                            <h:tr>
                                <h:td colspan="4" style="text-align:center">
                                    <button id="btnOpenAttachFileFinal" label="Đính kèm hồ sơ gốc (Bản scan)" sclass="button" image="/Share/img/icon/add_1.png"/>
                                    <h:input type="button" 
                                             onclick="uploadCertFinalFile();"
                                             value="Ký CA hồ sơ gốc" sclass="button"/>
                                    <div align="center" visible="true" style="height: 1px">
                                        <h:input type="text" name="filepath" id="filepath" size="50" style="display:none"/> 
                                        <h:input type="hidden" id="base64Hash" value="" />
                                        <textbox id="txtBase64Hash" value="" style="display:none"/>
                                        <h:input type="hidden" id="certSerial" value="" />
                                        <textbox id="txtCertSerial" value="" style="display:none"/>
                                        <h:br/>
                                        <h:div id="areaId" style="display: none"/>
                                    </div>
                                </h:td>
                            </h:tr>
                            <h:tr>
                                <h:td colspan="4" style="text-align:center">
                                    <listbox id="finalFileListbox" 
                                             multiple="false" style="word-wrap:break-word" vflex="true"
                                             emptyMessage="Không tồn tại danh mục" mold="paging" pageSize="10">
                                        <listhead sizable="true">
                                            <listheader width="5%" label="STT" align="center"/>
                                            <listheader width="85%" label="Tên tệp" align="left"/>

                                            <listheader width="5%" label="Tải về" align="center"/>
                                            <listheader width="5%" label="Xoá" align="center"/>
                                        </listhead>
                                        <template name="model">
                                            <listitem value="${each}">
                                                <listcell label="${forEachStatus.index+1}" />
                                                <listcell label="Hồ sơ gốc" />
                                                <listcell >
                                                    <image forward="onClick=finalFileListbox.onDownloadFinalFile(${each})" 
                                                           src="/Share/img/icon/download.png" 
                                                           width="20px" height="20px" 
                                                           tooltiptext="Tải file"/>
                                                </listcell>
                                                <listcell>

                                                    <image src="/Share/img/icon/delete.png"
                                                           width="20px" height="20px"
                                                           forward="onClick=finalFileListbox.onDeleteFinalFile(${each})"
                                                           tooltiptext="Xóa hồ sơ gốc" />
                                                </listcell>
                                            </listitem>
                                        </template>
                                    </listbox>
                                </h:td>
                            </h:tr>
                        </h:table>
                    </groupbox>       
                </tabpanel>
                <tabpanel>
                    <h:table width="100%" align="center">
                        <h:tr>
                            <h:td width="15%">
                                <label value="${$composer.getLabelCos('cosmetic_teptailen')}" sclass="lb-create" />
                            </h:td>
                            <h:td width="65%">
                                <vlayout>
                                    <button width="85px" id="btnImportExcel"
                                            style="font-weight: bold;color: #F25D45;" sclass="attachBtn"
                                            src="/Share/img/paperclip.png"
                                            upload="zk.UPMSample1,maxsize=5120,multiple=false,native"
                                            label="${$composer.getLabelCos('cosmetic_chontep')}" />
                                    <vlayout id="fListImportExcel" hflex="1" sclass="fileList" />
                                </vlayout>
                            </h:td>
                            <h:td width="15%" align="right">
                                <label id="lbDownloadExcelTemplate" style="color:red;" value="Biểu mẫu yêu cầu nhập khẩu" sclass="lb-create" />
                            </h:td>
                            <h:td width="15%">
                                <image forward="onClick=lbDownloadExcelTemplate.onDownloadFile" 
                                       src="Share/img/icon/download.png" 
                                       width="26px" height="26px" 
                                       style="cursor: pointer; cursor: hand;"
                                       tooltiptext="Tải file"/>
                            </h:td>
                        </h:tr>
                        <h:tr>
                            <h:td colspan="4" >
                                <label id="lbImportExcelWarning" class="notify"  multiline="false" />
                            </h:td>
                        </h:tr>

                        <h:tr>
                            <h:td colspan="4" style="text-align:center">
                                <button id="btnCreateFromImport" label="${$composer.getLabelCos('cosmetic_themmoi')}" sclass="button" image="/Share/img/icon/add_1.png"/>
                            </h:td>
                        </h:tr>

                    </h:table>
                </tabpanel>
                <tabpanel if="//">
                    <div if="//">
                        <include id="incListDispath" src="/Pages/module/cosmetic/viewDispatchInclude.zul" />
                    </div>
                    <div if="//">
                        <include id="incListBook" src="/Pages/module/cosmetic/viewBookInclude.zul" />
                    </div>


                </tabpanel>
            </tabpanels>
        </tabbox>

		<h:div>
        	<label id="lbBottomWarning" style="color: red;"  multiline="true"  />
        </h:div>
        
        <h:div id="bottomToolbar" class="toolBar">
          
            <button if="${$composer.parentWindow != null}" sclass="btnAction" image="/Share/img/png/quay-lai.png"
                    tooltiptext="Quay lại" forward="onClick=windowCRUDCosmetic.onClose" />
            <button sclass="btnAction" label="Lưu (F7)"
                    image="/Share/img/png/luu-lai-va-dong.png"
                    onClick="$composer.onSave(2)" />
        </h:div>
    </h:div>
</window>