<?xml version="1.0" encoding="UTF-8"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<window xmlns:h="http://www.zkoss.org/2005/zk/native"
        xmlns="http://www.zkoss.org/2005/zul" xmlns:w="client"
        position="center,center" width="100%" mode="embedded" id="windowViewGiahan"
        apply="com.viettel.module.importDevice.Controller.ImportDeviceViewGiahanController"
        onCtrlKey="$composer.keyEventHandle(event.getKeyCode())"
        ctrlKeys="#f6#f7#f8">
    <style src="/Share/css/formstyle.css" />
    <style src="/Share/css/uploadstyle.css" />
    <script type="text/javascript" src="/Share/js/UPMSamples.js" />
    <h:div id="importsdevice">
        <div id="divToolbarTop" class="toolBar">

            <image sclass="img-cal" style="float:left"
                   forward="onClick=windowViewGiahan.onClose"
                   src="/Share/img/png/quay-lai.png"
                   tooltiptext="${$composer.getLabelCos('cosmetic_tooltip_quaylai')}" />
            <image src="/Share/img/png/flow.png" sclass="img-cal"
                   forward="onClick=windowViewGiahan.onViewFlow" style="float:left"
                   tooltiptext="${$composer.getLabelCos('cosmetic_tooltip_xemluong')}" />

        </div>

        <h:table width="100%" align="center">
            <h:th width="10%" />
            <h:th width="10%" />
            <h:th width="40%" />
            <h:th width="40%" />
        </h:table>
        <tabbox id="tb">
            <tabs id="tabs">
                <tab id="nhapkhau"
                     label="${$composer.getLabelCos('medical_tab_hoso')}" />
                <tab id="tab_dispathChange"
                     label="${$composer.getLabelCos('cosmetic_tab_process')}" />
                <tab id="tab_process"
                     label="${$composer.getLabelCos('cosmetic_process')}" />
                <tab id="traodoithongtin" label="Trao đổi thông tin" />
            </tabs>

            <tabpanels>
                <tabpanel id="mainpanel">
                    <groupbox width="100%" sclass="gb-form-create"
                              closable="false" id="gbRapidCRUD1">
                        <caption
                            label="Thông tin hồ sơ nhập khẩu thiết bị y tế" />
                        <h:table width="100%" align="center" style="line-height: 30px;">
                            <h:th width="15%" />
                            <h:th width="30%" />
                            <h:th width="15%" />
                            <h:th width="35%" />
                            <h:tr>
                                <h:td>
                                    <label
                                        value="Loại cấp phép"/>
                                </h:td>
                                <h:td>
                                    <label
                                        value="Gia hạn hồ sơ"
                                        style="width:100%;color:red;font-weight:bold"/>
                                </h:td>
                                <h:td>
                                    <label
                                        value="Mã hồ sơ đã cấp phép"
                                        />
                                </h:td>
                                <h:td>
                                    <a>
                                        <label
                                        id="tbOldNswFileCode" width="85%" sclass="label-info" 
                                            style="width:100%;color:red;font-weight:bold"/>
                                        <image src="/Share/img/png/flow.png" sclass="img-cal"
                                            forward="onClick=tbOldNswFileCode.onClick" style="float:left"
                                            tooltiptext="Xem hồ sơ" />
                                    </a>
                                </h:td>
                            </h:tr>
                            <h:tr>
                                <h:td>
                                    <label
                                        value="${$composer.getLabelCos('cosmetic_mahoso')}"
                                        sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%"
                                           value="${$composer.nswFileCode}" sclass="label-info"
                                           multiline="true"  />
                                </h:td>
                                <h:td>
                                    <label
                                        value="${$composer.getLabelCos('cosmetic_trangthaihs')}"
                                        sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label width="95%"
                                           value="${$composer.getStatus($composer.files.getStatus())}"
                                           sclass="label-info" multiline="true" />
                                    <textbox id="tbStatus" if="${$composer.isAbleToModifyStatus()}"/>
                                        <image src="/Share/img/icon/reset_small.png"
                                            width="20px" height="20px"
                                            onClick="$composer.updateStatus()"
                                            if="${$composer.isAbleToModifyStatus()}"
                                            tooltiptext="Cập nhật trạng thái" />
                                </h:td>
                            </h:tr>

                            <h:tr>
                                <h:td>
                                    <label
                                        value="${$composer.getLabelCos('medical_masothue')}"
                                        sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label id="lblTaxCode" width="95%"
                                           value="${$composer.business.businessTaxCode}"
                                           sclass="label-info" multiline="true" />
                                </h:td>
                            </h:tr>
                            <h:tr>
                                <h:td>
                                    <label
                                        value="${$composer.getLabelCos('medical_tendonvixinnhapkhau')}"
                                        sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label
                                        id="tbUnitName" width="85%" sclass="label-info"
                                        multiline="true"
                                        value="${$composer.business.businessName}" />
                                </h:td>
                                <h:td>
                                    <label
                                        value="${$composer.getLabelCos('medical_diachilienhe')}"
                                        sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label
                                        id="tbUnitAdress" width="85%" sclass="label-info"
                                        multiline="true"
                                        value="${$composer.business.businessAddress}" />
                                </h:td>
                            </h:tr>
                            <h:tr>
                                <h:td>
                                    <label
                                        value="${$composer.getLabelCos('medical_dienthoailienhe')}"
                                        sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label
                                        id="tbUnitPhone" width="85%" sclass="label-info"
                                        multiline="true"
                                        value="${$composer.business.businessTelephone}" />
                                </h:td>
                                <h:td>
                                    <label
                                        value="${$composer.getLabelCos('medical_fax')}"
                                        sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label
                                        id="tbUnitFax" width="85%" sclass="label-info"
                                        multiline="true"
                                        value="${$composer.business.businessFax}" />
                                </h:td>
                            </h:tr>

                                            <!--////////////////////////////////////////////////////////////-->
                            <h:tr>
                                <h:td>
                                    <label
                                        value="${$composer.getLabelCos('medical_giamdocdonvinhapkhau')}"
                                        sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label
                                        id="tbDirectorName" width="85%" sclass="label-info"
                                        multiline="true"/>
                                </h:td>
                            </h:tr>

                                            <!--////////////////////////////////////////////////////////////-->
                            <h:tr>
                                <h:td>
                                    <label
                                        value="${$composer.getLabelCos('medical_dienthoailienhe')}"
                                        sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label
                                        id="tbDirectorPhone" width="85%" sclass="label-info"
                                        multiline="true"  />
                                </h:td>
                                <h:td>
                                    <label
                                        value="${$composer.getLabelCos('medical_dienthoaididong')}"
                                        sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label
                                        id="tbDirectorMobile" width="85%" sclass="label-info"
                                        multiline="true" />
                                </h:td>
                            </h:tr>


                            <h:tr>
                                <h:td>
                                    <label
                                        value="${$composer.getLabelCos('medical_canbophutrachcongtacnhapkhau')}"
                                        sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label
                                        id="tbOfficersName" width="85%" sclass="label-info"
                                        multiline="true" />
                                </h:td>
                            </h:tr>

                                            <!--////////////////////////////////////////////////////////////-->
                            <h:tr>
                                <h:td>
                                    <label
                                        value="${$composer.getLabelCos('medical_dienthoailienhe')}"
                                        sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label
                                        id="tbOfficersPhone" width="85%" sclass="label-info"
                                        multiline="true"  />
                                </h:td>
                                <h:td>
                                    <label
                                        value="${$composer.getLabelCos('medical_dienthoaididong')}"
                                        sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label
                                        id="tbOfficersMobile" width="85%" sclass="label-info"
                                        multiline="true"  />
                                </h:td>
                            </h:tr>
                            
                            <h:tr>
                                <h:td>
                                    <label value="${$composer.getLabelCos('medical_uq_date')}"
                                           sclass="lb-create" />
                                </h:td>
                                <h:td>
                                    <label id="lbUqDate" width="50%"
                                           sclass="label-info" multiline="true" />
                                </h:td>
                            </h:tr>

                         
                            
                            <h:tr>
                                <h:td colspan="4">
                                    <label value="Tài liệu dùng chung của hồ sơ"  style="color:red"/>
                                    <h:table width="85%" align="center">
                                        <h:tr>
                                            <h:td colspan="4" style="text-align:center">
                                                <listbox id="fileListbox"
                                                         multiple="false" style="word-wrap:break-word" vflex="true"
                                                         emptyMessage="Không tồn tại danh mục" mold="paging"
                                                         pageSize="10">
                                                    <listhead sizable="true">
                                                        <listheader width="10%"
                                                                    label="STT" align="center" style="color:black"/>
                                                        <listheader width="40%"
                                                                    label="Loại tệp" align="left" style="color:black"/>
                                                        <listheader width="40%"
                                                                    label="Tên tệp" align="left" style="color:black"/>
                                            
                                                        <listheader width="10%"
                                                                    label="Tải về" align="left" style="color:black"/>
                                                    </listhead>
                                                    <template name="model">
                                                        <listitem value="${each}">
                                                            <listcell
                                                                label="${forEachStatus.index+1}" style="color:black"/>
                                                            <listcell
                                                                label="${each.typeFileName}" style="color:black"/>
                                                            <listcell
                                                                label="${each.attachName}" style="color:black"/>
                                                            <listcell>
                                                                <image
                                                                    forward="onClick=fileListbox.onDownloadFile(${each})"
                                                                    src="/Share/img/icon/download.png" width="20px" height="20px"
                                                                    tooltiptext="Tải file" />
                                                            </listcell>
                                                        </listitem>
                                                    </template>
                                                </listbox>
                                            </h:td>
                                        </h:tr>
                                    </h:table>
                                </h:td>
                               
                                
                            </h:tr>
                            
                        </h:table>
                        
                    </groupbox>
                    
                        
                    
                </tabpanel>
                <tabpanel if="${$composer.checkViewProcess()==1}"
                          id="tabpanel1">
                    <div if="${$composer.checkBooked()==1}">
                        <include id="incListCRUD"
                                 src="/Pages/module/cosmetic/viewBookInclude.zul" />
                    </div>
                    <div>
                        <include id="incListCousin"
                                 src="/Pages/module/cosmetic/viewCousin.zul" />
                    </div>
                    <div if="${$composer.checkPayment()==1}">
                        <include id="incListPayment"
                                 src="/Pages/module/cosmetic/viewPaymentInclude.zul" />
                    </div>
                    <div if="${$composer.checkEvaluation()==1}">
                        <include id="incListEvaluation"
                                 src="/Pages/module/cosmetic/viewEvaluationIncludeList.zul" />
                    </div>
                    <!--                    thong tin yeu cau sua doi bo sung-->
                    <div if="${$composer.checkDispathSDBS()==1}"
                         id="divDispath">
                    </div>
                    <div if="${$composer.checkPermit()==1}">
                        <include id="incListPermit"
                                 src="/Pages/module/cosmetic/viewPermitInclude.zul" />
                    </div>
                    <div if="${$composer.checkDispathReject()==1}">
                        <include id="incListDispathReject"
                                 src="/Pages/module/cosmetic/viewDispathRejectInclude.zul" />
                    </div>

                    <div if="${$composer.checkListOK()==1}">
                        <groupbox width="100%" sclass="gb-form-create"
                                  closable="false">
                            <caption
                                label="CÔNG VĂN PHÊ DUYỆT CẤP PHÉP" />
                            <h:table width="100%" align="center">
                                <h:tr>
                                    <h:td colspan="4"
                                          style="text-align:center">
                                        <listbox
                                            id="finalFileListboxPro" multiple="false"
                                            style="word-wrap:break-word" vflex="true"
                                            emptyMessage="Không tồn tại danh mục" mold="paging"
                                            pageSize="10">
                                            <listhead sizable="true">
                                                <listheader width="5%"
                                                            label="STT" align="center" />
                                                <listheader width="85%"
                                                            label="Tên tệp" align="left" />

                                                <listheader width="5%"
                                                            label="Tải về" align="center" />
                                            </listhead>
                                            <template name="model">
                                                <listitem
                                                    value="${each}">
                                                    <listcell
                                                        label="${forEachStatus.index+1}" />
                                                    <listcell
                                                        label="${each.attachName}" />
                                                    <listcell>
                                                        <image
                                                            forward="onClick=finalFileListboxPro.onDownloadFinalFile(${each})"
                                                            src="/Share/img/icon/download.png" width="20px" height="20px"
                                                            tooltiptext="Tải file" />
                                                    </listcell>

                                                </listitem>
                                            </template>
                                        </listbox>
                                    </h:td>
                                </h:tr>
                            </h:table>
                        </groupbox>
                    </div>

                    <div if="${$composer.checkListReject()==1}">
                        <groupbox width="100%" sclass="gb-form-create"
                                  closable="false">
                            <caption
                                label="CÔNG VĂN PHÊ DUYỆT TỪ CHỐI CẤP PHÉP" />
                            <h:table width="100%" align="center">
                                <h:tr>
                                    <h:td colspan="4"
                                          style="text-align:center">
                                        <listbox
                                            id="finalFileListboxProReject" multiple="false"
                                            style="word-wrap:break-word" vflex="true"
                                            emptyMessage="Không tồn tại danh mục" mold="paging"
                                            pageSize="10">
                                            <listhead sizable="true">
                                                <listheader width="5%"
                                                            label="STT" align="center" />
                                                <listheader width="85%"
                                                            label="Tên tệp" align="left" />

                                                <listheader width="5%"
                                                            label="Tải về" align="center" />
                                            </listhead>
                                            <template name="model">
                                                <listitem
                                                    value="${each}">
                                                    <listcell
                                                        label="${forEachStatus.index+1}" />
                                                    <listcell
                                                        label="${each.attachName}" />
                                                    <listcell>
                                                        <image
                                                            forward="onClick=finalFileListboxProReject.onDownloadFinalFile(${each})"
                                                            src="/Share/img/icon/download.png" width="20px" height="20px"
                                                            tooltiptext="Tải file" />
                                                    </listcell>

                                                </listitem>
                                            </template>
                                        </listbox>
                                    </h:td>
                                </h:tr>
                            </h:table>
                        </groupbox>
                    </div>

                    <div if="${$composer.checkListSDBS()==1}">
                        <groupbox width="100%" sclass="gb-form-create"
                                  closable="false">
                            <caption
                                label="CÔNG VĂN PHÊ DUYỆT YÊU CẦU SỬA ĐỔI BỔ SUNG" />
                            <h:table width="100%" align="center">
                                <h:tr>
                                    <h:td colspan="4"
                                          style="text-align:center">
                                        <listbox
                                            id="finalFileListboxProSDBS" multiple="false"
                                            style="word-wrap:break-word" vflex="true"
                                            emptyMessage="Không tồn tại danh mục" mold="paging"
                                            pageSize="10">
                                            <listhead sizable="true">
                                                <listheader width="5%"
                                                            label="STT" align="center" />
                                                <listheader width="85%"
                                                            label="Tên tệp" align="left" />

                                                <listheader width="5%"
                                                            label="Tải về" align="center" />
                                            </listhead>
                                            <template name="model">
                                                <listitem
                                                    value="${each}">
                                                    <listcell
                                                        label="${forEachStatus.index+1}" />
                                                    <listcell
                                                        label="${each.attachName}" />
                                                    <listcell>
                                                        <image
                                                            forward="onClick=finalFileListboxProSDBS.onDownloadFinalFile(${each})"
                                                            src="/Share/img/icon/download.png" width="20px" height="20px"
                                                            tooltiptext="Tải file" />
                                                    </listcell>

                                                </listitem>
                                            </template>
                                        </listbox>
                                    </h:td>
                                </h:tr>
                            </h:table>
                        </groupbox>
                    </div>


                </tabpanel>
                <tabpanel id="process">
                    <include id="flow_process"
                                 src="/Pages/admin/flow/flowCurrentViewImportDevice.zul" />
                </tabpanel>

                <tabpanel>
                    <div>
                        <listbox id="finalFileMessage" multiple="false"
                                 style="word-wrap: break-word"
                                 emptyMessage="${$composer.getLabelCos('cosmetic_ds_khongtontaibanghi')}">
                            <listhead sizable="true">
                                <listheader
                                    label="${$composer.getLabelCos('cosmetic_stt')}" align="center"
                                    style="width:5%" sort="auto" />
                                <listheader label="Tin trao đổi"
                                            style="width:20%" />
                                <listheader label="Tên người tạo"
                                            align="center" hflex="min" />
                                <listheader label="Tên cơ quan tạo"
                                            align="center" hflex="min" />
                                <listheader
                                    label="${$composer.getLabelCos('cosmetic_thoigiantao')}"
                                    align="center" style="width:10%" />
                                <listheader label="Ngày sửa"
                                            align="center" style="width:10%" />
                                <listheader width="5%"
                                            label="${$composer.getLabelName('common_edit')}"
                                            align="center" />
                                <listheader width="5%"
                                            label="${$composer.getLabelName('common_delete')}"
                                            align="center" />
                            </listhead>
                            <template name="model">
                                <listitem>
                                    <listcell
                                        label="${forEachStatus.index + 1 + userPagingTop.pageSize * userPagingTop.activePage}" />
                                    <listcell label="${each.message}">
                                    </listcell>
                                    <listcell style="text-align:left"
                                              label="${each.creatorName}">
                                    </listcell>
                                    <listcell style="text-align:left"
                                              label="${each.createDeptName}">
                                    </listcell>
                                    <listcell
                                        style="text-align:center">
                                        <label
                                            value="${$composer.convertDateToString(each.createDate)}" />
                                    </listcell>
                                    <listcell
                                        style="text-align:center">
                                        <label
                                            value="${$composer.convertDateToString(each.modifyDate)}" />
                                    </listcell>
                                    <listcell>
                                        <image
                                            src="/Share/img/icon/edit.png" width="20px" height="20px"
                                            forward="onClick=finalFileMessage.onUpdateFileMessage(${each})"
                                            if="${$composer.isAbleToModify(each)}"
                                            tooltiptext="Sửa tin nhắn" />
                                        <image
                                            src="/Share/img/icon/lock.png" width="20px" height="20px"
                                            if="${!$composer.isAbleToModify(each)}"
                                            tooltiptext="Không thể sửa tin nhắn" />
                                    </listcell>
                                    <listcell>
                                        <image
                                            src="/Share/img/icon/delete.png" width="20px" height="20px"
                                            forward="onClick=finalFileMessage.onDeleteFileMessage(${each})"
                                            if="${$composer.isAbleToDelete(each)}"
                                            tooltiptext="Xóa tin nhắn" />
                                        <image
                                            src="/Share/img/icon/lock.png" width="20px" height="20px"
                                            if="${!$composer.isAbleToDelete(each)}"
                                            tooltiptext="Không thể xóa tin nhắn" />
                                    </listcell>
                                </listitem>
                            </template>
                        </listbox>
                    </div>
                    <div align="center">
                        <button id="btnCreate" label="Thêm mới"
                                sclass="button" image="/Share/img/icon/add_1.png" />

                    </div>
                </tabpanel>

            </tabpanels>
        </tabbox>


        <div id="divToolbarBottom" class="toolBar">
            <image sclass="img-cal" style="float:left"
                   forward="onClick=windowViewGiahan.onClose"
                   src="/Share/img/png/quay-lai.png" tooltiptext="Quay lại" />
            <image src="/Share/img/png/flow.png" sclass="img-cal"
                   forward="onClick=windowViewGiahan.onViewFlow" style="float:left"
                   tooltiptext="Xem luồng" />
            <label id="lbBottomWarning" class="notify" />
        </div>
    </h:div>
</window>