﻿<?xml version="1.0" encoding="UTF-8"?>
<window id="createInternalProcessPopup" border="normal" width="50%"
        xmlns:h="http://www.w3.org/1999/xhtml"
        xmlns="http://www.zkoss.org/2005/zul"
        apply="com.viettel.module.common.Controller.UpdateInternalProcessController"
        position="center,center" closable="true">
    <style src="/Share/css/formstyle.css" />
    <style src="/Share/css/uploadstyle.css" />
    <script type="text/javascript" src="/Share/js/UPMSamples.js" />
    <caption label="Phiếu xử lý nội bộ" />

    <vlayout id="vlayoutMainPopup">
        <label id="lbTopWarning" style="color: red;" />
        <h:div width="100%">
            <h:table width="100%">
                <h:tr>
                    <h:td width="15%">
                        <label value="Ngày tạo" />
                    </h:td>
                    <h:td width="30%">
                        <datebox id="dbdateCreateInternal"
                                 format="dd/MM/yyyy" width="78%"  style="margin-left:10px;"/>
                    </h:td>
                    <h:td width="3%">
                        <label value=" " />
                    </h:td>
                    <h:td width="15%">
                        <label value="Nội dung" />
                    </h:td>
                    <h:td width="30%">
                        <textbox id="tbContentPopupInternal" maxlength="255" rows="5"
                                 width="90%" />
                    </h:td>

                </h:tr>
                <h:tr>
                    <h:td colspan="5" style="text-align:center">
                        <button label="Thêm mới" id="btnSaveIntenal"
                                src="/Share/img/icon/Add.png" />
                        <button label="Hủy bỏ" id="btnCancelInternalProcess"
                                src="/Share/img/icon/close.png" />
                    </h:td>
                </h:tr>                                
            </h:table>
        </h:div>
    </vlayout>
</window>
