<?xml version="1.0" encoding="UTF-8"?>
<zk xmlns:h="http://www.zkoss.org/2005/zk/native"
    xmlns="http://www.zkoss.org/2005/zul">
    
    <style src="/Share/css/formstyle.css" />
    
    <listbox id="lbList"   multiple="true"  checkmark="flase"
             emptyMessage="${$composer.getLabelCos('common_emptyMessage')}">
        <listhead sizable="true">
            <listheader label="${$composer.getLabelCos('rapidtest_stt')}" align="center" hflex="min" />
            <listheader label="${$composer.getLabelCos('rapidtest_mahoso')}" hflex="min" />
            <listheader label="${$composer.getLabelCos('rapidtest_sohoso')}" hflex="min" />
            <listheader label="${$composer.getLabelCos('rapidtest_thutuc')}" hflex="2" />
            <listheader label="${$composer.getLabelCos('rapidtest_tenbxn')}" hflex="2" />
            <listheader label="${$composer.getLabelCos('rapidtest_thoigiantao')}" hflex="min" />
            <listheader label="${$composer.getLabelCos('rapidtest_trangthaihs')}" hflex="2"/>
            <listheader label="${$composer.getLabelCos('common_view')}" align="center" hflex="min"
            />
            <listheader label="${$composer.getLabelCos('common_edit')}" align="center" hflex="min"
                    visible="${$composer.isCRUDMenu()}"/>
            <listheader label="${$composer.getLabelCos('common_delete')}" align="center" hflex="min"
                    visible="${$composer.isCRUDMenu()}" />
                                <listheader label="${$composer.getLabelCos('common_action')}"  align="center" style="width:10%" />
        </listhead>
        <template name="model">
            <listitem forward="onClick=lbList.onOpenView(${each})">
                <listcell label="${forEachStatus.index + 1 + userPagingTop.pageSize * userPagingTop.activePage}">
                </listcell>
                <listcell label="${each.nswFileCode}">
                </listcell>
                <listcell label="${each.rapidTestCode}"/>
                <listcell>
                    <label if="${each.documentTypeCode==-1}" value="${$composer.getLabelCos('common_notchoose')}"></label>
                    <label if="${each.documentTypeCode==16}" value="${$composer.getLabelCos('rapidtest_taomoi')}"></label>
                    <label if="${each.documentTypeCode==17}" value="${$composer.getLabelCos('rapidtest_suadoi')}"></label>
                    <label if="${each.documentTypeCode==18}" value="${$composer.getLabelCos('rapidtest_bosung')}"></label>
                </listcell>
                <listcell label="${each.rapidTestName}">
                </listcell>
                <listcell label="${each.createDate}">
                </listcell>
                <listcell label="${each.status} - ${$composer.getStatus(each.status)}"/>

                <listcell>                                           
                    <image src="/Share/img/icon/view.png"
                           width="20px" height="20px"
                           forward="onClick=lbList.onOpenView(${each})"
                           tooltiptext="${$composer.getLabelCos('common_view')}" />

                </listcell>

                 <listcell>                                      
                    <image src="/Share/img/icon/edit.png"
                           width="20px" height="20px"
                           forward="onClick=lbList.onOpenUpdate(${each})"
                           if="${$composer.isAbleToModify(each)}"
                           tooltiptext="${$composer.getLabelCos('common_edit')}" />
                    <image src="/Share/img/icon/lock.png"
                           width="20px" height="20px"
                           if="${!$composer.isAbleToModify(each)}"
                           tooltiptext="${$composer.getLabelCos('common_edit')}" />

                </listcell>
                <listcell>
                    <image src="/Share/img/icon/delete.png"
                           width="20px" height="20px"
                           forward="onClick=lbList.onDelete(${each})"
                           if="${$composer.isAbleToDelete(each)}"
                           tooltiptext="${$composer.getLabelCos('common_delete')}" />
                    <image src="/Share/img/icon/lock.png"
                           width="20px" height="20px"
                           if="${!$composer.isAbleToDelete(each)}"
                           tooltiptext="${$composer.getLabelCos('common_delete')}" />
                </listcell>

                <listcell>
                     <image src="/Share/img/icon/Copy-icon.png"
                        width="20px" height="20px"
                        forward="onClick=lbList.onCopy(${each})"
                        tooltiptext="${$composer.getLabelCos('common_copy')}" />
                     <image src="/Share/img/icon/view_file.png"
                           width="20px" height="20px"
                           forward="onClick=lbList.onViewSDBS(${each})" 
                           tooltiptext="Xem nôi dung yêu cầu sửa đổi"  
                           if="${$composer.checkDispathSDBS(each.fileId)==1}"/>              
                </listcell>
            </listitem>
        </template>
    </listbox>
    <separator />
	
</zk>