<?xml version="1.0" encoding="UTF-8"?>

<window xmlns:h="http://www.zkoss.org/2005/zk/native"
        xmlns="http://www.zkoss.org/2005/zul" id="userApprove"
        apply="com.viettel.voffice.DAO.System.Users.UserApproveController" xmlns:w="client">
    <style src="/Share/css/formstyle.css" />
    <caption label="${$composer.getLabel('userApprove_title')}" />
    <groupbox mold="3d">
        <caption label="Thông tin tìm kiếm" />
    
        <h:div id="searchDiv" style="width:100%" align="center">
            <h:table style="width:80%" class="searchTable">

                <h:tr>
                    
                    <h:td width="15%">
                        <label value="${$composer.getLabel('userApprove_doanhnghiep')}"/>
                    </h:td>
                    <h:td width="35%">
                        <textbox id="txtsTenDoanhNghiep"  value=""/>
                    </h:td >
                    <h:td width="15%">
                        <label value="${$composer.getLabel('userApprove_masothue')}"/>
                    </h:td>
                    <h:td width="35%">
                        <textbox id="txtsMaSoThue"  value=""/>
                    </h:td>
                </h:tr>
                <h:tr>
                    
                    <h:td width="15%">
                        <label value="${$composer.getLabel('userApprove_nguoidangky')}"/>
                    </h:td>
                    <h:td width="35%">
                        <textbox id="txtsNguoiDangKy"  value=""/>
                    </h:td>
                    <h:td width="15%">
                        <label value="${$composer.getLabel('userApprove_email')}"/>
                    </h:td>
                    <h:td width="35%">
                        <textbox id="txtsEmail"  value=""/>
                    </h:td>

                </h:tr>
                <h:tr>
                    
                    <h:td width="15%">
                        <label value="${$composer.getLabel('userApprove_trangthai')}"/>
                    </h:td>
                    <h:td width="35%">
                        <listbox id="cbsTrangThai" mold="select" onAfterRender='self.setSelectedIndex(3)'>
                            <template name="model">
                                <listitem label="${each[1]}" value="${each[0]}" />
                            </template>
                        </listbox>
                    </h:td>

                </h:tr>
                <h:tr>
                    <h:td colspan="4" style="text-align:center">
                        <button id="btnSearch" label="${$composer.getLabel('userApprove_timkiem')}" sclass="button" image="/Share/img/icon/search.jpg">
                            <attribute w:name="onClick"><![CDATA[
                                                                zAu.cmd0.showBusy(null);
                                                        ]]>
                            </attribute>
                        </button>
                    </h:td>
                </h:tr>
            </h:table>
        </h:div>
    </groupbox>
    <groupbox mold="3d">
        <caption label="Danh sách" />
    
        <h:div class="contentDiv">
            <listbox id="lbList" emptyMessage="${$composer.getLabel('common_emptyMessage')}" >
                <listhead sizable="true">
                    <listheader  label="${$composer.getLabel('userApprove_stt')}" align="center" style="width:3%" />
                    <listheader label="${$composer.getLabel('userApprove_doanhnghiep')}" align="center" style="width:20%" />
                    <listheader label="${$composer.getLabel('userApprove_masothue')}" align="center" style="width:10%" />
                    <listheader label="${$composer.getLabel('userApprove_sodangky')}" align="center" style="width:6%" />
                    <listheader label="${$composer.getLabel('userApprove_email')}" align="center" style="width:15%" />
                    <listheader label="${$composer.getLabel('userApprove_nguoidangky')}" align="center" style="width:15%" />
                    <listheader label="${$composer.getLabel('userApprove_ngaydangky')}" align="center" style="width:10%" />
                    <listheader label="${$composer.getLabel('userApprove_trangthai')}" align="center" style="width:10%"/>
                    <listheader label="${$composer.getLabel('userApprove_xem')}" align="center" style="width:5%" />
                </listhead>
                <template name="model">
                    <listitem forward="onClick=lbList.onOpenUpdate(${each})">
                        <listcell label="${forEachStatus.index + 1 + userPagingTop.pageSize * userPagingTop.activePage}">
                        </listcell>
                        <listcell label="${each.businessNameVi}" style="text-align:left">
                        </listcell>
                        <listcell label="${each.businessTaxCode}" style="text-align:left">
                        </listcell>
                        <listcell label="${each.businessLicense}" style="text-align:left">
                        </listcell>
                        <listcell label="${each.manageEmail}" style="text-align:left">
                        </listcell>
                        <listcell label="${each.userFullName}" style="text-align:left">
                        </listcell>
                        <listcell   label="${$composer.convertDateToString(each.dateCreate)}">
                        </listcell>
                        <listcell label="${$composer.getStatus(each.status)}">
                        </listcell>
                        <listcell>
                            <image src="/Share/img/icon/edit.png"
                               width="20px" height="20px"
                               forward="onClick=lbList.onOpenUpdate(${each})"
                               tooltiptext="Xem" />
                        </listcell>
                    </listitem>
                </template>
            </listbox>
            <paging id="userPagingBottom" pageSize="10" detailed="true" />
        </h:div>
    </groupbox>
</window>
