<?xml version="1.0" encoding="UTF-8"?>
<zk xmlns:h="http://www.zkoss.org/2005/zk/native"
	xmlns="http://www.zkoss.org/2005/zul">

	<style src="/Share/css/formstyle.css" />

	<listbox id="lbList" multiple="true" 
		emptyMessage="${$composer.getLabelCos('common_emptyMessage')}">
		<listhead sizable="true">
			<listheader label="${$composer.getLabelCos('cosmetic_stt')}"
				align="center" style="width:5%" sort="auto" />
			<listheader
				label="${$composer.getLabelCos('cosmetic_mahoso')}" align="center"
				style="width:10%" />
			<listheader label="Tên doanh nghiệp" align="center"
				style="width:20%" />
			<listheader label="Số vận đơn" align="center" hflex="min" />
			<listheader label="Số hợp đồng" align="center" hflex="min" />
			<listheader label="Số hóa đơn" align="center" hflex="min" />
			<listheader
				label="${$composer.getLabelCos('cosmetic_thoigiantao')}"
				align="center" style="width:10%" />
			<listheader
				label="${$composer.getLabelCos('cosmetic_trangthaihs')}"
				align="center" style="width:15%" />
			<listheader label="${$composer.getLabelCos('common_view')}"
				align="center" hflex="min" />
			<listheader label="${$composer.getLabelCos('common_edit')}"
				align="center" hflex="min" visible="${$composer.isCRUDMenu()}" />
			<listheader
				label="${$composer.getLabelCos('common_delete')}" align="center"
				hflex="min" visible="${$composer.isCRUDMenu()}" />
			<listheader
				label="${$composer.getLabelCos('common_action')}" align="center"
				style="width:10%" />

		</listhead>
		<template name="model">
			<listitem forward="onClick=lbList.onOpenView(${each})">
				<listcell
					label="${forEachStatus.index + 1 + userPagingTop.pageSize * userPagingTop.activePage}" />
				<listcell label="${each.fileCode}"></listcell>
				<listcell style="text-align:left"
					label="${each.businessName}">
				</listcell>
				<listcell style="text-align:left"
					label="${each.transNo}">
				</listcell>
				<listcell style="text-align:left"
					label="${each.contractNo}">
				</listcell>
				<listcell style="text-align:left"
					label="${each.billNo}">
				</listcell>
				<!--<listcell label="${$composer.cutString(each.businessName, 50)}" tooltiptext="${each.businessName}" />-->
				<!--<listcell label="${$composer.cutString(each.businessAddress, 50)}" tooltiptext="${each.businessAddress}" />-->
				<!--<listcell label="${$composer.cutString(each.distributePersonName, 40)}" tooltiptext="${each.distributePersonName}"/>-->
				<!--<listcell label="${$composer.cutString(each.distributePersonPhone, 15)}" tooltiptext="${each.distributePersonPhone}"/>-->
				<listcell style="text-align:center">
					<label
						value="${$composer.convertDateToString(each.createDate)}"
						multiline="true" pre="true" if="${each.deadlineWarning == 1}" />
					<label
						value="${$composer.convertDateToString(each.createDate)}"
						multiline="true" pre="true" sclass="label-info-red"
						if="${each.deadlineWarning != 1}" />
				</listcell>
				<listcell style="text-align:left">
					<label value="${$composer.getStatus(each.status)}"
						multiline="true" pre="true" if="${each.deadlineWarning == 1}" />
					<label value="${$composer.getStatus(each.status)}"
						multiline="true" pre="true" sclass="label-info-red"
						if="${each.deadlineWarning != 1}" />



				</listcell>
				<listcell>

					<image src="/Share/img/icon/view.png" width="20px"
						height="20px" forward="onClick=lbList.onOpenView(${each})"
						tooltiptext="${$composer.getLabelCos('common_view')}" />

				</listcell>
				<listcell>

					<image src="/Share/img/icon/edit.png" width="20px"
						height="20px" forward="onClick=lbList.onOpenUpdate(${each})"
						if="${$composer.isAbleToModify(each)}"
						tooltiptext="${$composer.getLabelCos('common_edit')}" />
					<image src="/Share/img/icon/lock.png" width="20px"
						height="20px" if="${!$composer.isAbleToModify(each)}"
						tooltiptext="${$composer.getLabelCos('common_edit')}" />

				</listcell>
				<listcell>
					<image src="/Share/img/icon/delete.png" width="20px"
						height="20px" forward="onClick=lbList.onDelete(${each})"
						if="${$composer.isAbleToDelete(each)}"
						tooltiptext="${$composer.getLabelCos('common_delete')}" />
					<image src="/Share/img/icon/lock.png" width="20px"
						height="20px" if="${!$composer.isAbleToDelete(each)}"
						tooltiptext="${$composer.getLabelCos('common_delete')}" />
				</listcell>

				<listcell>
					<image src="/Share/img/icon/Copy-icon.png"
						width="20px" height="20px"
						forward="onClick=lbList.onCopy(${each})"
						tooltiptext="${$composer.getLabelCos('common_copy')}" />
					<image src="/Share/img/icon/attach.png" width="20px"
						height="20px" forward="onClick=lbList.onDownLoadGiayPhep(${each})"
						if="${$composer.CheckGiayPhep(each.fileId)==1}"
						tooltiptext="Phiếu công bố" />
					<image src="/Share/img/icon/view_file.png"
						width="20px" height="20px"
						forward="onClick=lbList.onViewSDBS(${each})"
						tooltiptext="Xem nôi dung yêu cầu sửa đổi"
						if="${$composer.checkDispathSDBS(each.fileId)==1}" />
				</listcell>
			</listitem>
		</template>
	</listbox>
	<separator />

</zk>