<?xml version="1.0" encoding="UTF-8"?>
<window xmlns:h="http://www.zkoss.org/2005/zk/native"
        xmlns="http://www.zkoss.org/2005/zul" id="businessWindow"
        xmlns:w="http://www.zkoss.org/2005/zk/client"
        apply="com.viettel.module.importDevice.Controller.include.ID_5_2_AppraisalCrossNotOkController" closable="true">
    
    <style src="/Share/css/formstyle.css" />
    <style src="/Share/css/uploadstyle.css" />
    <script type="text/javascript" src="/Share/js/UPMSamples.js" />
    <vlayout id="layoutComment">
        <label id="lbTopWarning" style="color: red;" />
        <h:table width="100%" align="center">
            <h:th width="15%" />
            <h:th width="35%" />
            <h:th width="15%" />
            <h:th width="35%" />
            <h:tr>
                <h:td colspan="4">
                    <label value="Chọn và nhập kết quả thẩm tra "
                                               style="font-size: 90%; font-style: italic" />
                </h:td>
            </h:tr>
            <h:tr>
                <h:td>
                    <label value="Kết quả thẩm tra:"
                                               sclass="hightlight" />
                </h:td>
                <h:td>
                    <label id="lblAppraisal" value=""
                                               sclass="label-info" />
                </h:td>
                <h:td>
                    <label value="Ý kiến kiểm tra:"
                                               sclass="hightlight" />
                </h:td>
                <h:td>
                    <label id="lblResonRequest" sclass="label-info"/>
                </h:td>
            </h:tr>
			
            <h:tr>
                <h:td>
                    <label value="Kết quả kiểm tra:"
                                               sclass="hightlight" />
                    <label value=" *" sclass="label-required" />
                </h:td>
                <h:td>
                    <label id="lbResultCheck" sclass="label-info"/>
                </h:td>
                
            </h:tr>
<!--            <h:tr>
                
                <h:td>
                    <label value="Lý do:"
                                               sclass="hightlight" />
                </h:td>
                <h:td colspan="3">
                    <textbox id="tbOptionCheck" width="85%" rows="5"
                                                 value="" multiline="true" />
                </h:td>
            </h:tr>-->
        </h:table>

        <div align="center" visible="false">
            <button id="btnSubmit" label="Gửi xử lý" visible="true"
                                image="/Share/img/icon/send_document_1.png" />
        </div>
        <textbox id="txtValidate" visible="false" />
        <label id="lbBottomWarning" style="color: red;" />
    </vlayout>
</window>